<div id="banner" class="front-banner">
<span ng-if="authUserDetail">
       <figure ng-if="authUserDetail.cover_image" style="background-image:url({{ (authUserDetail.cover_image) }})" class="cover"></figure>
        <figure ng-if="!authUserDetail.cover_image" style="background-image:url({{'image/front-banner.jpg' | createImagePath  }})" class="cover"></figure>
            </span>

    <div class="banner-inside">
      <div class="container">

        <div class="feature-row">
           <div class="feature-col">
              <div class="cover" style="background-image:url({{ 'image/add-item.jpg' | createImagePath }});"></div>
               <div class="col-inside">
                  <div ng-click="openItem()"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span>
                    <p ng-if="!groupId">Add Item</p>
                    <p ng-if="groupId">Add Sub-Item</p>
                  </div>
                </div>
            </div>

          <group-slider group-item="cardGroup"
          selected-item="selectedItem"
          has-group="groupId"
          filter-group="filterGroupByType(group)"
          filter-result="filterItemByType(group)">
        </group-slider>
          <!--feature-slide-->
          <!--feature-slide-outside-->

          <!--<div ng-if="groupFlag" class="feature-col"> <img ng-src="{{ 'image/add-item.jpg' | createImagePath }}" class="img-responsive" alt=""/>
            <div class="col-inside">
              <div ng-click="openGroup()"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span>
                <p>Add Group</p>
              </div>
            </div>
          </div>

          <div class="feature-col"> <img ng-src="{{ 'image/add-item.jpg' | createImagePath }}" class="img-responsive" alt=""/>
            <div class="col-inside">
              <div ng-click="openModal('add-section-content')"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span>
                <p>Add Section</p>
              </div>
            </div>
          </div>-->
          <!--add-item-->
        </div>
        <!--feature-row-->
<!--
        <h1>My Items</h1> -->

<div class="row" style="clear:both">
<div class="col-md-3 left-col">
  <div class="filter">
    <ul class="filter-links">
     <li class="quick-add">
        <!-- <form>
          <input type="text" class="input" placeholder="Type Here" ng-model="filterName" key-enter="filterItem('name')">
        </form> -->
          <div class="input-group">
            <input id="quick-add-input" type="text" class="input form-control" ng-model="quickAddTitle" placeholder="NEW ITEM NAME" key-enter="quickAdd()" autofocus>
            <span class="quick-btn" ng-click="quickAdd()" style="background-color: #0099ff;color:withe;">Quick Add</span>
          </div>
      </li>
    </ul>
  </div>
  <!--filter-->
</div>
<div class="col-md-6 middle-col">
   <div class="filter pull-right">
    <ul class="filter-links">
            <li><span>Sort by:</span></li>
            <li><span ng-class="{active: (selectedSorting == 'date')}" ng-click="sortItems('date')">Date</span></li>
            <li><span ng-class="{active: (selectedSorting == 'priority')}" ng-click="sortItems('priority')">priority</span></li>
            <li><span ng-class="{active: (selectedSorting == 'title')}" ng-click="sortItems('name')">Title</span></li>
            <li><span class="active" ng-click="changeSortType()">
                <span ng-class="{'active-order' : (sortingType == 'asc'), 'deactive-order' : (sortingType == 'desc')}">A-Z</span>/
                <span  ng-class="{'active-order' : (sortingType == 'desc'), 'deactive-order' : (sortingType == 'asc')}">Z-A</span>
              </span>
            </li>
     </ul>
  </div>
  <!--filter-->
</div>
<div class="col-md-3 right-col">
  <div class="filter">
    <ul class="filter-links">
     <li class="quick-add">
        <!-- <form>
          <input type="text" class="input" placeholder="Type Here" ng-model="filterName" key-enter="filterItem('name')">
        </form> -->
          <div class="input-group">
            <input id="quick-add-input" type="text" class="input form-control" ng-model="filterName" placeholder="SEARCH THIS ITEM" key-enter="filterItem('name')" autofocus>
            <span class="quick-btn" ng-click="filterItem('name')" style="background-color: #0099ff;color:withe;">search</span>
          </div>
      </li>
    </ul>
  </div>
  <!--filter-->
 </div>
 </div>



       </div>
    </div>
  </div>
  <!--banner-->
