<div class="project-row">
   <div class="check"><input type="checkbox" id="check3"><label for="check3"></label></div>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12"><a href="browse-details.html"><img ng-src="images/project-img.jpg" class="img-responsive" alt=""> </a></div>
    <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="project-row-content">
        <div class="project-head">
          <h1>PROJECT MEETING wITH cLIENT</h1>
          <span class="date">19 June, 2018</span><span class="time">11:30am</span> </div>
        <!--project-head-->
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        <div class="project-footer">
          <div class="row">
            <div class="col-md-4 col-sm-3 col-xs-12">
              <p><strong>Address</strong></p>
              <p>1235 Bay Street,
                Toronto, Ontario,
                M5R 3K4</p>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-3">
              <p>City</p>
              <p>Toronto,</p>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-3">
              <p>Price</p>
              <p>$ 500</p>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-3">
              <p>Time</p>
              <p>11:00 Am</p>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-3">
              <p>Time</p>
              <p>11:00 Am</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-3">
              <p>City</p>
              <p>Toronto,</p>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-3">
              <p>City</p>
              <p>Toronto,</p>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-3">
              <p>City</p>
              <p>Toronto,</p>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-3">
              <p>Price</p>
              <p>$ 500</p>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-3">
              <p>Time</p>
              <p>11:00 Am</p>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-3">
              <p>Time</p>
              <p>11:00 Am</p>
            </div>
          </div>
        </div>
        <!--project-footer-->
          <div class="pull-right row-icons">
          <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-arrows-alt" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
         </div>
      </div>
      <!--project-row-content-->
    </div>
  </div>
</div>
<!--project-row-->
