<div class="check">
  <input type="checkbox" id="selected_{{data.id}}" checked="true" />
  <label for="selected_{{data.id}}" ng-click="checkAndMove({currentItem:data})"></label></div>

  <div class="row">
    <div ng-if="data.card_image" class="col-md-2 col-sm-3 col-xs-12">
      <!--<a ng-click="selectItem({'data' : data})">-->
        <a ui-sref="myItem({groupId: data.card_type_id})">
            <!--<div class="cover" style="background-image:url({{data.card_image | createImagePath}});">
            </div>-->
            <img image-dimensions type="hidden" ng-src="{{data.card_image }}" class="img-responsive project-img" alt=""
            >
           <!--     <img image-dimensions type="hidden" ng-src="../image/add-photo.jpg" class="img-responsive project-img" alt=""
            > -->



        </a>
<div class="show-icons">
             <i ng-if = "!data.two_way_sync" class="fa fa-share-alt-square fa-lg"></i>
            <i ng-if = "!data.live_item" class="fa fa-circle fa-lg"></i>
            <i ng-if = "!share_on_showcase" class="fa fa-refresh fa-lg"></i>
 </div><!--show-icons-->

    </div>
    <div ng-class="{'col-md-10 col-sm-9 col-xs-12' : data.card_image, 'col-md-12 col-sm-12 col-xs-12' : !data.card_image}">
      <div class="project-row-content">
        <div ng-if="dataToDisplay" class="project-head">

        <div  class="row">
           <div class="col-md-6 col-sm-12 col-xs-12 multiple-line-css">
               <a ui-sref="myItem({groupId: data.card_type_id})"><h1 ng-if="data.title.length <= 300">{{data.title}}</h1></a>
               <a ui-sref="myItem({groupId: data.card_type_id})"><h1 ng-if="data.title.length > 300">{{data.title | limitTo:300}}...</h1></a>
               <span class="date">{{data.card_date | convertDateFormat}}</span><span class="time">{{data.card_time | convertTimeFormat}}</span>
           </div>
           <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="project-footer">
               <div class="row">
                  <div ng-repeat="(itemField, itemValue) in dataToDisplay" class="col-md-4 col-sm-4 col-xs-4">
                    <p><strong>{{itemField  | getTitle}}</strong></p>
                    <p  class="multiple-line-css" ng-if="itemValue.length > 30" style="font-size:15px !important;" >
                      {{ itemValue | limitTo:30}}
                      <span>...</span>
                    </p>
                    <p class="multiple-line-css" ng-if="itemValue.length <= 30" style="font-size:15px !important;" >
                      {{ itemValue | getValue:itemField }}
                    </p>
                  </div>
              </div>
            </div>
           </div>
       </div>
     </div>

      <div ng-if="!dataToDisplay" class="project-head-without-padding">
             <div  class="row">
                 <div class="col-md-12 col-sm-12 col-xs-12 multiple-line-css">
                     <a ui-sref="myItem({groupId: data.card_type_id})"><h1 ng-if="data.title.length">{{data.title}}</h1></a>
                     <span class="date">{{data.card_date | convertDateFormat}}</span><span class="time">{{data.card_time | convertTimeFormat}}</span>
                 </div>
             </div>

      </div>

  </div>
        <!--project-head-->
        <!--<p>{{data.body | limitTo: 250}} </p><span ng-click="viewItem({currentItem:data})" style="cursor: pointer;" ng-if="data.body.length > 250">Show more</span>-->

          <!-- <div class="pull-right row-icons">
          <a ng-if="data.two_way_sync == 1 && data.live_item == 0" style="cursor:pointer" ng-click="editItem({currentItem:data})"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
          <a style="cursor:pointer" ng-click="viewItem({currentItem:data})"><i class="fa fa-eye" aria-hidden="true"></i></a>
          <a ng-if="data.share_on_showcase == 1" style="cursor:pointer" ng-click="shareItem({currentItem:data})"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
          <a style="cursor:pointer" ng-click="openDeleteItem({currentItem:data})"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
         </div> -->

      </div>
      <!--project-row-content-->
    </div>

    <div  ng-if="!data.card_image" class="show-icons-wdout-image col-md-2 col-sm-3 col-xs-12">
            <i ng-if = "!data.two_way_sync" class="fa fa-share-alt-square fa-lg"></i>
            <i ng-if = "!data.live_item" class="fa fa-circle fa-lg"></i>
            <i ng-if = "!share_on_showcase" class="fa fa-refresh fa-lg"></i>
   </div>

    <div class="pull-right row-icons ">
        <a style="cursor:pointer" ng-click="editItem({currentItem:data})"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <a style="cursor:pointer" ng-click="viewItem({currentItem:data})"><i class="fa fa-eye" aria-hidden="true"></i></a>
        <a ng-if="data.share_on_showcase == 1" style="cursor:pointer" ng-click="shareItem({currentItem:data})"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
        <a style="cursor:pointer" ng-click="openDeleteItem({currentItem:data})"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
       </div>
       <div style="clear:both"></div>
