<div class="project-row">
       <div class="check"><input type="checkbox" id="{{data.id}}"><label for="{{data.id}}"></label></div>
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <a href="browse-details.html">
                <img image-dimensions-main ng-if="data.card_image" ng-src="{{ data.card_image }}" class="img-responsive project-img-full" alt="">
                <img image-dimensions-main ng-if="!data.card_image" ng-src="{{ 'image/project-img2.jpg' | createImagePath }}" class="img-responsive project-img-full" alt="">
            </a>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="project-row-content">
              <div class="project-head">
                <h1 class="multiple-line-css">{{data.title}}</h1>
                <span class="date">{{data.card_date | convertDateFormat}}</span><span class="time">{{data.card_time | convertTimeFormat}}</span>
              </div>
              <!--project-head-->
              <p class="multiple-line-css">{{data.body | limitTo: 200}}</p>
              <div class="project-footer">
                <div class="row">
                  <div ng-if="data.location_address" class="col-md-4 col-sm-3 col-xs-12 multiple-line-css">
                    <p><strong>Address</strong></p>
                    <p class="multiple-line-css">{{data.location_address}}</p>
                  </div>
                  <div ng-if="data.cityName" class="col-md-2 col-sm-3 col-xs-3 multiple-line-css">
                    <p><strong>City</strong></p>
                    <p>{{data.cityName}}</p>
                  </div>
                     <div ng-if="data.priority" class="col-md-2 col-sm-3 col-xs-3 multiple-line-css">
                    <p><strong>Priority</strong></p>
                    <p> {{data.priority}}</p>
                  </div>
                    <div ng-if="data.is_active" class="col-md-2 col-sm-3 col-xs-3 multiple-line-css">
                    <p><strong>Status</strong></p>
                    <p> {{data.is_active}}</p>
                  </div>
                  <div ng-if="data.price" class="col-md-2 col-sm-3 col-xs-3 multiple-line-css">
                    <p><strong>Price</strong></p>
                    <p>$ {{data.price}}</p>
                  </div>
                  <div ng-if="data.quantity" class="col-md-2 col-sm-3 col-xs-3 multiple-line-css">
                    <p><strong>Quantity</strong></p>
                    <p> {{data.quantity}}</p>
                  </div>
                  <div ng-if="data.discount" class="col-md-2 col-sm-3 col-xs-3 multiple-line-css">
                    <p><strong>Discount</strong></p>
                    <p>{{data.discount}} %</p>
                  </div>
                </div>
                <div class="row">
                 <div ng-if="data.spacs_size" class="col-md-2 col-sm-3 col-xs-3 multiple-line-css">
                   <p><strong>Size</strong></p>
                   <p>{{data.spacs_size}}</p>
                 </div>
                 <div ng-if="data.for_gender" class="col-md-2 col-sm-3 col-xs-3 multiple-line-css">
                   <p><strong>Gender</strong></p>
                   <p>{{data.for_gender}}</p>
                 </div>
                 <div ng-if="data.for_age" class="col-md-2 col-sm-3 col-xs-3 multiple-line-css">
                   <p><strong>Age</strong></p>
                   <p>{{data.for_age}}</p>
                 </div>
                 <div ng-if="data.spacs_brand" class="col-md-2 col-sm-3 col-xs-3 multiple-line-css">
                   <p><strong>Brand</strong></p>
                   <p>{{data.spacs_brand}}</p>
                 </div>
                 <div ng-if="data.spacs_model" class="col-md-2 col-sm-3 col-xs-3 multiple-line-css">
                   <p><strong>Model</strong></p>
                   <p>{{data.spacs_model}}</p>
                 </div>
                 <div ng-if="data.spacs_color" class="col-md-2 col-sm-3 col-xs-3 multiple-line-css">
                   <p><strong>Color</strong></p>
                   <p>{{data.spacs_color}}</p>
                 </div>
               </div>
              </div>
              <!--project-footer-->


            </div>

            <!--project-row-content-->
          </div>
</div>
<div style="margin-bottom:5px;">
  <div  class="show-icons-wdout-image col-md-6 col-sm-6 col-xs-12" style="text-align:left !important;margin-bottom:5px;">
          <i ng-if = "!data.two_way_sync" class="fa fa-share-alt-square fa-lg"></i>
          <i ng-if = "!data.live_item" class="fa fa-circle fa-lg"></i>
          <i ng-if = "!share_on_showcase" class="fa fa-refresh fa-lg"></i>
          <b>Created By</b> : {{ data.created_by }}
  </div>
  <div class="pull-right row-icons"  style="margin-bottom:5px;">
    <a style="cursor:pointer" ng-click="editItem({currentItem:data})"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    <a style="cursor:pointer" ng-click="viewItem({currentItem:data})"><i class="fa fa-eye" aria-hidden="true"></i></a>
    <a ng-if="data.two_way_sync == 1" style="cursor:pointer" ng-click="shareItem({currentItem:data})"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
    <a style="cursor:pointer" ng-click="openDeleteItem({currentItem:data})"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
   </div>
 </div>
