

  <div class="row">
    <div ng-if="data.card_image" class="col-md-2 col-sm-3 col-xs-12">
      <!--<a ng-click="selectItem({'data' : data})">-->
        <a ui-sref="myItem({groupId: data.card_type_id})">
            <!--<div class="cover" style="background-image:url({{data.card_image | createImagePath}});">
            </div>-->
            <img image-dimensions type="hidden" ng-src="{{data.card_image }}" class="img-responsive project-img" alt=""
            >
          <!--      <img image-dimensions type="hidden" ng-src="../image/add-photo.jpg" class="img-responsive project-img" alt=""
            > -->



        </a>
        <div class="show-icons">
                     <i ng-if = "!data.two_way_sync" class="fa fa-share-alt-square fa-lg"></i>
                    <i ng-if = "!data.live_item" class="fa fa-circle fa-lg"></i>
                    <i ng-if = "!share_on_showcase" class="fa fa-refresh fa-lg"></i>
         </div><!--show-icons-->

    </div>
    <div ng-class="{'col-md-10 col-sm-9 col-xs-12' : data.card_image, 'col-md-12 col-sm-12 col-xs-12' : !data.card_image}">
      <div class="project-row-content">
        <div ng-if="dataToDisplay" class="project-head">

        <div  class="row">
           <div class="col-md-6 col-sm-12 col-xs-12 multiple-line-css">
               <a ui-sref="myItem({groupId: data.card_type_id})"><h1 ng-if="data.title.length <= 300">{{data.title}}</h1></a>
               <a ui-sref="myItem({groupId: data.card_type_id})"><h1 ng-if="data.title.length > 300">{{data.title | limitTo:300}}...</h1></a>
               <span class="date">{{data.card_date | convertDateFormat}}</span><span class="time">{{data.card_time | convertTimeFormat}}</span>
           </div>
           <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="project-footer">
               <div class="row">
                  <div ng-repeat="(itemField, itemValue) in dataToDisplay" class="col-md-4 col-sm-4 col-xs-4">
                    <p><strong>{{itemField  | getTitle}}</strong></p>
                    <p  class="multiple-line-css" ng-if="itemValue.length > 30" style="font-size:15px !important;" >
                      {{ itemValue | limitTo:30}}
                      <span>...</span>
                    </p>
                    <p class="multiple-line-css" ng-if="itemValue.length <= 30" style="font-size:15px !important;" >
                      {{ itemValue | getValue:itemField }}
                    </p>
                  </div>
              </div>
            </div>
           </div>
       </div>
     </div>

      <div ng-if="!dataToDisplay" class="project-head-without-padding">
             <div  class="row">
                 <div class="col-md-12 col-sm-12 col-xs-12 multiple-line-css">
                     <a ui-sref="myItem({groupId: data.card_type_id})"><h1 ng-if="data.title.length">{{data.title}}</h1></a>
                     <span class="date">{{data.card_date | convertDateFormat}}</span><span class="time">{{data.card_time | convertTimeFormat}}</span>
                 </div>
             </div>

      </div>


      </div>
      </div>
      <!--project-row-content-->
    </div>
  
