<div class="chat-left content-x"  style="overflow-x:hidden;">
	<div class="chat-left-header">
		<h2>Inbox</h2> <div class="menu-chat"><i class="fa fa-bars" aria-hidden="true"></i></div><!--menu-chat-->
 		<!-- <span class="number">104</span> -->
	</div>
	<!--chat-left-header-->

	<ul class="user-list">
		<li ng-class="{'active' : (validUsers.indexOf(item.email) != -1)}" ng-repeat="(index, item) in userList"
			ng-if="isContactEmail({email:item.email})"
			ng-click="click({index:index, item:item})">
			<span class="image"><img ng-src="{{ item.photoURL | createImagePath }}" class="img-circle" alt=""/></span>
			<p class="name">{{item.name | uppercase}}</p>
			<span ng-if="unReadMessageCount({item:item}) != 0"><strong>{{unReadMessageCount({item:item})}}</strong></span>
			<p><ls ng-if="getLastMessagePostedBy({item:item}) == email" ng-bind-html="getLastMessage({item:item}) | lastMessage">&#10003; </ls></p>
			<p class="time">{{getLastMessageTime({item:item}) | date:'HH:mm'}}&nbsp;</p>
		</li>
	</ul>
	<!--user-list-->
</div>
<!--chat-left-->
