<nevbar-main-section></nevbar-main-section>
<div class="chat-content">
		<div ng-if="!authContactList.length" class="profile-content"  style="margin-top:100px;" align="center">
			<h1 style="width:700px;">{{intialMessage}}</h1>
			<div ng-if="intialButton">
					<a ui-sref="myContact()">
						<button type="button" class="contact-btn">
							<i class="fa fa-plus" aria-hidden="true"></i>  Add Contact
						</button>
					</a>
			</div>
		</div>


		<leftmsg-directive
			ng-show="authContactList.length"
			is-contact-email="isContactEmail(email)"
			click="joinChat(index, item)"
			user-list="userList"
			valid-users="validUsers"
			auth-contact-list="authContactList"
			email="email"
			get-last-message="getLastMessage(item)"
			get-last-message-posted-by="getLastMessagePostedBy(item)"
			get-last-message-time="getLastMessageTime(item)"
			un-read-message-count="unReadMessageCount(item)">
	 </leftmsg-directive>

	<div class="chat-right content-m">
		<rightmsg-directive ng-if="authContactList.length" chat-messages="chatMessages" email="email" auth-contact-list="authContactList">
		</rightmsg-directive>


		<div class="chat-footer">
			<div ng-show="authContactList.length">
				<!--<span class="attachment">
					<i class="fa fa-paperclip" aria-hidden="true">
						<input style="z-index:1000;" type="file" class="imgInp" nv-file-select="" uploader="uploader" multiple>
					</i>

				</span>-->
				<!--attachment-->
				<input type="text"
					name="message"
					placeholder="Type your message..."
					class="form-control chat-input"
					ng-model="message"
					ng-keypress="sendMessage($event)"
					autocomplete="off" autofocus>
				<div class="chat-footer-right">
					<emoji-span></emoji-span>
					<button type="submit" class="send" ng-click="sendOnClick()"><img src="{{ 'image/send.png'  | createImagePath }}" alt=""></button>
			   </div>
			</div>

		</div>
	</div>
	<!--chat-right-->
</div>
<!--chat-content-->
<footer id="chatfooter">
	<div class="container">
		<div class="col-md-9 col-sm-8 col-xs-12 ftr-col-left">
			<div class="copyright">Copyright 2017, Scedge Inc.  |   Feedback,</div>
		</div>

		<div class="col-md-3 col-sm-4 col-xs-12 ftr-col-right pull-right">
			<div class="social pull-right">
				<a href="#" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="#" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="#" class="link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
				<a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			</div>
			<!--social-->
		</div>
	</div>
</footer>


<div class="wdt-emoji-popup">
  <a href="#" class="wdt-emoji-popup-mobile-closer"> × </a>
  <div class="wdt-emoji-menu-content">
    <div id="wdt-emoji-menu-header">
      <a class="wdt-emoji-tab active" data-group-name="Recent"></a>
      <a class="wdt-emoji-tab" data-group-name="People"></a>
      <a class="wdt-emoji-tab" data-group-name="Nature"></a>
      <a class="wdt-emoji-tab" data-group-name="Foods"></a>
      <a class="wdt-emoji-tab" data-group-name="Activity"></a>
      <a class="wdt-emoji-tab" data-group-name="Places"></a>
      <a class="wdt-emoji-tab" data-group-name="Objects"></a>
      <a class="wdt-emoji-tab" data-group-name="Symbols"></a>
      <a class="wdt-emoji-tab" data-group-name="Flags"></a>
      <a class="wdt-emoji-tab" data-group-name="Custom"></a>
    </div>
    <div class="wdt-emoji-scroll-wrapper">
      <div id="wdt-emoji-menu-items">
        <input id="wdt-emoji-search" type="text" placeholder="Search">
        <h3 id="wdt-emoji-search-result-title">Search Results</h3>
        <div class="wdt-emoji-sections"></div>
        <div id="wdt-emoji-no-result">No emoji found</div>
      </div>
    </div>
    <div id="wdt-emoji-footer">
      <div id="wdt-emoji-preview">
        <span id="wdt-emoji-preview-img"></span>
        <div id="wdt-emoji-preview-text">
          <span id="wdt-emoji-preview-name"></span><br>
          <span id="wdt-emoji-preview-aliases"></span>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<modal id="cropper-view-modal" style="position:absolute;z-index:999999;">
  <div class="modal create-items-popup cropper-view-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
						<div class="row">
	            <div
										class="col-xs-3 col-sm-3 col-md-3 col-lg-3"
										ng-repeat="imageItem in uploader.queue"
										align="center"
										ng-hide="imageItem.isReady || imageItem.isUploading || imageItem.isSuccess">

	  									<img ng-src={{imageItem.image}} style="width:100px;" />
	            </div>
					</div>
        <div style="clear:both;"></div>

				<div class="crop-btn-row">
						<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-12">
									<button type="button" class="custom-btn" ng-click="imageItem.upload()"
											ng-disabled="imageItem.isReady || imageItem.isUploading || imageItem.isSuccess">
											<span class="glyphicon glyphicon-upload"></span> Upload
									</button>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
											<button type="button" class="custom-btn btn-red" ng-click="item.cancel(); uploader.clearQueue(); uploader.remove(); uploader.cancelAll(); closeModal('cropper-view-modal');"
													<span class="glyphicon glyphicon-delete"></span> Remove
											</button>
								</div>
						 </div>
				</div>

        </div>
       </div>
  </div>
  </div>
</modal>-->
