	<div class="chat-body" scroll-glue>
		<div class="chat-row clearfix" ng-repeat="msgs in chatMessages">
			<div class="chat-in left" ng-if="msgs.postedBy != email">
				<span class="message-user-img"><img ng-src="{{ 'image/popup-user.png'  | createImagePath }}"  alt=""/>{{msgs.postedDate | date:'HH:mm'}}</span>
				<div class="direct-chat-msg"  ng-bind-html="msgs.message | rawHtml"></div>
			</div>

			<div class="chat-in right" ng-if="msgs.postedBy == email">
				<span class="message-user-img">
					<img ng-src="{{ 'image/popup-user.png'  | createImagePath }}" alt=""/>
					<t ng-if="msgs.isRead == false">{{msgs.postedDate | date:'HH:mm'}}&nbsp&#10003;</t>
					<t ng-if="msgs.isRead == true">{{msgs.postedDate | date:'HH:mm'}}&nbsp&#10003;R</t>
				</span>
				<div class="direct-chat-msg" ng-bind-html="msgs.message | rawHtml"></div>
			</div>
		</div>
	</div>
