<div id="banner" class="front-banner">
    <span ng-if="authUserDetail">
      <figure ng-show="!(authUserDetail.cover_image)" style="background-image:url({{ 'image/front-banner.jpg' | createImagePath }})" class="cover"></figure>
      <figure ng-show="authUserDetail.cover_image" style="background-image:url({{ (authUserDetail.cover_image) }})" class="cover"></figure>
    </span>

    <div class="banner-inside">
       <div class="container">
           <div class="feature-row">
           <contact-slider
            group-item="contactGroup"
            selected-item="selectedItem"
            has-group="group"
            filter-group="filterGroupByType(group)"
            filter-result="filterResultByGroup(group)"
            remove-group="removeContactGroup(group)"
            >
          </contact-slider>
          <!--feature-slide-outside-->
          <div class="feature-col">
           <div class="cover"  style="background-image:url({{ 'image/add-item.jpg' | createImagePath }});"></div>
            <div class="col-inside" ng-click="openContactPopup()">
              <div><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span>
                <p>Create Group</p>
              </div>
            </div>
          </div>
           <!--add-item-->
        </div>
        <!--feature-row-->

        <div class="filter full-width-filter">
          <div class="row">
              <div class="col-md-3 right-col">
                <div class="quick-add">
                   <!-- <form>
                     <input type="text" class="input" placeholder="Type Here" ng-model="filterName" key-enter="filterItem('name')">
                   </form> -->
                     <div class="input-group">
                       <input id="quick-add-input" type="text" class="input form-control" ng-model="friendEmail" placeholder="FRIEND EMAIL ADDRESS" key-enter="sendInvitation()" autofocus>
                       <span class="quick-btn" ng-click="sendInvitation()"  style="background-color: #0099ff;color:white;">Invite</span>
                     </div>
                 </div>
              </div>
              <div class="col-md-6 left-col">

                <ul class="filter-links pull-right">
                  <li><span>Sort by:</span></li>
                   <li><span ng-class="{active: (selectedSorting == 'name')}" ng-click="sortContactItems('name')">Name</span></li>
                   <li>
                       <span class="active" ng-click="changeSortType()">
                         <span ng-class="{'active-order' : (sortingType == 'asc'), 'deactive-order' : (sortingType == 'desc')}">A-Z</span>/
                         <span  ng-class="{'active-order' : (sortingType == 'desc'), 'deactive-order' : (sortingType == 'asc')}">Z-A</span>
                       </span>
                   </li>


                 </ul>
              </div>
              <div class="col-md-3 left-col">
                <div class="quick-add pull-right">
                   <!-- <form>
                     <input type="text" class="input" placeholder="Type Here" ng-model="filterName" key-enter="filterItem('name')">
                   </form> -->
                     <div class="input-group">
                       <input id="quick-add-input" type="text" class="input form-control" ng-model="filterName" placeholder="SEARCH THIS CONTACT" key-enter="filterContactItems(1, 1)" autofocus>
                       <span class="quick-btn" ng-click="filterContactItems(1, 1)" style="background-color: #0099ff;color:white;">search</span>
                     </div>
                 </div>
              </div>
          </div>

       </div>
       <!--filter-->

      </div>
    </div>
  </div>
