<div class="contact-col">
  <div class="image">
    <a ui-sref="userProfile({'profileId' : data.id})">
      <div ng-if="!data.profile_image" class="cover cover-img" style="background-image:url('public/image/popup-user.png');"></div>
      <div ng-if="data.profile_image" class="cover cover-img" style="background-image:url({{data.profile_image}});"></div>
    </a>
    <!--<a ng-if="data.isDelete === '1'"
      ng-click="openDeleteContact({contact_group_id : data.contact_group_id, id : data.id})"
      class="delete ng-scope">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
    </a>-->

<div class="option-dropdown-menu">
     <i class="fa fa-ellipsis-h" ng-click="showHideMenu({'profileId' : data.id})"></i>
     <ul class="contact-menu" ng-show="(openMenu == data.id)">
        <li  ng-click="reportAbuse({'profileId' : data.id})"><i class="fa fa-exclamation-triangle"></i><span>Report Abuse</span></li>
        <li ng-click="blockUser({'profileId' : data.id})"><i class="fa fa fa-user-times"></i><span>Block User</span></li>
        <li ng-if="data.isDelete === '1'" ng-click="openDeleteContact({contact_group_id : data.contact_group_id, id : data.id})"><i class="fa fa fa-trash-o"></i><span>Delete User</span></li>
     </ul>
 </div><!--kabab-menu-->

    <span>
      <!-- <table>
        <tr>
          <td><i class="fa fa-user-times block action-button" title="Block User" ng-click="blockUser({'profileId' : data.id})"></i></td>
          <td><i class="fa fa-exclamation-triangle report action-button" title="Report Abuse"  ng-click="reportAbuse({'profileId' : data.id})"></i></td>
        </tr>
      </table> -->
     </span>
  </div>
  <h4 class="col-title ng-binding">{{ data.name }}</h4>
  <a ng-if="data.isDelete === '1'"
    ui-sref="messageInbox({chatroomId: data.chatRoomId})"
    class="message ng-scope"
    >
      <i class="fa fa-envelope" aria-hidden="true"></i>
  </a>
</div>
