<nevbar-main-section></nevbar-main-section>
<contact-filter-section></contact-filter-section>

  <div id="content" class="main-content">
<div class="my-content">

      <div ng-if="pendingData.length > 0" class="main-title">
        <div class="container">
          <h1 class="title main-title">Pending Requests</h1>
        </div>
      </div>
        <div ng-if="pendingData.length > 0" class="container">
          <pending-contact-section
              group-item="pendingData"
              selected-item="selectedItem"
              filter-result=""
              approve-connection = approveConnection(id)
              reject-connection = rejectConnection(id)
              >
          </pending-contact-section>
      </div>

      <div class="main-title">
        <div class="container">
          <h1 class="title main-title">CONTACTS</h1>
        </div>
      </div>

  <div class="my-contact-content">
    <div class="container">
      <div class="row">
          <div ng-if="(contactItems)">
      <div  class="col-md-3 col-sm-6 col-xs-12"
                contact-card
                dir-paginate="contactItem in contactItems | itemsPerPage: 12"
                data="contactItem"
                total-items="totalPage"
                current-page="currentPage"
                pagination-id="contactItemPaginator"
                open-delete-contact = "openDeleteContact(contact_group_id,id)"
                block-user = "blockUser(profileId)"
                report-abuse = "reportAbuse(profileId)"
                show-hide-menu = "showHideMenu(profileId)"
                open-menu = "openMenu"
                selectitem="">
            </div>


          <div style="clear: both;"></div>
            <dir-pagination-controls
              on-page-change="filterContactItems(newPageNumber, oldPageNumber)"
              max-size="10"
              pagination-id="contactItemPaginator">
            </dir-pagination-controls>
         </div>

          <no-contact-found ng-if="!(contactItems)"></no-contact-found>
    </div>
  </div>
  </div><!--my-contact-content-->
       <modal id="contact-add-content">
          <div class="modal create-items-popup profile-showcase alert-popup">
              <div class="modal-dialog" role="document">

                <button type="button" class="close custom-close bg-close" aria-label="Close" ng-click="closeModal('contact-add-content')">
                  <img ng-src="{{ 'image/close.png' | createImagePath }}" alt="">
                </button>
                <div class="modal-content">
                <div class="modal-header add-new-head">
  <div class="user">

                    <img ng-if="!mygroup.group_image" class="blah" ng-src="{{ 'image/popup-user.png' | createImagePath }}" alt="">
                    <img ng-if="mygroup.group_image" class="blah" ng-src="{{ mygroup.group_image | createImagePath }}" alt="">
                  </div>
                    <div class="add-image pull-right">
                      <span style="z-index:100;">Upload IMAGE</span><input style="z-index:1000;" type="file" class="imgInp" ng-model="mygroup.group_image" accept="image/*" app-filereader>
                    </div>
                </div>
                <div class="modal-body">
                  <form name="Form">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Group Title" name="title" ng-model="mygroup.title" validator="required">
                    </div>
                     <div class="form-group">
                      <textarea class="form-control" placeholder="Group description" name="description" ng-model="mygroup.description" validator="required"></textarea>
                    </div>
                    <div ng-if="createGroupError" class="form_error">{{createGroupError}}</div>
                    <button type="button" validation-submit="Form" class="custom-btn" ng-click="addContactGroup()">Ok</button>
                  </form>
    				    </div>
    			  </div>
          </div>
          </div>
</div><!--my-content-->
         </div>
    </modal>

    <modal  id="contact-alert-content">
       <div class="modal create-items-popup profile-showcase">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header" style="color:white !important;">
                <h1>{{alertTitle}}</h1>
             </div>
             <div class="modal-body text-center">
               <div style="margin-top:20px;margin-bottom:20px;">
                 <h3 class="text-center">{{alertContent}}</h3>
               </div>
               <button type="button" class="custom-btn" ng-click="closeModal('contact-alert-content')">OK</button>
             </div>
           </div>
         </div>
       </div>
       <div class="modal-background"></div>
   </modal>

  <modal id="delete-alert-content">
    <div class="modal create-items-popup profile-showcase alert-popup">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="title" style="font-size:34px !important;">Are you sure to delete your contact ?</h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <button type="button" class="custom-btn" ng-click="deleteContact()">OK</button>
              </div>
              <div class="col-md-6">
                <button type="button" class="custom-btn" ng-click="closeModal('delete-alert-content')">Cancel</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-background"></div>
  </modal>

   <modal id="delete-success-content">
    <div class="modal create-items-popup profile-showcase alert-popup">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="title" style="font-size:34px !important;">Successfully deleted</h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <button type="button" class="custom-btn" ng-click="closeModal('delete-alert-content')">ok</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-background"></div>
  </modal>



  <modal id="group-alert-content">
   <div class="modal create-items-popup profile-showcase alert-popup">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header" style="color:white !important;">
            <h3 class="title" style="font-size:34px !important;">{{groupAlertTitle}}</h3>
         </div>
         <div class="modal-body text-center">
           <div style="margin-top:20px;margin-bottom:20px;">
             <h3 class="text-center">{{groupAlertContent}}</h3>
           </div>
           <button type="button" class="custom-btn" ng-click="groupAlertAction()">OK</button>

         </div>
       </div>
     </div>
   </div>
   <div class="modal-background"></div>
</modal>

<modal id="block-alert-content">
 <div class="modal create-items-popup profile-showcase alert-popup">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header" style="color:white !important;">
          <h3 class="title" style="font-size:34px !important;">{{groupAlertTitle}}</h3>
       </div>
       <div class="modal-body text-center">
         <div style="margin-top:20px;margin-bottom:20px;">
           <h3 class="text-center">{{groupAlertContent}}</h3>
         </div>
         <div class="row">
           <div class="col-md-6">
             <button type="button" class="custom-btn" ng-click="groupAlertAction()">OK</button>
           </div>
           <div class="col-md-6">
             <button type="button" class="custom-btn" ng-click="closeModal('block-alert-content')">Cancel</button>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <div class="modal-background"></div>
</modal>

<modal id="contact-abuse-content">
  <div class="modal create-items-popup profile-showcase">
    <div class="modal-dialog" role="document">
       <button type="button" class="close custom-close bg-close" ng-click="closeModal('browse-abuse-content')">
         <img ng-src="{{'image/close.png' | createImagePath}}" alt="">
       </button>
       <div class="modal-content">
       <div class="modal-header">
         <h1 class="title">Report Abuse</h1>
       </div>
       <div class="modal-body">

        <ul class="select-list sort-list">
          <li ng-repeat="abuse in listAbuse">
            <div class="check">
              <input type="checkbox" id="{{abuse.id}}" class="check-input2" value="{{abuse.id}}">
              <label for="{{abuse.id}}">{{abuse.report_description}}</label>
            </div>
         </li>
        </ul>

        <div class="form_error" align="center">{{reportAbuseError}}</div>
           <div class="row">
             <div class="col-md-6">
               <button type="button" ng-click="sendReportAbuse()" class="custom-btn">Send</button>
             </div>
            <div class="col-md-6">
               <button type="button" class="custom-btn" ng-click="cancelReportAbuse()" data-dismiss="modal">Cancel</button>
             </div>
           </div>

       </div>
     </div>
   </div>
 </div>
 <div class="modal-background"></div>
</modal>


<footer-section></footer-section>
