
<div class="contact-col browser-col">
  <div class="image">

    <a ui-sref="browseDetail({'cardId' : data.id})">
      <div ng-if="!data.card_image" class="cover cover-img" style="background-image:url({{ 'image/project-img2.jpg' | createImagePath}} );"></div>
      <div ng-if="data.card_image"  class="cover cover-img" style="background-image:url({{ data.card_image }});"></div>
    </a>

    <div class="browser-user">
      <a ui-sref="userProfile({'profileId' : data.userId})">
          <img ng-if="data.profile_image"  ng-src="{{data.profile_image}}" width="50" height="50" alt=""/>
          <img ng-if="!data.profile_image" ng-src="{{ 'image/popup-user.png' | createImagePath}}" width="50" height="50" alt="">
          {{data.name}}
      </a>
    </div>
    <a ng-if="data.live_item" class="live">Live</a>
    <div class="browser-icons">
      <!--<a href="#" class="download">&nbsp;</a>
      <a href="#" class="share">&nbsp;</a>-->
    </div>
  </div>
  <div class="browser-cnt">
    <div class="row">
      <div ng-if="data.title.length <= 60" class="col-md-12 col-sm-12 col-xs-12"><strong>Title : </strong>{{ data.title }}</div>
      <div ng-if="data.title.length > 60" class="col-md-12 col-sm-12 col-xs-12 multiple-line-css"><strong>Title : </strong>{{ data.title | limitTo:60 }}...</div>
    </div>
    <div ng-if="dataToDisplay" class="row" ng-repeat="(itemField, itemValue) in dataToDisplay">
      <div ng-if="itemValue.length <= 60" class="col-md-12 col-sm-12 col-xs-12"><strong>{{itemField  | getTitle}} : </strong>{{ itemValue }}</div>
      <div ng-if="itemValue.length > 60" class="col-md-12 col-sm-12 col-xs-12 multiple-line-css"><strong>{{itemField  | getTitle}} : </strong>{{ itemValue | limitTo:60 }}...</div>
    </div>

    <!--<div class="row">
      <div ng-if="data.cityName" class="col-md-6 col-sm-6 col-xs-6 text-left"><strong>City :</strong>{{data.cityName}}</div>
      <div ng-if="data.provinceName" class="col-md-6 col-sm-6 col-xs-6 text-right"><strong>Province :</strong>{{data.provinceName}}</div>
    </div>

    <div class="row">
       <div ng-if="data.price" class="col-md-12 col-sm-12 col-xs-12">$ <strong>Price :</strong>{{data.price}}</div>
    </div>-->
  </div>
</div>
