<nevbar-main-section></nevbar-main-section>
<div id="content" class="main-content browselist">
  <div class="container">
        <div class="main-title">
          <h1 class="title main-title">Browse </h1>
          <div class="browser-list-search pull-right">
            <form class="search">
              <input type="text" class="form-control" placeholder="Search" ng-model="searchText" key-enter="searchBrowseItems()">
            </form>
            <div class="filter pull-right">
              <a ng-click="openModal('browse-filter-content')">
                <span>Filter</span>
              </a>
            </div>
          </div>
        </div>
        <div class="browser-details">
            <main-browse-item browse-item="selectedCard" block-card="blockCard(card)"></main-browse-item>
            <br/>
            <br/>
            <div ng-if="otherCard">
              <dir-pagination-controls
                on-page-change="filterBrowseItems(newPageNumber, oldPageNumber)"
                max-size="10"
                pagination-id="browseItemPaginator">
              </dir-pagination-controls>
              <div dir-paginate="items in otherCard | itemsPerPage: 12"
                total-items="totalPage"
                current-page="currentPage"
                pagination-id="browseItemPaginator">
                <list-browse-item browse-item="items" block-card="blockCard(card)"></list-browse-item>
              </div>
            </div>
            <no-result-found ng-if="!(otherCard)" message="There are no sub-items in this item."></no-result-found>
      </div>

  </div>
</div>

<modal id="browse-filter-content">
  <div class="modal create-items-popup profile-showcase">
    <div class="modal-dialog" role="document">
       <button type="button" class="close custom-close bg-close" ng-click="closeModal('browse-filter-content')">
         <img ng-src="{{'image/close.png' | createImagePath}}" alt="">
       </button>
       <div class="modal-content">
       <div class="modal-header">
         <h1 class="title">Filter</h1>
       </div>
       <div class="modal-body">
         <form>
           <div class="form-group">
             <input type="text" class="form-control edit-input" placeholder="Filter by User" ng-model="filterData.user">
           </div>
           <div class="form-group">
             <input type="text" class="form-control edit-input" placeholder="Filter by City" ng-model="filterData.city">
           </div>
           <div class="form-group">
             <input type="text" class="form-control edit-input" placeholder="Filter by Province" ng-model="filterData.province">
           </div>
            <datepicker date-format="yyyy-MM-dd" selector="form-control" >
                <div class="form-group">
                    <input type="text" class="form-control edit-input" placeholder="Filter by Date" ng-model="filterData.date">
                  </div>
            </datepicker>
           <div class="form-group">
           <select class="form-control edit-input" ng-model="filterData.group">
              <option value="">--Filter by Group--</option>
              <option value="{{group.id}}" ng-repeat="group in cardGroup">{{group.name}}</option>
            </select>

           </div>
           <div class="row">
             <div class="col-md-6">
               <button type="button" class="custom-btn" ng-click="searchBrowseItems()">Filter</button>
             </div>
             <div class="col-md-6">
               <button type="button" class="custom-btn" data-dismiss="modal" ng-click="resetBrowseItems()">Reset</button>
             </div>
           </div>
         </form>
       </div>
     </div>
   </div>
 </div>
 <div class="modal-background"></div>
</modal>

 <modal id="group-alert-content">
   <div class="modal create-items-popup profile-showcase alert-popup">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header" style="color:white !important;">
            <h2>{{groupAlertTitle}}</h2>
         </div>
         <div class="modal-body text-center">
           <div style="margin-top:20px;margin-bottom:20px;">
             <h4 class="text-center">{{groupAlertContent}}</h4>
           </div>
           <button type="button" class="custom-btn" ng-click="closeModal('group-alert-content')">OK</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal-background"></div>
</modal>

<modal id="browse-abuse-content">
  <div class="modal create-items-popup profile-showcase">
    <div class="modal-dialog" role="document">
       <button type="button" class="close custom-close bg-close" ng-click="closeModal('browse-abuse-content')">
         <img ng-src="{{'image/close.png' | createImagePath}}" alt="">
       </button>
       <div class="modal-content">
       <div class="modal-header">
         <h1 class="title">Report Abuse</h1>
       </div>
       <div class="modal-body">

        <ul class="select-list sort-list">
          <li ng-repeat="abuse in listAbuse">
            <div class="check">
              <input type="checkbox" id="{{abuse.id}}" class="check-input2" value="{{abuse.id}}">
              <label for="{{abuse.id}}">{{abuse.report_description}}</label>
            </div>
         </li>
        </ul>

        <div class="form_error" align="center">{{reportAbuseError}}</div>
           <div class="row">
             <div class="col-md-6">
               <button type="button" ng-click="reportAbuse()" class="custom-btn">Send</button>
             </div>
            <div class="col-md-6">
               <button type="button" class="custom-btn" ng-click="resetAbuseList()" data-dismiss="modal">Cancel</button>
             </div>
           </div>

       </div>
     </div>
   </div>
 </div>
 <div class="modal-background"></div>
</modal>

<footer-section></footer-section>
