<nevbar-main-section></nevbar-main-section>
<div id="content" class="main-content browselist">
    <div class="container">
      <div class="box">
        <div class="main-title space-b">
          <h1 class="title main-title">Browse </h1>
          <div class="browser-list-search pull-right">
            <form class="search">
              <input type="text" class="form-control" placeholder="Search Browse" ng-model="searchText" key-enter="searchBrowseItems(0)">
              <button class="search-bnt" ng-click="searchBrowseItems(0)">
                  <img ng-src="{{ 'image/search-icon.png' | createImagePath}}" alt="">
              </button>
            </form>
            <div class="filter pull-right cc" ng-click="openModal('browse-filter-content')"><span>Advanced</span></div>
          </div>
        </div>

        <div class="row">
            <div  ng-if="(browseItems)">
              <div class="col-md-4 col-sm-4 col-xs-12"
                browse-card
                ng-repeat="browseItem in browseItems"
                data="browseItem"
                total-items="totalPage"
                current-page="currentPage"
                pagination-id="browseItemsPaginator"
                selectitem=""></div>

                <div style="clear: both;"></div>

                <!--<dir-pagination-controls
                  on-page-change="filterBrowseItems(newPageNumber, oldPageNumber)"
                  max-size="10"
                  pagination-id="browseItemsPaginator">
                </dir-pagination-controls>-->

                <div infinite-scroll="filterBrowseItems(0, 0)"></div>
            </div>

            <no-result-found ng-if="!(browseItems)" message="There are no showcases on Scedge yet! Please comeback again.
"></no-result-found>
        </div>
      </div>
    </div>
  </div>

  <modal id="browse-filter-content">
    <div class="modal create-items-popup profile-showcase">
      <div class="modal-dialog" role="document">
         <button type="button" class="close custom-close bg-close" ng-click="closeModal('browse-filter-content')">
           <img ng-src="{{'image/close.png' | createImagePath}}" alt="">
         </button>
         <div class="modal-content">
         <div class="modal-header">
           <h1 class="title">Filter</h1>
         </div>
         <div class="modal-body">
           <form>

             <!--<div class="form-group">
              <angucomplete-alt id="id"
                placeholder="Filter by user"
                pause="100"
                selected-object="selectedUser"
                local-data="userList"
                search-fields="name"
                title-field="name"
                minlength="1"
                class="filtrAutoComplete"
                input-class="form-control form-control-small edit-input"/>
            </div>-->
            <div class="form-group" align="center">
              <span class="sorting-date" ng-if="dateAsc" ng-click="changeDateOrder(false)"><i  class="fa fa-sort-asc"></i> <b>Sort by Date</b> </span>
              <span class="sorting-date" ng-if="!dateAsc" ng-click="changeDateOrder(true)"><i class="fa fa-sort-desc"></i> <b>Sort by Date</b> </span>
            </div>

             <div class="form-group">
               <select class="form-control edit-input" ng-model="filterData.country" ng-change="getProvince(filterData.country)">
                <option value="" disabled>Filter by Country</option>
                <option ng-repeat="country in countryList" value="{{country.id}}">{{country.name}}</option>
              </select>
             </div>
             <div class="form-group">
               <!-- <input type="text" class="form-control edit-input" placeholder="Filter by Province" ng-model="filterData.province"> -->
               <select class="form-control edit-input" ng-model="filterData.province"  ng-change="getCity(filterData.province)" ng-disabled="!activeSearchProvince">
                <option value="" disabled>Filter by Province</option>
                <option ng-repeat="province in provinceList" value="{{province.id}}">{{province.name}}</option>
              </select>
             </div>
             <div class="form-group">
               <!-- <input type="text" class="form-control edit-input" placeholder="Filter by City" ng-model="filterData.city"> -->
               <select class="form-control edit-input" ng-model="filterData.city" ng-disabled="!activeSearchCity">
                <option value="" disabled>Filter by City</option>
                <option ng-repeat="city in cityList" value="{{city.id}}">{{city.name}}</option>
              </select>
             </div>
              <datepicker date-format="yyyy-MM-dd" selector="form-control" >
                  <div class="form-group">
                      <input type="text" class="form-control edit-input" placeholder="Filter by Date" ng-model="filterData.date">
                    </div>
              </datepicker>
             <div class="form-group">
             <select class="form-control edit-input" ng-model="filterData.group">
                <option value="">Filter by Group</option>
                <option value="{{group.id}}" ng-repeat="group in cardGroup">{{group.name}}</option>
              </select>
             </div>

             <div class="row">
              <div class="col-md-6">
                 <button type="button" class="custom-btn"  ng-click="resetBrowseItems()">Reset</button>
               </div>
               <div class="col-md-6">
                 <button type="button" class="custom-btn" ng-click="searchBrowseItems(0)">Filter</button>
               </div>
             </div>
           </form>
         </div>
       </div>
     </div>
   </div>
   <div class="modal-background"></div>
  </modal>

  <modal id="group-alert-content">
   <div class="modal create-items-popup profile-showcase alert-popup">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header" style="color:white !important;">
            <h2>{{groupAlertTitle}}</h2>
         </div>
         <div class="modal-body text-center">
           <div style="margin-top:20px;margin-bottom:20px;">
             <h4 class="text-center">{{groupAlertContent}}</h4>
           </div>
           <button type="button" class="custom-btn" ng-click="closeModal('group-alert-content')">OK</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal-background"></div>
</modal>

  <footer-section></footer-section>
