<div class="project-row">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <a ui-sref="browseDetail({'cardId' : browseItem.id})">
        <img ng-if="browseItem.card_image" ng-src="{{browseItem.card_image | createImagePath}}" class="img-responsive" alt="">
        <img ng-if="!browseItem.card_image" ng-src="{{ 'image/project-img2.jpg' | createImagePath}}" class="img-responsive" alt="">
      </a>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="project-row-content">
        <div class="project-head">
          <a ui-sref="browseDetail({'cardId' : browseItem.id})">
            <h1 class="multiple-line-css">{{browseItem.title}}</h1>
          </a>
          <span class="date">{{browseItem.card_date | convertDateFormat}}</span><span class="time">{{browseItem.card_time | convertTimeFormat}}</span> </div>
        <!--project-head-->
          <p class="multiple-line-css">{{browseItem.body}} </p>
        <div class="project-footer">
          <div class="row">
            <div ng-if="browseItem.location_address" class="col-md-4 col-sm-3 col-xs-12">
              <p><strong>Address</strong></p>
              <p class="multiple-line-css">{{browseItem.location_address}}</p>
            </div>
            <div ng-if="browseItem.cityName" class="col-md-2 col-sm-3 col-xs-3">
              <p><strong>City</strong></p>
              <p>{{browseItem.cityName}}</p>
            </div>
            <div ng-if="browseItem.price" class="col-md-2 col-sm-3 col-xs-3">
              <p><strong>Price</strong></p>
              <p>$ {{browseItem.price}}</p>
            </div>
            <div ng-if="browseItem.quantity" class="col-md-2 col-sm-3 col-xs-3">
              <p><strong>Quantity</strong></p>
              <p>{{browseItem.quantity}}</p>
            </div>
            <div ng-if="browseItem.discount && browseItem.discount !== '0'" class="col-md-2 col-sm-3 col-xs-3">
              <p><strong>Discount</strong></p>
              <p>{{browseItem.discount}}%</p>
            </div>
            <div ng-if="browseItem.time" class="col-md-2 col-sm-3 col-xs-3">
              <p>Time</p>
              <p>{{browseItem.time}}</p>
            </div>
          </div>

          <div class="row">
            <div ng-if="browseItem.spacs_size" class="col-md-2 col-sm-3 col-xs-3">
              <p><strong>Size</strong></p>
              <p>{{browseItem.spacs_size}}</p>
            </div>
            <div ng-if="browseItem.spacs_brand" class="col-md-2 col-sm-3 col-xs-3">
              <p><strong>Brand</strong></p>
              <p>{{browseItem.spacs_brand}}</p>
            </div>
            <div ng-if="browseItem.spacs_model" class="col-md-2 col-sm-3 col-xs-3">
              <p><strong>Model</strong></p>
              <p>{{browseItem.spacs_model}}</p>
            </div>
            <div ng-if="browseItem.spacs_color" class="col-md-2 col-sm-3 col-xs-3">
              <p><strong>Color</strong></p>
              <p>{{browseItem.spacs_color}}</p>
            </div>
            <div ng-if="browseItem.for_gender" class="col-md-2 col-sm-3 col-xs-3">
              <p><strong>Gender</strong></p>
              <p>{{browseItem.for_gender}}</p>
            </div>
            <div ng-if="browseItem.for_age" class="col-md-2 col-sm-3 col-xs-3">
              <p><strong>Age</strong></p>
              <p>{{browseItem.for_age}}</p>
            </div>
          </div>


        </div>
        <!--project-footer-->

      </div>
      <!--project-row-content-->
    </div>
  </div>
  <div class="drag">
    <a ng-click="blockCard({card : browseItem.id})" title="Report">
      <i class="fa fa-ban" aria-hidden="true"></i>
    </a>
    <a href="#"><img src="image/drag-icon.png"></a
  ></div>
</div>
<div class="clear"></div>
