@media (min-width: 768px){
  .custom-header .container-fluid {width: 750px;}
}
@media (min-width: 992px){
	.custom-header .container-fluid{width: 970px;}
	.chat-body{width: 653px;margin: auto; }
}
@media (min-width: 1200px){
	.custom-header .container-fluid{width: 1170px;}
}

@media (min-width: 768px){

.login-profile .custom-header.navbar-default .navbar-nav>li>a{padding: 24px 30px; }
.custom-header.navbar-default .navbar-nav>li>a{padding: 24px 13px;}
.custom-header.navbar-default .navbar-nav>li:last-child{margin:0px;}
.custom-header.navbar-default .navbar-nav>li.user-display{margin-left: 65px;margin-top: 15px;}
.custom-header.navbar-default .navbar-nav>li.user-display a{ padding:0px;}
.confirmation .modal-dialog{width:554px; }
.creat-items-popup .modal-dialog{width:307px; }
.create-items-popup .modal-dialog{ width: 479px;   }
.create-items-popup.profile-showcase .modal-dialog{width:404px;   }
.custon-md-5{width: 37.666667%;}
.custon-md-7{width: 62.333333%;}
.welcome-popup .modal-dialog{ width:571px;  margin: 100px auto;  }
.login-profile .custom-header.navbar-default .navbar-nav{}
#send.create-items-popup .modal-dialog {width: 85%;}
.free-account.create-items-popup .modal-dialog {width: 404px;}
}

@media (max-width: 1199px){
 	.pie-content p{ font-size: 28px; line-height: 38px;  }
	.compass,.compass.compass2{ margin:80px auto; }
	.pie-content{margin:50px 0;  text-align: center;}
	.bottom-content p{font-size: 18px; line-height:28px; }
	.banner-head .pie-content{padding:0;margin-bottom: 0;}
	.feature-slide{width: 550px; margin-left: 45px;  }
	.contact-col .col-title{ margin-left:15px;  }
	.contact-col .image img{ width: 100%;  }
	.browser-list-search{position: static;width: 100%;float: left;margin-top: 15px;}
	.browselist .main-title{ width:100%; float: left;}
	.browser-list-search .search{width: 85%;float: left;}
	.box2.join .social a,.box2.join .social a:first-child,.box2.join .social a:last-child{width: 71px;}
  .filter ul li{margin-right:0px;}
}

@media (max-width: 1024px) {
	.pricing-col{ margin-bottom: 50px;}
	.founder-row { text-align: center;}
	.discription-col .social a{ float: none; display: inline-block;}
	.founder-row .image img{  display: inline-block;   }
	.webdevelop-inside{width:auto;padding: 50px 80px;}
	.webdevelop h1{padding: 0 80px; line-height: 50px; font-size: 40px; margin: 20px 0 20px 0; }
	.webdevelop{height: auto;}
	.feature-slide{ width: 262px; }
	.feature-slide  div.owl-next{right: -35px;}
	.tab_content .col-md-6 .form-control{  margin-bottom: 20px;}
	.info-col,.showcase .row:last-child .showcase-col{margin-bottom:20px;}
	.chat-left,.chat-left-header{width: 285px;}
	.chat-right,.chat-footer{ width: 70%;}
	.box2.join .social a,.box2.join .social a:first-child,.box2.join .social a:last-child{width: 84px;}
	.project-row>.check{right: 139px;bottom: 14px;left: auto;top: auto;z-index: 999;}
	.profile-showcase .custom-btn{ margin-top:15px;  }
	.pie-content li{text-align:left; }

}
@media (max-width: 990px) {
.multiple-line-css{ margin-bottom:15px;}

.chat-left,.chat-left-header{ left: -226px;}
.chat-right,.chat-footer{width: calc(100% - 59px);}
.chat-left-header .menu-chat{ display:block;}
body.user-hide .chat-left,body.user-hide .chat-left-header{left: 0;width: 25%;}
body.user-hide .chat-right,body.user-hide .chat-footer{width: 75%;}
.left-col .filter .input-group,.left-col .filter,.filter .quick-add .input,.filter .quick-add{ width:100%; float:none; }
.right-col .filter .input-group,.right-col .filter,.filter .quick-add .input,.filter .quick-add{ width:100%; float:none; }
#banner.front-banner{min-height: 310px;}
.middle-col .filter{margin:20px 0px;float: none !important;padding: 0 10px;}
}
@media (max-width: 767px) {
 	.custom-header.navbar-default .nav>li{  border-bottom: #fff solid 1px;}
	.custom-header.navbar-default .nav>li:last-child{ border-bottom: none;  }
	.custom-header .navbar-nav{ margin-top: 0; margin-bottom: 0; }
	 #footer{ text-align: center;}
	.social.pull-right{ float: none !important; display: inline-block; padding-top:20px; }
    .webdevelop h1{ font-size:30px; line-height: 40px; }
	.webdevelop-inside{padding:30px;}
	.webdevelop h1{ padding: 0;  }
	.webdevelop-inside .logo img{ width: 80px; }
	.filter{position:static;margin-bottom: 25px;float: left;}
	.front-banner h1{margin-bottom: 15px; }
	.filter .quick-add{ float:right; width:100%; margin-top:15px;  }
	.filter-links{ text-align: center;}
	.filter ul li{float:none;display:inline-block;  }
	.banner-inside{text-align:center; }
	.filter .quick-add .input,.filter .quick-add .input-group{ width:100%;}
 	.feature-slide-outside{width:100%; float: left; text-align:center;}
	.feature-slide-outside .feature-slide{display:inline-block !important;float: none;margin-left: 0;}
	.feature-col{ float: none; display: inline-block;}
	.feature-row{text-align:center;}
	#banner.front-banner{ padding-bottom:40px; }
	.project-row img{ width:100%; }
	.project-row-content{  margin-top:20px; }
	.project-row .project-head h1{font-size:25px;  }
	.project-row .project-head span{font-size: 15px; }
	.project-row .project-head{padding-bottom: 12px;  margin-bottom: 12px;}
	.project-row p{font-size: 16px; }
	.steps li{margin: 0 15px; }
	.front-banner .step-section h1{ margin-bottom:45px; }
	.confirmation .modal-dialog{width:300px;     margin:100px auto; }
	.confirmation .modal-header{ padding:15px; }
	.confirmation h4{ font-size: 20px;  }
	.confirmation p{ font-size: 20px; line-height: 28px; margin-bottom: 20px; }
	.confirmation .modal-body{padding:20px; }
	.confirmation .custom-btn{ font-size:18px; padding:15px 0; }
	.creat-items-popup .modal-dialog{width:307px; margin:80px auto; }
	.create-items-popup .info-title{ font-size: 18px;}
	.banner-search { padding-left: 15px; padding-right: 15px;  }
	.banner-search .search{ width: 100%;   }
	.browser-list-search .search{ width:75%; }
	.showcase-col img{ width:100%; height:auto; }
	.profile-content{ padding-left: 0px; padding-right: 0px; }
	.chat-footer{bottom: 99px;}
	.login-profile .custom-header.navbar-default .nav>li{ border-color:#0099ff;}
	.login-profile-col{ margin-top:0px;}
	.login-profile-col p{ line-height: 30px;font-size: 22px;}
	.login-profile-col h3{ font-size:40px;}
	.box2 .social a{ width: 33%; }
    .project-row .refress{top: auto;bottom: 14px;right: 210px;}
	.project-row>.check{right: 139px;}
	.create-items-popup .modal-dialog {width: 420px;margin: 50px auto;}
	#chatfooter{ text-align:center;}
 }
@media (max-width: 480px) {
 	.pie-content h3{ font-size: 28px; margin-bottom: 10px; }
	.pie-content p{ font-size: 20px; line-height: 28px;  }
	.compass{width: 320px;height: 320px;}
	.compass .circle{width: 94px;height: 94px;top: 113px;left: 113px;background-size: 100% 100%;}
	.compass span.personal{top: 50px;right: 95px;}
	.compass span.team-community{top: 133px;right: 14px;}
	.compass span.professional-business{bottom: 40px;right: 100px;}
	.compass span.family-friends{top: 137px;left: 20px;}
	.subnav ul li{margin-right: 15px;}
	.bottom-content{ margin-top: 22px;}
	.bottom-content p{ font-size: 18px; line-height: 28px; margin-bottom: 15px; }
	.filter .quick-add{width:100%;margin-top: 10px; }
	.filter .quick-add .input{ width:100%;}
	.filter ul li{ margin-right: 30px; }
	.owl-theme .owl-buttons{ margin-bottom: 20px; }
	.owl-theme .owl-buttons div{ position:static; display: inline-block; margin: 0 5px; }
	.project-row .project-head h1{font-size: 22px;padding-right: 40px; }
	.steps li .circle{width:68px;height: 68px;line-height: 24px;font-size: 13px;}
 	.steps li .circle span{font-size: 23px;margin-top: 12px;}
	.steps li p{ font-size: 14px;  }
	.front-banner .step-section h1{ font-size: 26px; }
	.steps li{margin: 0 15px 20px; }
	.title{ font-size: 33px;margin-bottom: 22px;padding-bottom: 10px;}
	.title small{font-size: 26px;}
	.bill-details-col{width: 100%;}
	.custom-close{top: -35px;right: 0;}
	.creat-items-popup .modal-dialog{width:250px; }
	.creat-items-popup .custom-close{ right:0px;  }
	.create-items-popup .modal-dialog{width: 300px;margin: 75px auto;}
	.create-items-popup .share-title{ margin-left: 0px;}
	.pop-tab li a{ padding: 0 5px; font-size: 15px; }
	.browser-list-search .search{ width:70%; }
	.browser-list-search .filter{margin-left:10px; }
	.profile .profile-text{ padding-left:20px; padding-right:20px;}
	.box2 .social a {width: 32.8%;}
	.box2.join .social a,.box2.join .social a:first-child,.box2.join .social a:last-child{width:70px;}
	.welcome-popup .modal-content{ padding: 50px 20px; }
	.welcome-popup .custom-btn{width:215px;}
	button.close.bg-close{ right: 1px;  z-index:9; }
	.owl-nav div.owl-prev{ left: -26px;}
	.feature-slide  div.owl-next{right: -26px;}
}
@media (min-width: 768px){
  .custom-header .container-fluid {width: 750px;}
}
@media (min-width: 992px){
	.custom-header .container-fluid{width: 970px;}
	.chat-body{width: 653px;margin: auto; }
}
@media (min-width: 1200px){
	.custom-header .container-fluid{width: 1170px;}
}

@media (min-width: 768px){

.login-profile .custom-header.navbar-default .navbar-nav>li>a{padding: 24px 30px; }
.custom-header.navbar-default .navbar-nav>li>a{padding: 24px 13px;}
.custom-header.navbar-default .navbar-nav>li:last-child{margin:0px;}
.custom-header.navbar-default .navbar-nav>li.user-display{margin-left: 65px;margin-top: 15px;}
.custom-header.navbar-default .navbar-nav>li.user-display a{ padding:0px;}
.confirmation .modal-dialog{width:554px; }
.creat-items-popup .modal-dialog{width:307px; }
.create-items-popup .modal-dialog{ width: 479px;   }
.create-items-popup.profile-showcase .modal-dialog{width:404px;   }
.custon-md-5{width: 37.666667%;}
.custon-md-7{width: 62.333333%;}
.welcome-popup .modal-dialog{ width:571px;  margin: 100px auto;  }
.login-profile .custom-header.navbar-default .navbar-nav{}
#send.create-items-popup .modal-dialog {width: 85%;}

}

@media (max-width: 1199px){
 	.pie-content p{ font-size: 28px; line-height: 38px;  }
	.compass,.compass.compass2{ margin:80px auto; }
	.pie-content{margin:50px 0;  text-align: center;}
	.bottom-content p{font-size: 18px; line-height:28px; }
	.banner-head .pie-content{padding:0;margin-bottom: 0;}
	.feature-slide{width: 550px; margin-left: 45px;  }
	.contact-col .col-title{ margin-left:15px;  }
	.contact-col .image img{ width: 100%;  }
	.browser-list-search{position: static;width: 100%;float: left;margin-top: 15px;}
	.browselist .main-title{ width:100%; float: left;}
	.browser-list-search .search{width: 85%;float: left;}
	.box2.join .social a,.box2.join .social a:first-child,.box2.join .social a:last-child{width: 71px;}

}

@media (max-width: 1024px) {
	.pricing-col{ margin-bottom: 50px;}
	.founder-row { text-align: center;}
	.discription-col .social a{ float: none; display: inline-block;}
	.founder-row .image img{  display: inline-block;   }
	.webdevelop-inside{width:auto;padding: 50px 80px;}
	.webdevelop h1{padding: 0 80px; line-height: 50px; font-size: 40px; margin: 20px 0 20px 0; }
	.webdevelop{height: auto;}
	.feature-slide{ width: 262px; }
	.feature-slide  div.owl-next{right: -35px;}
	.tab_content .col-md-6 .form-control{  margin-bottom: 20px;}
	.info-col,.showcase .row:last-child .showcase-col{margin-bottom:20px;}
	.chat-left,.chat-left-header{width: 285px;}
	.chat-right,.chat-footer{ width: 70%;}
	.box2.join .social a,.box2.join .social a:first-child,.box2.join .social a:last-child{width: 84px;}
	.project-row>.check{right: 139px;bottom: 14px;left: auto;top: auto;z-index: 999;}
	.profile-showcase .custom-btn{ margin-top:15px;  }
	.pie-content li{text-align:left; }

}
@media (max-width: 990px) {
.multiple-line-css{ margin-bottom:15px;}

.chat-left,.chat-left-header{ left: -226px;}
.chat-right,.chat-footer{width: calc(100% - 59px);}
.chat-left-header .menu-chat{ display:block;}
body.user-hide .chat-left,body.user-hide .chat-left-header{left: 0;width: 25%;}
body.user-hide .chat-right,body.user-hide .chat-footer{width: 75%;}

}
@media (max-width: 767px) {
 	.custom-header.navbar-default .nav>li{  border-bottom: #fff solid 1px;}
	.custom-header.navbar-default .nav>li:last-child{ border-bottom: none;  }
	.custom-header .navbar-nav{ margin-top: 0; margin-bottom: 0; }
	 #footer{ text-align: center;}
	.social.pull-right{ float: none !important; display: inline-block; padding-top:20px; }
    .webdevelop h1{ font-size:30px; line-height: 40px; }
	.webdevelop-inside{padding:30px;}
	.webdevelop h1{ padding: 0;  }
	.webdevelop-inside .logo img{ width: 80px; }
	.filter{position:static;margin-bottom: 25px;float: left;}
	.front-banner h1{margin-bottom: 15px; }
	.filter .quick-add{ float:right; width:100%; margin-top:15px;  }
	.filter-links{ text-align: center;}
	.filter ul li{float:none;display:inline-block;  }
	.banner-inside{text-align:center; }
	.filter .quick-add .input,.filter .quick-add .input-group{ width:100%;}
 	.feature-slide-outside{width:100%; float: left; text-align:center;}
	.feature-slide-outside .feature-slide{display:inline-block !important;float: none;margin-left: 0;}
	.feature-col{ float: none; display: inline-block;}
	.feature-row{text-align:center;}
	#banner.front-banner{ padding-bottom:40px; }
	.project-row img{ width:100%; }
	.project-row-content{  margin-top:20px; }
	.project-row .project-head h1{font-size:25px;  }
	.project-row .project-head span{font-size: 15px; }
	.project-row .project-head{padding-bottom: 12px;  margin-bottom: 12px;}
	.project-row p{font-size: 16px; }
	.steps li{margin: 0 15px; }
	.front-banner .step-section h1{ margin-bottom:45px; }
	.confirmation .modal-dialog{width:300px;     margin:100px auto; }
	.confirmation .modal-header{ padding:15px; }
	.confirmation h4{ font-size: 20px;  }
	.confirmation p{ font-size: 20px; line-height: 28px; margin-bottom: 20px; }
	.confirmation .modal-body{padding:20px; }
	.confirmation .custom-btn{ font-size:18px; padding:15px 0; }
	.creat-items-popup .modal-dialog{width:307px; margin:80px auto; }
	.create-items-popup .info-title{ font-size: 18px;}
	.banner-search { padding-left: 15px; padding-right: 15px;  }
	.banner-search .search{ width: 100%;   }
	.browser-list-search .search{ width:75%; }
	.showcase-col img{ width:100%; height:auto; }
	.profile-content{ padding-left: 0px; padding-right: 0px; }
	.chat-footer{bottom: 99px;}
	.login-profile .custom-header.navbar-default .nav>li{ border-color:#0099ff;}
	.login-profile-col{ margin-top:0px;}
	.login-profile-col p{ line-height: 30px;font-size: 22px;}
	.login-profile-col h3{ font-size:40px;}
	.box2 .social a{ width: 33%; }
    .project-row .refress{top: auto;bottom: 14px;right: 210px;}
	.project-row>.check{right: 139px;}
	.create-items-popup .modal-dialog {width: 420px;margin: 50px auto;}
	#chatfooter{ text-align:center;}
 }
@media (max-width: 480px) {
 	.pie-content h3{ font-size: 28px; margin-bottom: 10px; }
	.pie-content p{ font-size: 20px; line-height: 28px;  }
	.compass{width: 320px;height: 320px;}
	.compass .circle{width: 94px;height: 94px;top: 113px;left: 113px;background-size: 100% 100%;}
	.compass span.personal{top: 50px;right: 95px;}
	.compass span.team-community{top: 133px;right: 14px;}
	.compass span.professional-business{bottom: 40px;right: 100px;}
	.compass span.family-friends{top: 137px;left: 20px;}
	.subnav ul li{margin-right: 15px;}
	.bottom-content{ margin-top: 22px;}
	.bottom-content p{ font-size: 18px; line-height: 28px; margin-bottom: 15px; }
	.filter .quick-add{width:100%;margin-top: 10px; }
	.filter .quick-add .input{ width:100%;}
	.filter ul li{ margin-right: 30px; }
	.owl-theme .owl-buttons{ margin-bottom: 20px; }
	.owl-theme .owl-buttons div{ position:static; display: inline-block; margin: 0 5px; }
	.project-row .project-head h1{font-size: 22px;padding-right: 40px; }
	.steps li .circle{width:68px;height: 68px;line-height: 24px;font-size: 13px;}
 	.steps li .circle span{font-size: 23px;margin-top: 12px;}
	.steps li p{ font-size: 14px;  }
	.front-banner .step-section h1{ font-size: 26px; }
	.steps li{margin: 0 15px 20px; }
	.title{ font-size: 33px;margin-bottom: 22px;padding-bottom: 10px;}
	.title small{font-size: 26px;}
	.bill-details-col{width: 100%;}
	.custom-close{top: -35px;right: 0;}
	.creat-items-popup .modal-dialog{width:250px; }
	.creat-items-popup .custom-close{ right:0px;  }
	.create-items-popup .modal-dialog{width: 300px;margin: 75px auto;}
	.create-items-popup .share-title{ margin-left: 0px;}
	.pop-tab li a{ padding: 0 5px; font-size: 15px; }
	.browser-list-search .search{ width:70%; }
	.browser-list-search .filter{margin-left:10px; }
	.profile .profile-text{ padding-left:20px; padding-right:20px;}
	.box2 .social a {width: 32.8%;}
	.box2.join .social a,.box2.join .social a:first-child,.box2.join .social a:last-child{width:70px;}
	.welcome-popup .modal-content{ padding: 50px 20px; }
	.welcome-popup .custom-btn{width:215px;}
	button.close.bg-close{ right: 1px;  z-index:9; }
	.owl-nav div.owl-prev{ left: -26px;}
	.feature-slide  div.owl-next{right: -26px;}
}
@media (min-width: 768px){
  .custom-header .container-fluid {width: 750px;}
}
@media (min-width: 992px){
	.custom-header .container-fluid{width: 970px;}
	.chat-body{width: 653px;margin: auto; }
}
@media (min-width: 1200px){
	.custom-header .container-fluid{width: 1170px;}
}

@media (min-width: 768px){

.login-profile .custom-header.navbar-default .navbar-nav>li>a{padding: 24px 30px; }
.custom-header.navbar-default .navbar-nav>li>a{padding: 24px 13px;}
.custom-header.navbar-default .navbar-nav>li:last-child{margin:0px;}
.custom-header.navbar-default .navbar-nav>li.user-display{margin-left: 65px;margin-top: 15px;}
.custom-header.navbar-default .navbar-nav>li.user-display a{ padding:0px;}
.confirmation .modal-dialog{width:554px; }
.creat-items-popup .modal-dialog{width:307px; }
.create-items-popup .modal-dialog{ width: 479px;   }
.create-items-popup.profile-showcase .modal-dialog{width:404px;   }
.custon-md-5{width: 37.666667%;}
.custon-md-7{width: 62.333333%;}
.welcome-popup .modal-dialog{ width:571px;  margin: 100px auto;  }
.login-profile .custom-header.navbar-default .navbar-nav{}
#send.create-items-popup .modal-dialog {width: 85%;}

}

@media (max-width: 1199px){
 	.pie-content p{ font-size: 28px; line-height: 38px;  }
	.compass,.compass.compass2{ margin:80px auto; }
	.pie-content{margin:50px 0;  text-align: center;}
	.bottom-content p{font-size: 18px; line-height:28px; }
	.banner-head .pie-content{padding:0;margin-bottom: 0;}
	.feature-slide{width: 550px; margin-left: 45px;  }
	.contact-col .col-title{ margin-left:15px;  }
	.contact-col .image img{ width: 100%;  }
	.browser-list-search{position: static;width: 100%;float: left;margin-top: 15px;}
	.browselist .main-title{ width:100%; float: left;}
	.browser-list-search .search{width: 85%;float: left;}
	.box2.join .social a,.box2.join .social a:first-child,.box2.join .social a:last-child{width: 71px;}

}

@media (max-width: 1024px) {
	.pricing-col{ margin-bottom: 50px;}
	.founder-row { text-align: center;}
	.discription-col .social a{ float: none; display: inline-block;}
	.founder-row .image img{  display: inline-block;   }
	.webdevelop-inside{width:auto;padding: 50px 80px;}
	.webdevelop h1{padding: 0 80px; line-height: 50px; font-size: 40px; margin: 20px 0 20px 0; }
	.webdevelop{height: auto;}
	.feature-slide{ width: 262px; }
	.feature-slide  div.owl-next{right: -35px;}
	.tab_content .col-md-6 .form-control{  margin-bottom: 20px;}
	.info-col,.showcase .row:last-child .showcase-col{margin-bottom:20px;}
	.chat-left,.chat-left-header{width: 285px;}
	.chat-right,.chat-footer{ width: 70%;}
	.box2.join .social a,.box2.join .social a:first-child,.box2.join .social a:last-child{width: 84px;}
	.project-row>.check{right: 139px;bottom: 14px;left: auto;top: auto;z-index: 999;}
	.profile-showcase .custom-btn{ margin-top:15px;  }
	.pie-content li{text-align:left; }

}
@media (max-width: 990px) {
.multiple-line-css{ margin-bottom:15px;}

.chat-left,.chat-left-header{ left: -226px;}
.chat-right,.chat-footer{width: calc(100% - 59px);}
.chat-left-header .menu-chat{ display:block;}
body.user-hide .chat-left,body.user-hide .chat-left-header{left: 0;width: 25%;}
body.user-hide .chat-right,body.user-hide .chat-footer{width: 75%;}

}
@media (max-width: 767px) {
 	.custom-header.navbar-default .nav>li{  border-bottom: #fff solid 1px;}
	.custom-header.navbar-default .nav>li:last-child{ border-bottom: none;  }
	.custom-header .navbar-nav{ margin-top: 0; margin-bottom: 0; }
	 #footer{ text-align: center;}
	.social.pull-right{ float: none !important; display: inline-block; padding-top:20px; }
    .webdevelop h1{ font-size:30px; line-height: 40px; }
	.webdevelop-inside{padding:30px;}
	.webdevelop h1{ padding: 0;  }
	.webdevelop-inside .logo img{ width: 80px; }
	.filter{position:static;margin-bottom: 25px;float: left;}
	.front-banner h1{margin-bottom: 15px; }
	.filter .quick-add{ float:right; width:100%; margin-top:15px;  }
	.filter-links{ text-align: center;}
	.filter ul li{float:none;display:inline-block;  }
	.banner-inside{text-align:center; }
	.filter .quick-add .input,.filter .quick-add .input-group{ width:100%;}
 	.feature-slide-outside{width:100%; float: left; text-align:center;}
	.feature-slide-outside .feature-slide{display:inline-block !important;float: none;margin-left: 0;}
	.feature-col{ float: none; display: inline-block;}
	.feature-row{text-align:center;}
	#banner.front-banner{ padding-bottom:40px; }
	.project-row img{ width:100%; }
	.project-row-content{  margin-top:20px; }
	.project-row .project-head h1{font-size:25px;  }
	.project-row .project-head span{font-size: 15px; }
	.project-row .project-head{padding-bottom: 12px;  margin-bottom: 12px;}
	.project-row p{font-size: 16px; }
	.steps li{margin: 0 15px; }
	.front-banner .step-section h1{ margin-bottom:45px; }
	.confirmation .modal-dialog{width:300px;     margin:100px auto; }
	.confirmation .modal-header{ padding:15px; }
	.confirmation h4{ font-size: 20px;  }
	.confirmation p{ font-size: 20px; line-height: 28px; margin-bottom: 20px; }
	.confirmation .modal-body{padding:20px; }
	.confirmation .custom-btn{ font-size:18px; padding:15px 0; }
	.creat-items-popup .modal-dialog{width:307px; margin:80px auto; }
	.create-items-popup .info-title{ font-size: 18px;}
	.banner-search { padding-left: 15px; padding-right: 15px;  }
	.banner-search .search{ width: 100%;   }
	.browser-list-search .search{ width:75%; }
	.showcase-col img{ width:100%; height:auto; }
	.profile-content{ padding-left: 0px; padding-right: 0px; }
	.chat-footer{bottom: 99px;}
	.login-profile .custom-header.navbar-default .nav>li{ border-color:#0099ff;}
	.login-profile-col{ margin-top:0px;}
	.login-profile-col p{ line-height: 30px;font-size: 22px;}
	.login-profile-col h3{ font-size:40px;}
	.box2 .social a{ width: 33%; }
    .project-row .refress{top: auto;bottom: 14px;right: 210px;}
	.project-row>.check{right: 139px;}
	.create-items-popup .modal-dialog {width: 420px;margin: 50px auto;}
	#chatfooter{ text-align:center;}
 }
@media (max-width: 480px) {
 	.pie-content h3{ font-size: 28px; margin-bottom: 10px; }
	.pie-content p{ font-size: 20px; line-height: 28px;  }
	.compass{width: 320px;height: 320px;}
	.compass .circle{width: 94px;height: 94px;top: 113px;left: 113px;background-size: 100% 100%;}
	.compass span.personal{top: 50px;right: 95px;}
	.compass span.team-community{top: 133px;right: 14px;}
	.compass span.professional-business{bottom: 40px;right: 100px;}
	.compass span.family-friends{top: 137px;left: 20px;}
	.subnav ul li{margin-right: 15px;}
	.bottom-content{ margin-top: 22px;}
	.bottom-content p{ font-size: 18px; line-height: 28px; margin-bottom: 15px; }
	.filter .quick-add{width:100%;margin-top: 10px; }
	.filter .quick-add .input{ width:100%;}
	.filter ul li{ margin-right: 30px; }
	.owl-theme .owl-buttons{ margin-bottom: 20px; }
	.owl-theme .owl-buttons div{ position:static; display: inline-block; margin: 0 5px; }
	.project-row .project-head h1{font-size: 22px;padding-right: 40px; }
	.steps li .circle{width:68px;height: 68px;line-height: 24px;font-size: 13px;}
 	.steps li .circle span{font-size: 23px;margin-top: 12px;}
	.steps li p{ font-size: 14px;  }
	.front-banner .step-section h1{ font-size: 26px; }
	.steps li{margin: 0 15px 20px; }
	.title{ font-size: 33px;margin-bottom: 22px;padding-bottom: 10px;}
	.title small{font-size: 26px;}
	.bill-details-col{width: 100%;}
	.custom-close{top: -35px;right: 0;}
	.creat-items-popup .modal-dialog{width:250px; }
	.creat-items-popup .custom-close{ right:0px;  }
	.create-items-popup .modal-dialog{width: 300px;margin: 75px auto;}
	.create-items-popup .share-title{ margin-left: 0px;}
	.pop-tab li a{ padding: 0 5px; font-size: 15px; }
	.browser-list-search .search{ width:70%; }
	.browser-list-search .filter{margin-left:10px; }
	.profile .profile-text{ padding-left:20px; padding-right:20px;}
	.box2 .social a {width: 32.8%;}
	.box2.join .social a,.box2.join .social a:first-child,.box2.join .social a:last-child{width:70px;}
	.welcome-popup .modal-content{ padding: 50px 20px; }
	.welcome-popup .custom-btn{width:215px;}
	button.close.bg-close{ right: 1px;  z-index:9; }
	.owl-nav div.owl-prev{ left: -26px;}
	.feature-slide  div.owl-next{right: -26px;}
}
@media (min-width: 768px){
  .custom-header .container-fluid {width: 750px;}
}
@media (min-width: 992px){
	.custom-header .container-fluid{width: 970px;}
	.chat-body{width: 90%;margin: auto;}
}
@media (min-width: 1200px){
	.custom-header .container-fluid{width: 1170px;}
}

@media (min-width: 768px){

.login-profile .custom-header.navbar-default .navbar-nav>li>a{padding: 24px 30px; }
.custom-header.navbar-default .navbar-nav>li>a{padding: 13px 18px;}
.custom-header.navbar-default .navbar-nav>li:last-child{margin:0px;}
.custom-header.navbar-default .navbar-nav>li.user-display{margin-left: 20px;margin-top: 9px;}
.custom-header.navbar-default .navbar-nav>li.user-display a{ padding:0px;}
.confirmation .modal-dialog{width:554px; }
.creat-items-popup .modal-dialog{width:307px; }
.create-items-popup .modal-dialog{ width: 479px;   }
.create-items-popup.cropper-view-popup .modal-dialog{width: 800px;}


.create-items-popup.profile-showcase .modal-dialog{width:404px;   }
.custon-md-5{width: 37.666667%;}
.custon-md-7{width: 62.333333%;}
.welcome-popup .modal-dialog{ width:571px;  margin: 100px auto;  }
.login-profile .custom-header.navbar-default .navbar-nav{}
#send.create-items-popup .modal-dialog {width: 85%;}

}

@media (max-width: 1199px){
 	.pie-content p{ font-size: 28px; line-height: 38px;  }
	.compass,.compass.compass2{ margin:80px auto; }
	.pie-content{margin:50px 0;  text-align: center;}
	.bottom-content p{font-size: 18px; line-height:28px; }
	.banner-head .pie-content{padding:0;margin-bottom: 0;}
	.feature-slide{width: 550px; margin-left: 45px;  }
	.contact-col .col-title{ margin-left:15px;  }
	.contact-col .image img{ width: 100%;  }
	.browser-list-search{position: static;width: 100%;float: left;margin-top: 15px;}
	.browselist .main-title{ width:100%; float: left;}
	.browser-list-search .search{width: 85%;float: left;}
	.box2.join .social a,.box2.join .social a:first-child,.box2.join .social a:last-child{width: 71px;}

}

@media (max-width: 1024px) {
	.pricing-col{margin-bottom: 20px;}
	.pricing-bnt{margin-bottom: 40px;}
	.founder-row { text-align: center;}
	.discription-col .social a{ float: none; display: inline-block;}
	.founder-row .image img{  display: inline-block;   }
	.webdevelop-inside{width:auto;padding: 50px 80px;}
	.webdevelop h1{padding: 0 80px; line-height: 50px; font-size: 40px; margin: 20px 0 20px 0; }
	.webdevelop{height: auto;}
	.feature-slide{ width: 262px; }
	.feature-slide  div.owl-next{right: -35px;}
	.tab_content .col-md-6 .form-control{  margin-bottom: 20px;}
	.info-col,.showcase .row:last-child .showcase-col{margin-bottom:20px;}
	.chat-left,.chat-left-header{width: 285px;}
	.chat-right,.chat-footer{ width: 70%;}
	.box2.join .social a,.box2.join .social a:first-child,.box2.join .social a:last-child{width: 84px;}
	.project-row>.check{right: 139px;bottom: 14px;left: auto;top: auto;z-index: 999;}
	.profile-showcase .custom-btn{ margin-top:15px;  }
	.pie-content li{text-align:left; }

}
@media (max-width: 990px) {
.multiple-line-css{ margin-bottom:15px;}

.chat-left,.chat-left-header{ left: -226px;}
.chat-right,.chat-footer{width: calc(100% - 59px);}
.chat-left-header .menu-chat{ display:block;}
body.user-hide .chat-left,body.user-hide .chat-left-header{left: 0;width: 300px;}
body.user-hide .chat-right,body.user-hide .chat-footer{width: calc(100% - 301px);}
.user-list li .image{left:auto;right: 15px;}
.user-list li .image img{width: 38px;height: 38px;}

body.user-hide .user-list li .image{left:15px;right:auto;}
body.user-hide .user-list li .image img{width:50px;height:50px;}







}
@media (max-width: 767px) {
 	.custom-header.navbar-default .nav>li{  border-bottom: #fff solid 1px;}
	.custom-header.navbar-default .nav>li:last-child{ border-bottom: none;  }
	.custom-header .navbar-nav{ margin-top: 0; margin-bottom: 0; }
	 #footer{ text-align: center;}
	.social.pull-right{ float: none !important; display: inline-block; padding-top:20px; }
    .webdevelop h1{ font-size:30px; line-height: 40px; }
	.webdevelop-inside{padding:30px;}
	.webdevelop h1{ padding: 0;  }
	.webdevelop-inside .logo img{ width: 80px; }
	.filter{position:static;margin-bottom: 25px;float: left;}
	.filter.my-contact-search{ width:100%; }
	.front-banner h1{margin-bottom: 15px; }
	.filter .quick-add{ float:right; width:100%; margin-top:15px;  }
	.filter-links{ text-align: center;}
	.filter ul li{float:none;display:inline-block;padding: 0 5px;}
	.banner-inside{text-align:center; }
	.filter .quick-add .input,.filter .quick-add .input-group{ width:100%;}
 	.feature-slide-outside{width:100%; float: left; text-align:center;}
	.feature-slide-outside .feature-slide{display:inline-block !important;float: none;margin-left: 0;}
	.feature-col{ float: none; display: inline-block;}
	.feature-row{text-align:center;}
	#banner.front-banner{ padding-bottom:40px; }
	.project-row img{ width:100%; }
	.project-row-content{  margin-top:20px; }
	.project-row .project-head h1{font-size:25px;  }
	.project-row .project-head span{font-size: 15px; }
	.project-row .project-head{padding-bottom: 12px;  margin-bottom: 12px;}
	.project-row p{font-size: 16px; }
	.steps li{margin: 0 15px; }
	.front-banner .step-section h1{ margin-bottom:45px; }
	.confirmation .modal-dialog{width:300px;     margin:100px auto; }
	.confirmation .modal-header{ padding:15px; }
	.confirmation h4{ font-size: 20px;  }
	.confirmation p{ font-size: 20px; line-height: 28px; margin-bottom: 20px; }
	.confirmation .modal-body{padding:20px; }
	.confirmation .custom-btn{ font-size:18px; padding:15px 0; }
	.creat-items-popup .modal-dialog{width:307px; margin:80px auto; }
	.create-items-popup .info-title{ font-size: 18px;}
	.banner-search { padding-left: 15px; padding-right: 15px;  }
	.banner-search .search{ width: 100%;   }
	.browser-list-search .search{ width:75%; }
	.showcase-col img{ width:100%; height:auto; }
	.profile-content{ padding-left: 0px; padding-right: 0px; }
	.chat-footer{bottom: 99px;}
	.login-profile .custom-header.navbar-default .nav>li{ border-color:#0099ff;}
	.login-profile-col{ margin-top:0px;}
	.login-profile-col p{ line-height: 30px;font-size: 22px;}
	.login-profile-col h3{ font-size:40px;}
	.box2 .social a{ width: 33%; }
    .project-row .refress{top: auto;bottom: 14px;right: 210px;}
	.project-row>.check{right: 139px;}
	.create-items-popup .modal-dialog {width: 420px;margin: 50px auto;}
	#chatfooter{ text-align:center;}
.front-banner .search{ width:100%;}
.cropArea{width: 358px; height: 280px; }
.view-img{ display:none;}
.custom-btn.btn-red{ margin-top:15px;}
.browser-col.contact-col{ height: auto;}

 }
@media (max-width: 480px) {
 	.pie-content h3{ font-size: 28px; margin-bottom: 10px; }
	.pie-content p{ font-size: 20px; line-height: 28px;  }
	.compass{width: 320px;height: 320px;}
	.compass .circle{width: 94px;height: 94px;top: 113px;left: 113px;background-size: 100% 100%;}
	.compass span.personal{top: 50px;right: 95px;}
	.compass span.team-community{top: 133px;right: 14px;}
	.compass span.professional-business{bottom: 40px;right: 100px;}
	.compass span.family-friends{top: 137px;left: 20px;}
	.subnav ul li{margin-right: 15px;}
	.bottom-content{ margin-top: 22px;}
	.bottom-content p{ font-size: 18px; line-height: 28px; margin-bottom: 15px; }
	.filter .quick-add{width:100%;margin-top: 10px; }
	.filter .quick-add .input{ width:100%;}
	.filter ul li{ margin-right: 30px; }
	.owl-theme .owl-buttons{ margin-bottom: 20px; }
	.owl-theme .owl-buttons div{ position:static; display: inline-block; margin: 0 5px; }
	.project-row .project-head h1{font-size: 22px;padding-right: 0; }
	.steps li .circle{width:68px;height: 68px;line-height: 24px;font-size: 13px;}
 	.steps li .circle span{font-size: 23px;margin-top: 12px;}
	.steps li p{ font-size: 14px;  }
	.front-banner .step-section h1{ font-size: 26px; }
	.steps li{margin: 0 15px 20px; }
	.title{ font-size: 33px;margin-bottom: 22px;padding-bottom: 10px;}
	.title small{font-size: 26px;}
	.bill-details-col{width: 100%;}
	.custom-close{top: -35px;right: 0;}
	.creat-items-popup .modal-dialog{width:250px; }
	.creat-items-popup .custom-close{ right:0px;  }
	.create-items-popup .modal-dialog{width: 300px;margin: 75px auto;}
	.create-items-popup .share-title{ margin-left: 0px;}
	.pop-tab li a{ padding: 0 5px; font-size: 15px; }
	.browser-list-search .search{ width:70%; }
	.browser-list-search .filter{margin-left:10px; }
	.profile .profile-text{ padding-left:20px; padding-right:20px;}
	.box2 .social a {width: 32.8%;}
	.box2.join .social a,.box2.join .social a:first-child,.box2.join .social a:last-child{width:70px;}
	.welcome-popup .modal-content{ padding: 50px 20px; }
	.welcome-popup .custom-btn{width:215px;}
	button.close.bg-close{ right: 1px;  z-index:9; }
	.owl-nav div.owl-prev{ left: -26px;}
	.feature-slide  div.owl-next{right: -26px;}
  .cropArea{width: 238px; height: 190px; }
.project-row .drag{bottom: 10px; margin-right: 22px;}

}
