/*!
 * Theme Name - Scedge
 */
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&subset=cyrillic,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');


a,.feature-btn label span,.feature-slide .feature-col,.form-control,.custom-btn,.share-radio label:before,.upload-cover-photo,.chat-left,.chat-left-header,.chat-right,.chat-footer{ color:#0099ff; -webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;transition:all .1s ease-in-out;cursor: pointer;}
.upload-cover-photo {cursor: pointer;}
.upload-cover-photo i{cursor: pointer;}
a:hover,a:focus{ text-decoration:none; outline:none;  }
ul{ margin:0px; padding:0px; }
li{ list-style:none;}
::-moz-selection { background:#0099ff; }
::selection { background:#0099ff; }
.rounded-btn{color: #ffffff;font-size:13px;text-transform: uppercase;border-radius: 20px;height: 37px;background-color: #0099ff;font-weight: 700;min-width: 102px;display: inline-block;text-align: center;line-height: 37px;margin-right:35px;padding: 0 20px;outline: none;}
.rounded-btn:hover,.rounded-btn:focus{color: #fff; background-color:#0067ab; }
.rounded-btn:last-child{ margin-right: 0px; }
body{font-family: 'Source Sans Pro', sans-serif;/* background-image:url(../image/pattren.jpg); */background-color: #f4f5f7;}
#wrapper,.chat-wrap{display: flex;min-height: 100vh;flex-direction: column;}
.chat-content,#content{flex: 1;position: relative;overflow: hidden;}
.custom-header.navbar-default{background-color:#0099ff;border:none;border-radius:0;margin:0px;position: relative;z-index: 9;min-height: 50px;}
.custom-header.navbar-default .nav>li{ font-size:15px; text-transform:uppercase; font-family: 'Oswald', sans-serif; font-weight:500; }
.custom-header.navbar-default .navbar-nav>li>a{ color:#fff;}
.custom-header.navbar-default .navbar-nav>.active>a, .custom-header.navbar-default .navbar-nav>.active>a:focus, .custom-header.navbar-default .navbar-nav>.active>a:hover,.custom-header.navbar-default .navbar-nav>li>a:hover,.custom-header.navbar-default .navbar-nav>li>a:focus{background-color: transparent; color: #000;}
.user-display .user{ margin-right:8px; }
.user-display .user img{width: 32px;height: 32px;border-radius:50%;border:#fff solid 1px;}
.user-display .caret{border-top:9px dashed;border-right:9px solid transparent;border-left:9px solid transparent;border-top:8px solid;margin-top: 17px;cursor: pointer;}
.custom-header.navbar-default .navbar-brand{height:auto;padding: 11px 15px;}
.custom-header.navbar-default .navbar-toggle{ border-color:#fff; margin-top: 16px;}
.custom-header.navbar-default .navbar-toggle:hover,.custom-header.navbar-default .navbar-toggle:focus{ background-color:#fff; border:1px solid #fff; }
.custom-header.navbar-default .navbar-toggle .icon-bar{  background-color:#fff; }
.custom-header.navbar-default .navbar-toggle:hover .icon-bar,.custom-header.navbar-default .navbar-toggle:focus .icon-bar{background-color:#0099ff; }

/**HEADER END**/

.cover{ position:absolute; top:0px; right:0px; bottom:0px; left:0px;  background-size:cover; background-repeat:no-repeat;  }
#banner{position:relative;min-height: 348px;}
#banner.personal-profile{min-height: 274px;}
#content{  display:block; padding-bottom:50px; }

.subnav{background-color:#0099ff;  }
.subnav ul li{ list-style:none; float:left; font-size:17px;  text-transform:uppercase; margin-right:57px; padding:20px 0; }
.subnav ul li a{ color:#005085;}
.subnav ul li.active a{color:#fff;}
.bottom-content{ margin-top:50px; }
.tab-row{ margin-bottom:50px; }
.bottom-content h3{font-size:25px; text-transform:uppercase; font-weight:600; border-bottom:#b7b7b7 solid 1px; padding:0 20px 15px; margin-bottom:15px; position: relative;}
.bottom-content p{color:#000000; font-size:22px; line-height:35px; margin-bottom:30px; }
.bottom-content p:last-child{margin:0; }
.tab-inside-cnt{padding:0 20px;text-align: justify; }
.tab-inside-cnt.personal-content{padding: 40px 20px;}
.compass{width:367px;height:367px;position:relative;margin-top: 80px;margin-left: 60px;}
.pie-content .tab_content{ display:block;}
.create-items-popup{display:block !important;}
.modal-sm{width:405px !important;display:block !important;}
.modal-lg {width: 571px !important;display:block !important;}
body.modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden !important;
}
.edit-profile-user-popup{}
.edit-profile-user-popup .edit-profile-user {
    width: 100px;
    height: 100px;
    margin: auto;
}
modal{display:none}
.modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;

    /* z-index must be below .modal and above everything else  */
    z-index: 900;
}

.pie-content h3{font-size:36px;font-weight:bold;color:#ffffff;margin-bottom: 18px;}
.pie-content p{ color:#ffffff; font-size:36px;  }
.pie-content ul{  }
.pie-content li{color:#ffffff;font-size:20px;line-height: 27px;font-weight: 300;list-style: disc;margin-left: 22px;margin-bottom: 15px;}
.pie-content{margin-top: 130px;}
.pie-content h4{ color: #ffffff; font-size: 25px;  text-transform: uppercase; margin-bottom: 30px; font-weight: 600;  }
.pie-content.text p{  font-size: 20px;  line-height: 30px; font-weight: 300; }
.compass .circle{width:105px;height:105px;position:absolute;top: 131px;left: 131px;background-image:url(../image/circle.png); -webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.compass.tab1 .circle{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform: rotate(360deg);transform:rotate(360deg);}
.compass.tab2 .circle{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform: rotate(90deg);transform:rotate(90deg);}
.compass.tab3 .circle{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform: rotate(180deg);transform:rotate(180deg);}
.compass.tab4 .circle{-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-o-transform:rotate(270deg);-ms-transform: rotate(270deg);transform:rotate(270deg);}
.compass span.pie{ color:#000000; font-size:17px; text-transform:uppercase; position:absolute; font-weight:600; cursor:pointer; }
.compass span.pie{position:absolute; }
.compass span.pie a{ color:#000000;}
.compass span.personal{top: 63px;right: 124px;width: 127px;text-align: center;}
.compass span.team-community{top: 160px;right: 22px;width: 89px;text-align: center;}
.compass span.professional-business{bottom: 45px;right: 124px;width: 127px;text-align: center;}
.compass span.family-friends{top: 158px;left: 25px;width: 78px;text-align: center;}
.compass.tab1 span.pie.personal a,.compass.tab2 span.pie.team-community a,.compass.tab3 span.pie.professional-business a,.compass.tab4 span.pie.family-friends a{color:#fff;}
.compass .pie-circle path{ fill:#fff; cursor:pointer;}
.compass.tab1 .pie-circle path.personal,.compass.tab2 .pie-circle path.team-community,.compass.tab3 .pie-circle path.professional-business,.compass.tab4 .pie-circle path.family-friends{ fill:#0099ff; }
.compass.compass2{ margin-left: 0; }
#banner.compass-banner{min-height:730px;}
.banner-head .pie-content{margin-top:60px;padding: 0 222px;}
.compass-banner .pie-content{margin-top: 75px;}
.compass-header{ text-align:center;}
.compass-header .navbar-brand{float: none;display: inline-block;padding-bottom: 10px;}

.pricing-col{background-color:#ffffff;border-radius:10px;padding-bottom:10px;box-shadow: 0 0 10px 2px #cdced4; }
.pricing-col .pricing-head{color:#fefefe;font-size:25px;text-transform:uppercase;border-top-left-radius:10px;border-top-right-radius:10px;text-align:center;padding: 25px 0px;font-weight: 600;margin-bottom: 30px;}
.pricing-col ul {padding:0 35px;}
.pricing-col ul li{position:relative;color:#0057ae;font-size:18px;font-weight:300;padding-left: 18px;margin-bottom: 17px;}
.pricing-col ul li:before{content:"\f105";font: normal normal normal 14px/1 FontAwesome;font-size: 21px;position: absolute;left: 0px;top: 2px;}
.pricing-col ul li:last-child{ margin:0px; }
.pricing-col.free-loader .pricing-head{background-color:gray;}
.pricing-col.personal .pricing-head{background-color:blue;}
.pricing-col.professional .pricing-head{background-color:#32a438;}

.pricing-bnt{ height: 65px;  background-color: #7b60ef;  color: #fefefe;  display: block; border-radius: 10px; text-align: center; line-height: 65px; font-size: 22px; font-weight: 600; text-transform: uppercase; margin-top: 20px;margin-left:10px;margin-right:10px;}
.pricing-bnt:hover,.pricing-bnt:focus{ color: #fff; }

.pricing-bnt.free-btn{ background-color:gray;}
.pricing-bnt.personal-btn{ background-color:blue;}
.pricing-bnt.professional-btn{ background-color: #32a438;}

#chatfooter{ padding:16px 0; border-top:#bdbec4 solid 1px; color:#000000; position: relative;}
#chatfooter a{color:#000000; }
#chatfooter a:hover,.login-profile #footer a:hover{color: #0099ff;}
#chatfooter .copyright{font-size:15px;font-weight: 500;}
#chatfooter .social a{font-size:18px; margin-right:45px; cursor: pointer; }
#chatfooter .social a:last-child{margin:0px; cursor: pointer;}

#footer{ padding:32px 0; border-top:#bdbec4 solid 1px; color:#000000; position: relative;}
#footer a{color:#000000; }
#footer a:hover,.login-profile #footer a:hover{color: #0099ff;}
#footer .copyright{font-size:15px;font-weight: 500;}
#footer .social a{font-size:18px; margin-right:45px;  }
#footer .social a:last-child{margin:0px; }

.feature-btn{position: absolute;top: -13px;right: 0px;overflow:hidden;font-size: 12px;width: 146px;height: 43px;}
.feature-btn input[type="checkbox"]{ position: absolute; top: -99999px; visibility: hidden; opacity: 0;}
.feature-btn label{background-color:#fff;border:#0099ff solid 1px;width: 146px;height: 43px;border-radius: 20px;box-sizing: border-box;padding: 2px;text-align: center;font-weight: 600;}
.feature-btn label span{height: 37px;display: inline-block;padding: 0 11px;line-height: 37px;cursor: pointer;color: #000;float: left;}
.feature-btn label span.annual{ float: right;}
.feature-btn label span.monthly{ border-radius: 20px; background-color: #0099ff;color: #fff;}
.feature-btn input[type="checkbox"]:checked + label span.annual{  border-radius: 20px; background-color: #0099ff;color: #fff;}
.feature-btn input[type="checkbox"]:checked + label span.monthly{ background-color: transparent; color: #000; }
.founder-row{ padding-top: 20px; }
.founder-content{display: block;clear: both;min-height: 220px;margin-bottom: -100px;width: 100%;float: left;}
.bottom-content .founder-content p{margin-top: 50px;}
.founder-row .user-image{float: right;margin-left: 30px;margin-top: 0;}
.discription-col h4,.discription-col h5{  color: #0099ff; font-size: 36px; font-weight: bold; text-transform: uppercase;}
.discription-col h5{  color: #000000; font-size: 22px;}
.discription-col .social{display: block;width:100%;float: left;margin: 12px 0 25px;}
.discription-col .social a{width: 35px;height: 35px;float: left;border: #000000 solid 2px;text-align: center;line-height: 32px;margin-right: 25px;color: #000000;font-size: 27px;}
.discription-col .social a:hover{background-color: #0099ff;color: #fff;border-color: #09f;}
.discription-col .social a:last-child{ margin: 0;}
.webdevelop{position: relative;width: 100%;height: 601px;margin-bottom: -100px;text-align: center;}
.webdevelop-inside{ position: relative;  width: 768px; margin:auto; padding-top: 80px; }
.webdevelop h1{ color: #fff; font-size:60px;font-weight: normal; padding: 0 80px; line-height: 76px; margin: 0px 0 20px 0; text-transform: uppercase;}
.webdevelop h1 strong{ font-weight: 600;}
.webdevelop p{ font-size: 33px;  line-height: 51px; color: #fff;  }


#banner.front-banner{min-height: 178px;box-shadow: 0 3px 6px 2px #dedfe0;}
.banner-inside{padding-top: 20px;}
.front-banner .container{ position: relative;}
.front-banner h1{ color: #ffffff; font-size:40px; font-weight: 600; margin: 0; }
.filter{position: relative;top: 10px;right: 0;float: right;}
.full-width-filter.filter{width: 100%;}
.filter ul li{float: left;color: #ffffff;font-size: 18px;margin-right: 0px;margin-right: 25px;font-weight: 500;line-height: 41px;padding: 0 15px;}
.filter ul li:last-child{margin-right: 0px; }
.filter ul li a{color: #ffffff;}
.filter ul li a:hover{ color: #0099ff;}
.filter .quick-add{position: relative;width: 226px;height: 43px;}
.filter .quick-add .input{width: 226px;height: 43px;border-radius: 20px;color: #666565;font-size: 12px;font-weight: normal;outline: none;border: none;padding: 0 95px 0px 14px;box-sizing: border-box;text-transform: capitalize;}
.filter .quick-add .quick-btn{position: absolute;cursor:pointer;top: 3px;right: 3px;width: 88px;height: 37px;border-radius: 20px;outline: none;border: none;background-color: #0099ff;color: #fff;font-size: 13px;text-align: center;line-height: 36px;text-transform: uppercase;font-weight:600;z-index: 9;}
.filter .quick-add .input::-webkit-input-placeholder {  color: #666565; }
.filter .quick-add .input::-moz-placeholder {  color: #666565; }
.filter .quick-add .input:-ms-input-placeholder { color: #666565;}
.filter .quick-add .input:-moz-placeholder { color: #666565; }
.feature-row{margin-top: 0;}
.feature-row.front-slider{text-align: center;}
.feature-row.front-slider .feature-slide{ float: none; display: inline-block !important;}

.feature-col{float: left;position: relative;width: 262px;height: 80px;}
.feature-col .cover{ border-radius:5px  }
.feature-col img{border-radius: 4px;}
.feature-col .col-inside{ display: table; position: absolute;width: 100%;height:100%;top: 0px; cursor: pointer; }
.feature-col .col-inside div{display: table-cell;vertical-align: middle;text-align: center;color: #fff;font-size: 18px;text-transform: uppercase;}
.feature-col .icon{width: 30px;height: 30px;display: inline-block;border: #fff solid 3px;border-radius: 50%;text-align: center;line-height: 27px;margin-bottom: 5px;}
.feature-col p{ margin: 0px;}

.feature-slide{width: 830px;float: right;position: relative;height: 85px;}
.feature-slide .feature-col{float: left;background-color: #0099ff;border-radius: 5px;background-color: rgba(173, 178, 188, 0.29);border: #9c9c9c solid 1px;}
.feature-slide .feature-col img{ background-color: #0099ff;  }
.feature-slide .feature-col h3{font-weight: bold;font-size: 20px;}
.feature-slide .feature-col h3 a{ color:#fff; }
.feature-slide .feature-col:hover img,.owl-item .item.active .feature-col img{ opacity: 0.7;  }
.owl-item .item.active .feature-col h3{text-shadow: 0 0 5px #d8eefd;}

.owl-stage{position: relative;-webkit-transform: translate3d(0px, 0px, 0px);}
.owl-stage-outer{overflow: hidden;position: relative;width: 100%;padding-bottom: 1px;}
.owl-item{float: left; position: relative;}
.owl-nav{margin-top: 5px;text-align: center;}
.owl-nav div{position: absolute;top: 24px;color: #fff;cursor: pointer;font-size: 0;}
.owl-nav div.owl-prev{left: -35px;}
.owl-nav div.owl-next{right: -18px;}
.owl-nav div:before{content: "\f137";font: normal normal normal 14px/1 FontAwesome;font-size: 28px;}
.owl-nav div.owl-next:before{content: "\f138";}
.owl-dots{ display: none;}

#content.main-content{padding: 20px 0;}
.project-row,.box{background-color: #fff;border-radius: 5px;box-shadow: 0 0 10px 2px #cdced4;padding: 15px 15px 40px 15px;margin-bottom: 25px;clear: both;position: relative;}
.project-row:last-child{}
.disable-content .bill-details-inside,.order-summary.disable-content .order-summary-inside{ opacity: .5; pointer-events: none; }
.project-row>.check{left: -55px; top: 50%;margin-to*p: -35px;}
.project-row .refress{position: absolute;top: 17px;right: 20px;font-size: 35px;color: #000;z-index: 99;}
.project-row>img{  border-radius: 5px;}
/*.project-row .project-img {width: 100%;height: 134px;}
.project-row .project-img-full{width:300px;height:auto;}*/

.project-row .cover{width: 165px;height: 134px;margin-left: 15px;}


.project-row-content{ position: relative; }
.project-row .row-icons{margin-top: 1px;}
.project-row .project-head {border-bottom: #dcdcdc solid 1px;padding-bottom: 18px;margin-bottom: 10px;}
.project-row .project-head h1{color: #000000;font-size: 17px;font-weight: bold;text-transform: uppercase;margin: 0px 0 5px;}
.project-row .project-head span{color: #000000;font-size: 15px;text-transform: uppercase;margin-right: 33px;font-weight: bold;}

.project-row .project-head-without-padding{border-bottom: #dcdcdc solid 1px;padding-bottom:: 0px !important;margin-bottom: 10px;}
.project-row .project-head-without-padding h1{padding-left:10px; color: #000000;font-size: 23px;font-weight: bold;text-transform: uppercase;margin: 0px 0 5px;}
.project-row .project-head-without-padding span{color: #000000;font-size: 15px;text-transform: uppercase;margin-right: 33px;font-weight: bold;}

.project-footer{margin-top: 0;}
.project-row p{color: #000000;font-size: 15px;line-height: 21px;font-weight: 600;}
.project-footer p{color: #2e2e2e;font-size: 17px;line-height:22px;text-transform: uppercase;margin-bottom: 0;word-wrap: break-word;}
.project-footer p strong{ color: #000000;}
.drag{position:relative;margin-right: 22px;}
.drag a{margin-left: 20px;float: left;}
.drag a .fa{color: red;font-size: 33px; }
.check{width: 25px;height: 25px;position: absolute;top: 0px;right: 0px;overflow: hidden;}
.check input[type="checkbox"]{ position: absolute; top: -999px; visibility: hidden;}
.check label{width: 25px;height: 25px;border: #000 solid 2px;float: left;cursor: pointer;}
.check input[type="checkbox"]:checked + label:before{content: "\f00c";font: normal normal normal 14px/1 FontAwesome;font-size: 14px;color: #000;position: absolute;top: 5px;left: 6px;}
.select-row{clear:both;padding-bottom: 12px;padding-top: 7px;display: block;width: 100%;float: left;}
.select-row a{color:#373737;font-size: 12px;text-transform:uppercase;font-weight:bold;}
.select-row a.select-all{border-bottom: #373737 solid 1px;margin-right: 5px;}
.select-row a.delete{font-size: 15px;}

.step-section{margin-top: 30px;}
.step-section h1{color: #ffffff;font-size: 40px;text-transform: uppercase;font-family: 'Oswald', sans-serif;font-weight:500;margin-bottom: 70px;}
.steps li{display:inline-block;color: #ffffff;font-family: 'Oswald', sans-serif;font-weight:600;text-transform: uppercase;margin: 0 38px;}
.steps li a{color: #ffffff; outline: none;}
.steps li .circle{width: 108px;height: 108px;border-radius: 50%;background-color: #fff;color: #000000;font-size: 18px;line-height: 33px;display: inline-block;margin-bottom: 17px;}
.steps li .circle span{display:block;font-size: 40px;margin-top: 23px;}
.steps li p{margin:0px;font-weight: 400;font-size:18px;}
.steps li.active .circle{background-color: #0099ff;color: #fff; }

.title{color: #000000;font-size: 25px;text-transform: uppercase;font-family: 'Oswald', sans-serif;font-weight:500;margin:20px 0 0 0px;border-bottom: #cad0d4 solid 1px;margin-bottom:30px;padding-bottom:25px;line-height: normal;}
.alertTitle{ color: white; font-size: 25px;  text-transform: uppercase;font-family: 'Oswald', sans-serif;font-weight:500;}

.title small{color: #000000; font-size: 35px;  display: block;font-weight:500;}
.form-group{ margin-bottom: 20px;}
.form-control{border: #d7d7d7 solid 1px;border-radius: 0px;height: 60px;padding: 0 10px;color: #2e2e2e;font-size: 15px;box-shadow: none;font-family: 'Oswald', sans-serif;font-weight: 600;cursor: auto;}
.form-control:focus{ border-color: #0099ff;}
.form-control::-webkit-input-placeholder {  color: #000; }
.form-control::-moz-placeholder {  color: #000000; }
.form-control:-ms-input-placeholder { color: #000000; }
.form-control:-moz-placeholder { color: #000000; }
.form-group:last-child{ margin: 0;}
.custom-btn{width: 100%;height: 60px;display: block;outline:none;border:none;border-radius: 2px;border-bottom: #0067ab solid 3px;background-color: #0099ff;color: #fff;font-size: 19px;text-transform: uppercase;font-weight: 600;text-align: center;border:none;}
.alert-custom-btn{width: 20%;height: 30px;display: block;outline:none;border:none;border-radius: 2px;border-bottom: #0067ab solid 3px;background-color: #0099ff;color: #fff;font-size: 19px;text-transform: uppercase;font-weight: 600;text-align: center;}
.custom-btn:hover,.custom-btn:focus,.profile-content .contact-btn:hover,.profile-content .contact-btn:focus,.reset-password.custom-btn:hover,.reset-password.custom-btn:focus{ background-color:#0067ab; color: #fff; }
.custom-btn.confirm-pay{ line-height:60px;  }.order-summary .form-group{ margin-bottom: 30px;}
.order-summary .custom-btn{margin-top: 50px;}
.confirmation{font-family: 'Oswald', sans-serif; text-align: center;}
.confirmation .modal-header{background-color: #0099ff;color: #fff;font-weight:500;border: none;padding: 41px 150px;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.confirmation h4{font-size: 48px;text-transform: uppercase;line-height: 59px;}
.confirmation p{font-size: 43px;color: #000000;line-height: 63px;font-weight: 300;margin-bottom: 50px;}
.confirmation .modal-body{padding: 40px 35px 70px;}
.confirmation .custom-btn{border:none;font-size: 28px;padding: 22px 0;height: auto;border-radius: 5px;}
.custom-close{ opacity:1; position: absolute; top: 0px; right:-40px; outline:none; border:none;  }
.creat-items-popup .custom-close{ right: -30px; }
button.close.bg-close{background-color: #09f !important;top: 15px;z-index: -9;width: 40px;height: 40px;}
.close:focus, .close:hover{ opacity:1; }
.creat-items-content{ display:block; }
.creat-items-content .add-photo{ height: 136px; position: relative;}
.add-photo-strip{ width: 100%; float: left; height: 47px; background-color: #0266a9; clear: both; line-height: 47px; padding: 0 20px; text-transform: uppercase; }
.add-photo-strip a{ color:#fff; }
.add-photo-strip i.fa{margin-right: 11px;font-size: 25px;float: left;margin-top: 12px;}
.add-photo-strip .photo-col-right { font-size: 10px;   }
.creat-items-content form{ width: 100%; float: left;padding:15px 0;}
.creat-items-content .small-title{ color: #0099ff; font-size: 15px; text-transform: uppercase; font-weight: 600; padding-top: 10px;  }
.creat-items-content .mandatory{ color: #ff4f6c; font-size: 11px; }
.creat-items-content .form-group{ margin-bottom: 14px;}
.creat-items-content .form-control{  font-size: 12px; height: 44px; font-family: 'Source Sans Pro', sans-serif;  }
.creat-items-content textarea.form-control{ height:87px; padding: 10px; }
.creat-items-content .custom-btn{ height:44px;  border-width: 2px; font-size: 14px; font-weight: 400; }
.creat-items-content .modal-content{ border-radius: 0px;  }

.create-items-popup .modal-header{background-color: #0099ff;border-top-left-radius: 5px;border-top-right-radius: 5px;text-align: center;padding: 45px 0 15px;}
.create-items-popup .modal-header .user{display: inline-block;width: 100px;height: 100px;border: #88ccf9 solid 5px;border-radius: 50%;box-shadow: 0 4px 5px 0px #0080d5;}
.create-items-popup .modal-header .user img{ border-radius: 50%; width: 90px; height: 90px; }
.create-items-popup .info-title{  color: #ffffff; font-size: 30px; text-transform: uppercase; font-family: 'Oswald', sans-serif; position:absolute; top:17px; right: 28px; }
.create-items-popup .modal-body{text-align: left;}
.create-items-popup .form-control{font-family: 'Source Sans Pro', sans-serif;font-size: 16px;}
.create-items-popup textarea.form-control{padding:10px;height: 90px;resize: none;}
.create-items-popup .form-group{margin-bottom:20px;clear: both;}
.create-items-popup .share-title{width:80px;float: left;color: #2e2e2e;font-size: 16px;font-weight:600;line-height: 18px;text-transform: uppercase;margin-left: 18px;}
.share-radio{ position: relative; overflow: hidden; float: right;}
.share-radio label{width: 66px;height: 34px;background-color: #e0e0e0;border-radius: 20px;position: relative;cursor: pointer;}
.share-radio label:before {content: "";width: 28px;height: 28px;border-radius: 50%;background-color: #2592ff;position: absolute;top: 3px;left: 4px;}
.share-radio input[type="checkbox"]{ position: absolute; top: -9999px ; visibility: hidden;}
.share-radio input[type="checkbox"]:checked + label{ background-color: #2592ff;}
.share-radio input[type="checkbox"]:checked + label:before{ left:auto; right: 4px; background-color: #ffffff; }
.poptab-content{width:100%;float: left;clear: both;}
.pop-tab{ width:100%; float: left; border-bottom: #cad0d4 solid 1px; padding-bottom: 0px;  margin-bottom: 35px; margin-top: 15px;  }
.pop-tab li{ float: left; }
.add-field{ display:none; }
.pop-tab li a{color: #2e2e2e;font-size: 18px;padding: 0 15px;padding-bottom: 8px;float: left;text-transform: uppercase;font-weight: bold; position: relative;}
.pop-tab li.active a:before{ content: ""; height: 3px; width: 100%; background-color: #0099ff; position: absolute ; bottom: 0px; left: 0px;}
.pop-tab li span{cursor: pointer;color: #2e2e2e;font-size: 18px;padding: 0 15px;padding-bottom: 8px;float: left;text-transform: uppercase;font-weight: bold; position: relative;}
.pop-tab li.active span:before{ content: ""; height: 3px; width: 100%; background-color: #0099ff; position: absolute ; bottom: 0px; left: 0px;}

.create-items-popup .tab_content .share-title{ margin-left: 0; }
.tab_content{display:none;}
.tab_content#specs,.tab_content#time{display:block;}

.banner-small-title{ color: #ffffff; font-size: 25px;  margin: 0 0 15px 0px; font-weight: 600; }
.space{ margin: 0; }
.banner-search{border-bottom: #464646 solid 1px;padding-bottom:25px;margin-bottom: 35px;position: relative;}
.search{  width: 523px; height: 43px; position: relative; display: inline-block;}
.search .form-control{height: 43px;padding: 0 20px;border-radius: 20px;color: #969696;font-size: 16px;font-family: 'Source Sans Pro', sans-serif;font-weight: 500;text-transform: none;background-image: url(../image/search-icon.png);background-repeat: no-repeat;background-position: top 10px right 20px;border: #b3b3b3 solid 1px;}
.search .form-control::-webkit-input-placeholder {  color: #969696; }
.search .form-control::-moz-placeholder {  color: #969696; }
.search .form-control:-ms-input-placeholder { color: #969696; }
.search .form-control:-moz-placeholder { color: #969696; }
.main-title {border-bottom: #cad0d4 solid 1px;margin-bottom: 20px;padding-bottom: 10px;margin-top: 0;}
.main-title .title{margin: 0px;padding: 0px;border: none;}

.contact-col{ width: 100%; float: left;background-color: #fff; padding-bottom:15px; border-radius: 5px; box-shadow: 0 1px 3px 1px #d3d4d5; position: relative; margin-bottom: 30px;  }
.contact-col .image{position: relative;height: 175px;}
.contact-col .image .delete{position:absolute;top: 20px;left:20px;color: #fff;width: 28px;height: 28px;border-radius: 3px;background-color: rgba(0, 0, 0, 0.39);text-align: center;line-height: 28px;}
.contact-col .image img{border-top-left-radius:5px; border-top-right-radius:5px;  width:100%;height:175px;}
.contact-col .col-title{ color: #000000; font-size: 26px; font-weight: bold; text-transform: uppercase; width: 100%; float: left; margin-left: 28px; margin-top:15px; }
.contact-col .message{ position: absolute ;bottom:25px; right: 18px; width: 54px; height: 54px; border-radius: 50%; text-align: center; line-height: 54px;  background-color: #0099ff; color: #fff; font-size: 20px; }
.contact-col .message:hover{background-color: #424040;}

.contact-col .approve{ position: absolute ;bottom:25px; right: 74px; width: 54px; height: 54px; border-radius: 50%; text-align: center; line-height: 54px;  background-color: #0099ff; color: #fff; font-size: 20px; }
.contact-col .approve:hover{background-color: #424040;}

.contact-col .reject{ position: absolute ;bottom:25px; right: 18px; width: 54px; height: 54px; border-radius: 50%; text-align: center; line-height: 54px;  background-color: #d9534f; color: #fff; font-size: 20px; }
.contact-col .reject:hover{background-color: #424040;}

.browselist .main-title{padding-bottom: 12px;position: relative;margin-bottom: 5px;}
.browselist .main-title.space-b{margin-bottom: 20px;}

.browselist .main-title .title{font-size: 25px;font-family: 'Oswald', sans-serif;font-weight:500;padding-bottom: 0px;margin: 0;padding: 0 3px;}
.browser-list-search{position:absolute;top: -3px;right: 0px;}
.browselist .browser-list-search{right: 25px;}
.browser-list-search .filter{cursor: pointer;color: #969696;font-size: 16px;position: relative;padding-right:25px;margin-left:40px;margin-top: 2px;}
.browser-list-search .filter:before{ content: "\f0b0"; font: normal normal normal 14px/1 FontAwesome; position: absolute; top: 2px; right: 0px; color: #000000; font-size: 20px; }
.browser-list-search .filter a{ color:#969696; }
.browser-list-search .filter.listfilter:before{content: "\f1de";  }
.browser-col.contact-col{padding-bottom: 0;margin-bottom: 20px;box-shadow: 0 0px 12px 2px #d3d4d5;}
.browser-col.contact-col .image img{width: 162px;border-radius: 0px;height: auto;}
.browser-col.contact-col{border-radius: 0px;height: 337px;}
.browser-col.contact-col .browser-cnt{ color: #2e2e2e;font-size: 16px; font-weight: 600; padding: 20px; }
.browser-col.contact-col .browser-cnt .row{ margin-bottom: 8px; }
.browser-col.contact-col .browser-cnt .row:last-child{ margin-bottom: 0px; }
.browser-col.contact-col .browser-user,.project-row .browser-user{ line-height: 50px;  color: #ffffff; font-size: 16px; padding-left: 60px;  position: absolute; left: 18px; bottom:18px;  }
.browser-col.contact-col .browser-user img,.project-row .browser-user img{ border:#fff solid 1px; width:50px; height: 50px; border-radius: 50%; position: absolute; left: 0px; top: 0px; }
.browser-details{ margin-top:40px; display: block; width: 100%; float: left; }
.browser-col.contact-col .browser-user a{ color:#fff }
.border{ border: #7fc9fa solid 1px;}
.project-row .browser-user{left: 39px; bottom:47px; }
.browser-list-cnt{ padding:0 25px; }
.showcase{ padding: 20px;}
.showcase-col{position: relative;margin-bottom: 30px;height: 180px;}
.showcase-col .cover{border-radius: 5px;}

.showcase-col p{ color: #ffffff; font-size: 20px; margin: 0px; font-weight: bold;}
.showcase-col-inside{position: absolute;  width: 100%; height: 100%;  top: 0px;}
.inside-cnt{ display: table; height: 100%; width: 100%; text-align: center;cursor: pointer;}
.inside-cnt .cnt-inside{ vertical-align: middle; display: table-cell; }
.showcase .row:last-child .showcase-col{  margin-bottom: 0;}


.profile-content{display: block;position: relative;padding: 20px 100px;}
.profile{  }
.profile .profile-text{ color: #ffffff; font-size: 22px; font-weight: bold; text-transform: uppercase;}
.user-profile{ margin-top: 55px; width: 246px; display: inline-block;  position: relative;}
.user-profile .setting-bar{ width: 100%;  background-color: #ffffff; border-radius: 30px; height: 53px; }
.user-profile .setting-bar a{color: #010101;font-size: 25px;margin-top: 7px;}
.user-profile .setting-bar a:hover{ color: #0099ff; }
.user-profile .setting-bar a.edit{ margin-left: 18px; cursor: pointer; }
.user-profile .setting-bar a.setting{ margin-right: 18px; cursor: pointer; }
.user-profile .profile-image {position:absolute;top:-40px;left: 0px;right: 0px;margin: auto;width: 142px;overflow: hidden;}
.user-profile .profile-image img{border: #26293b solid 3px;width: 142px;height:142px;display:block;}
.profile-content h5{ color:#fff; font-size: 24px; text-transform: uppercase; margin-top:70px; font-weight:600; margin-bottom: 25px;  }
.profile-content .contact-btn{ display: inline-block;  color: #fff; font-size: 17px; font-weight: 600;  background-color: #0099ff; border-radius: 20px; height: 42px; padding: 0 30px; line-height: 42px; text-transform: uppercase;border:none;}
.info-content { margin-top:42px;}
.info-content .info-col{ color: #fff; font-size: 17px; text-transform: uppercase;}
.info-content .info-col strong{  font-weight: 600; font-size:18px; display: block;}
.personal-profile .user-profile{  margin-top: 90px; }
.upload-cover-photo{background-color: #000;width: 159px;height:38px;position: absolute;bottom: 20px;right: 0px;border: #3c3e51 solid 1px;color: #ffffff;font-size: 11px;text-transform: uppercase;padding: 0 12px;line-height: 38px;text-align: left;}
.upload-cover-photo i.fa{float:left;margin-right: 6px;font-size: 18px;margin-top: 10px;}
.upload-cover-photo:hover{background-color: #000; color: #fff; }
.upload-cover-photo input[type="file"]{position:absolute;top:0px;width: 157px;height: 36px;left: 0px;opacity: 0;cursor: pointer;}
.create-items-popup.profile-showcase .modal-header{padding: 25px 0 20px;position: relative;}
.profile-showcase .title{border: none;margin: 0px;color: #fff;text-align: left;padding: 0 22px;font-size: 50px;font-weight: 400;line-height: 70px;}
.profile-showcase .title small{ color:#fff; font-size: 30px; font-weight:400;  }
.profile-showcase label{.share-radiofont-size: 16pxcolor: #222222font-weight: 600;margin-bottom: 8px;width: 100%;/* float: left; */}
.search-radio.share-radio  label{
    width: 66px;
    height: 34px;
}
.profile-showcase .text a{  color: #737373; font-size: 16px; text-transform: uppercase; font-weight: 600; cursor: pointer;}
.profile-showcase .custom-btn,.login-profile-form .custom-btn{ border-bottom: none;  font-size: 19px; font-weight: 500; }
.reset-password.custom-btn{ background-color: transparent;  border: #0099ff solid 1px;color: #0099ff; margin-bottom: 15px; }
.profile-showcase label.uppercase{ text-transform: uppercase;}
.profile-showcase .disable-account a{ display:inline-block; text-decoration: underline; padding-top: 15px; }
.create-items-popup.profile-showcase .edit-profile-user img{ border: #88ccf9 solid 4px; width: 94px; height: 94px; }
.edit-profile-text{ color: #fff; text-transform: uppercase; font-size: 17px;  position: absolute; top: 22px; left: 22px; }
.create-items-popup.profile-showcase .edit-input.form-control,.login-profile-form .form-control{ border: none; border-bottom: #d3d3d3 solid 1px; padding-bottom: 10px; height:auto; text-transform:none;  }
.create-items-popup.profile-showcase .edit-input.form-control:focus,.login-profile-form .form-control:focus{  box-shadow:none;  }
.create-items-popup.profile-showcase .form-group{ position: relative;}
.create-items-popup.profile-showcase .calendar{ position: absolute; top: -5px; right:22px; font-size: 20px;  }

.chat-left{width: 25%;background-color: #fff;position: absolute;left: 0px;min-height: 100%;max-height: 100%;overflow-y: scroll;font-family: 'Roboto', sans-serif;}
.chat-left:after{content:"";width: 5px;height: 100%;position: absolute;right: -5px;top: 0px;background-image: url(../image/shadow.png);background-repeat: repeat-y;}
.chat-left-header{font-family: 'Oswald';top: 43px;sans-serif;color: #000000;font-size: 18px;font-weight: bold;text-transform: uppercase;border-bottom: #bebebe solid 1px;padding: 7px 15px 12px 15px;position: fixed;left: 0px;right: 0;background-color: #fff;width: 25%;}
.chat-left-header h2{ font-size: 18px;}
.chat-left-header .menu-chat{position: absolute;top: 20px;right: 20px;width: 30px;height: 30px;text-align: center;cursor: pointer;display: none;}
.chat-left-header .number{position: absolute;top: 22px;right: 15px;color: #ff4747;}
.user-list{margin-top: 69px;}
.user-list li{position: relative;border-bottom: #eee7e7 solid 1px;margin-bottom: 0px;padding-left: 80px;padding-bottom: 30px;padding-top: 16px;}
.user-list li:last-child{border-bottom: none;  }
.user-list li .image{position: absolute;left: 15px;top: 12px;}
.user-list li .image img{width: 50px; height: 50px; }
.user-list li p{ margin: 0px;   }
.user-list li .name{color: #000000; font-size: 16px;font-weight: 600;}
.user-list li p{font-size: 14px;font-weight: 400;color: #7f7f7f; }
.user-list .time{color: #747474;position: absolute;bottom: 3px;right: 15px;font-size: 11px; font-weight: 500; }
.user-list li:hover,.user-list li.active{ background-color: #0099ff;}
.user-list li:hover p,.user-list li:hover .time,.user-list li.active p,.user-list li.active .time{ color: #fff; }




.chat-right{width: 75%;right: 0px;position: absolute;min-height: 100%;max-height: 100%; font-family: 'Roboto', sans-serif;  }
/*.chat-footer{width: 75%;position: fixed;right:0px;height: 96px;bottom: 90px;}*/
.chat-footer{width: 75%;position: fixed;right:0px;height: 96px;bottom: 58px;}
.chat-footer .form-control{color: #707070;border:#d9d9d9 solid 8px;background-color: #f7f7f7;height: 96px;font-family: 'Roboto', sans-serif;font-weight: 300;text-transform: none;font-size:16px;padding-left: 85px;padding-right: 145px;}
.chat-footer .form-control::-webkit-input-placeholder {  color: #707070; }
.chat-footer .form-control::-moz-placeholder {  color: #707070; }
.chat-footer .form-control:-ms-input-placeholder { color: #707070; }
.chat-footer .form-control:-moz-placeholder { color: #707070; }
.chat-footer .form-control:focus{ box-shadow: none; }
.chat-footer .attachment{position: absolute;top: 29px;left: 48px;color: #85898e;font-size: 25px;cursor: pointer;overflow: hidden;}
.attachment i {cursor: pointer;}
.chat-footer-right{position: absolute;top: 29px;right: 50px;}
.select-symbol i {cursor: pointer;}
.chat-footer-right .select-symbol{font-size: 25px;color: #606c79;margin-right: 18px;float: left;margin-top: 4px;}
.chat-footer-right button[type="submit"]{width: 38px;height: 38px;border-radius: 50%;background-color: #606c79;outline: none;border: none;color: #fff;padding: 0px 0 0 2px;}
.chat-footer-right button[type="submit"]:hover{ background-color: #0084ff; }

.chat-body{display:block;}
.chat-left-body{display:block;overflow-y:auto;}
.chat-body .chat-row{ display:block;}
.chat-body .chat-row .left{ float:left;}
.chat-body .chat-row .right{ float:right;}
.chat-body{padding:20px;padding-bottom: 100px;}
.chat-body .chat-row{margin-bottom: 21px;}
.chat-body .direct-chat-msg{background-color:#fff;float:left;color:#343434;font-size: 16px;font-weight: 300;border-radius:5px;padding: 18px 20px;position: relative;max-width: 89%;}
.chat-body .direct-chat-msg:after{right: 100%;top: 13px;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(255, 255, 255, 0);border-right-color: #fff;border-width: 5px;}
.message-user-img{width:35px;color:#868889;font-size:11px;float:left;text-align:center;margin-right: 28px;margin-top: 3px;}
.message-user-img img{width: 35px;height: 35px;border-radius:50%;margin-bottom: 8px;}
.chat-body .chat-row .right .direct-chat-msg{background-color: #0084ff;color:#fff;}
.chat-body .chat-row .right .direct-chat-msg:after{border-left-color: #0084ff;left: 100%;margin-top: 0px;border-right-color:#eceef2;}
.chat-body .chat-row .right .message-user-img{float:right;margin: 0px 0 0 20px;}


#content.login-profile-main{ padding:0px;}
.login-profile #footer{ background-color: rgba(0, 0, 0, 0.49); color: #fff; border-top: rgba(189, 190, 196, 0.18) solid 1px; }
.login-profile #footer a{color: #fff;}
.login-profile .custom-header.navbar-default{ background-color: #ffffff; }
.login-profile .custom-header.navbar-default .navbar-nav>li>a{color: #000;position: relative;padding: 24px 30px;}
.login-profile .custom-header.navbar-default .navbar-nav>.active>a, .login-profile .custom-header.navbar-default .navbar-nav>.active>a:focus, .login-profile .custom-header.navbar-default .navbar-nav>.active>a:hover,.login-profile .custom-header.navbar-default .navbar-nav>li>a:hover,.login-profile .custom-header.navbar-default .navbar-nav>li>a:focus{ color: #0099ff;  }

.login-profile .custom-header.navbar-default .navbar-nav>.active>a:after,.login-profile .custom-header.navbar-default .navbar-nav>li>a:hover:after,.login-profile .custom-header.navbar-default .navbar-nav>li>a:focus:after{ content: ""; width: 100%; height: 4px; background-color:#0099ff; position: absolute; bottom: 0px;  left: 0px;    }


.login-profile .custom-header.navbar-default .navbar-toggle{border-color:#0099ff; }
.login-profile .custom-header.navbar-default .navbar-toggle .icon-bar{background-color: #00b2ff; }
.login-profile-content{min-height: 100%;height: 100%;position: relative;width: 100%;padding: 90px 0;}
.login-profile-inside{ display: table; width: 100%; height: 100%;  }
.login-profile-cnt{vertical-align: middle;height: 100%;display: table-cell;}
.login-profile-col{margin-top: 108px;}
.login-profile-col h3{  color: #ffffff; font-size: 50px; font-weight: bold; text-transform: uppercase;}
.login-profile-col p{ color: #ffffff;font-size: 32px; line-height: 47px; }
.box2{ border-radius: 5px; background-color: #fff;padding:15px; margin-bottom: 10px; }
.box2 h3{color: #000000;font-size: 32px;border-bottom: #d8d8d8 solid 1px;padding: 0 15px 20px;font-weight: 600;margin-bottom: 20px;margin-top: 15px;}
.box2 h3 span{  color: #0099ff;}
.box2 h3 small{ color: #273238; font-size: 19px; display: block; font-weight: 600; padding-top: 5px;}
.login-profile-form{margin-bottom: 25px;}
.login-profile-form .form-group{margin-bottom: 15px;position: relative;}
.login-profile-form .form-group em{position:absolute;right: 0px;top: 0px;}
.login-profile-form .form-control{font-family: 'Source Sans Pro', sans-serif;font-size: 16px;padding-bottom: 15px;border-color:#9a9a9a;font-weight: 600;box-shadow: none;}
.login-profile-form .custom-btn{font-weight: 600;font-size: 18px;height: 56px;margin-top: 20px;}
.join-now{font-size: 15px;color: #fff;margin-top: 25px;}
.join-now a{  color: #0099ff;  }
.box2 .social{text-align: center;margin: 0 -15px -15px;}
.box2 h4{border-bottom: #d8d8d8 solid 1px;padding-bottom: 15px;font-size: 16px;color: #273238;font-weight: 600;margin-bottom: 0px;margin-top: 0px;}
.box2.join h4{margin-top:10px; font-weight: bold; font-size: 22px;  }
.box2 .social a{display:inline-block;font-size: 13px;text-transform: uppercase;padding: 18px 0;width: 32.6%;}
.social a:first-child{ border-bottom-left-radius:5px; }
.social a:last-child{border-bottom-right-radius: 5px;}
.box2 .social a:hover,.box2 .social a:focus{ background-color: #ededed; }
.box2 .social a span{display:block;margin-bottom: 8px;}
.box2 .social a.fb{ color: #4659a0; cursor: pointer; }
.box2 .social a.google{ color: #ff5151; cursor: pointer; }
.box2 .social a.linkdin{ color: #0077b5; cursor: pointer; }
.box2 .social.m-bottom{ margin-bottom: 20px; }
.box2.join .social a{width: 87px;}
.box2.join .social a:first-child{width: 88px;}
.box2.join .social a:last-child{width: 89px;}
.select-membership .row{margin-bottom: 26px;}
.select-membership .row:last-child{ margin-bottom:0px;}
.select-membership h2{ position: relative;margin: 15px 0 15px 0;; color: #222222;  font-size: 22px; text-transform: uppercase;  font-weight:bold; padding: 0 20px 20px;   }
.select-membership h2:before{ content: "";  width: 282px; height: 1px; background-color: #9a9a9a; position: absolute; bottom: 0px; left: 0px;  }
.select-list{width:100%;float: left;padding: 0 20px;}
.select-list li{position: relative;width: 150px;height: 25px;float: left;}
.sort-list.select-list li{display:block;width: 100%;margin-bottom: 10px;}
.select-list li .check{ width: 100%;  }
.select-list li .check label{width: 100%;border: none;padding-left: 30px; font-size: 18px; color: #000000; }
.select-list li .check label:after{content:"";width: 19px;height: 19px;border: #000 solid 2px;position: absolute;top: 2px;left: 0px;}
.select-list li .check input[type="checkbox"]:checked + label:before{font-size: 12px;top: 6px;left: 4px;}
.select-membership p{ font-size:18px; color: #000000; font-weight: 600; padding:0 20px; }
.box2-header{background-color: #0099ff;border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 25px 0px;position: relative;margin: -15px -15px 25px -15px;}
.box2-header .profile-user{width: 90px;height: 90px;border: #88ccf9 solid 5px;border-radius: 50%;display: inline-block;box-shadow: 0 5px 7px 0px #328fcd;}
.box2-header .profile-user img{width: 80px;height: 80px;}
.box2-header .step{ position: absolute; top:14px; right: 0px; color: #fff; font-size: 13px; width: 66px; height: 36px; border-top-left-radius: 20px; border-bottom-left-radius: 20px; background-color: #0065a8; text-align: center; line-height: 36px; text-transform: uppercase;}
.step-box .login-profile-form .custom-btn{ background-color:transparent; border: #a1a1a1 solid 1px; color:#000;border-radius: 0; height: 49px; }
.step-box .login-profile-form .custom-btn:hover{ background-color: #0099ff; border-color: #0099ff; color: #fff;   }
.step-box
.step-box .login-profile-form em{ position: absolute; top: 0px; right: 0px;}

.welcome-popup .modal-content{ background-color: #f4f5f5; border-radius: 0px; padding: 50px 60px; }
.welcome-popup .popup-logo{margin-bottom: 15px; }
.welcome-popup h2{ text-transform: uppercase; color: #222222; font-weight: 600; font-size: 38px; margin-bottom: 15px;  }
.welcome-popup p{ color: #222222; font-size: 22px;  line-height: 28px; margin-bottom: 40px; }
.welcome-popup .custom-btn{width: 305px;height: 56px;border: none;display: inline-block;line-height: 56px; font-size: 22px;  }
.welcome-popup .custom-btn:focus{  color:#fff;}
.cover.profile-cover{ position: fixed;}
.buttons-row{display:block;padding-top:30px;position: relative;}
.buttons-row.creat-new{margin-bottom: 25px; width: 100%;float: left;padding-right: 20px;}
.row-icons a{font-size: 18px;color: #000000;margin-right: 10px;}
.row-icons a:last-child{ margin:0px; }
.live{position: absolute;top: 10px;right: 13px;color: #fff;border: rgba(255, 255, 255, 0.48) solid 1px;font-size: 10px;border-radius: 20px;padding: 0 10px;}
.live:hover{ background-color:#fff; color:#000; }
.browser-icons{ position: absolute;  bottom:14px; right:15px; }
.browser-icons a{ width: 11px; height: 11px; float: left; color: #fff; background-image: url(../image/icons.png); background-repeat: no-repeat; margin-right: 9px;}
.browser-icons a:last-child{ margin: 0px; }
.browser-icons a.share{background-position: -20px 0px;}
.img-responsive{cursor: pointer;}
.full-image img{width: 100%;height: auto;}
.login-active{color:black !important;}
.add-image{cursor:pointer;position:relative;overflow: hidden;width: 133px;height: 27px;margin: 0px 0px 0 0px;}
.add-image span{color: #fff;font-size: 15px;text-transform: uppercase;line-height: 34px;padding-left: 21px;}
.add-image span:before{content: "\f030";font: normal normal normal 14px/1 FontAwesome;position: absolute;left: 0;top: 4px;font-size: 24px;}
.add-image input[type=file]{width: 213px;height: 30px;position: absolute;top: 0px;left: -86px;opacity: 0;cursor: pointer;}
.btn:focus{ outline: none; border: none; }
.alert-btn{ padding:10px 20px; font-size: 20px; }
.box2-header .add-image{bottom: 12px;position: absolute;right: 0px;}

#alert-popup .modal-header{ background-color: #f44336; }
#alert-popup .modal-header h1,#warning-popup .modal-header h1,#success-popup .modal-header h1{ color: #fff; margin:0px; }
#warning-popup .modal-header{ background-color: #ff9800; }
#success-popup .modal-header h1{  }

#success-popup .alert-btn{ background-color:#0099ff; color: #fff; }
#success-popup .alert-btn:hover{color: #fff; }
#warning-popup .alert-btn{ background-color:#ff9800; color: #fff; }
#warning-popup .alert-btn:hover{color: #fff; }
#alert-popup .alert-btn{ background-color:#f44336; color: #fff; }
#alert-popup .alert-btn:hover{color: #fff; }
.select-list.group-list{ margin:0px 0 20px; padding:0px;   }
.select-list.group-list li{ float: none; display: block; margin-bottom:10px;}

.add-new-head{height:150px;position: relative;margin-bottom: 19px;}
/*.add-new-head img{position: absolute;top: 0px;left: 0px;right: 0px;bottom: 0px;width: 100%;height: 150px;}
*/.add-new-head .add-image{bottom: -30px;right: 18px;width: 126px;color: #fff;position: absolute;}
.add-new-head .add-image span{padding-left: 30px;color: #000;}

.custom-header.navbar-default .user-display.dropdown.open a{ background-color: transparent;}
.custom-header.navbar-default .navbar-nav>li.user-display a{ float:left;}
.custom-header.navbar-default .user-display.dropdown ul.dropdown-menu li a{ float:none; }
.popup-social a{font-size: 30px;margin-right: 23px;color: #fff;background-color: #09f;width: 50px;height: 50px;float: left;text-align: center;line-height: 50px;}
.popup-social a:last-child{ margin-right:0; }
.popup-social a:hover{box-shadow: 0 2px 7px #d2d2d2;}
.popup-social a.scedge{ line-height:normal; }
.popup-social a.scedge img{margin-top:6px;}


.contact-row{padding-bottom:50px;width: 100%;float: left;text-align: center;padding-top: 10px;}
.contact-row .contact-block{font-size: 20px;}
.contact-row .contact-block i{font-size: 50px;margin-bottom: 15px;}

.ng-invalid.ng-dirty{
.has-error .form-control;
}

label.has-error.control-label {
.has-error .control-label;
}

.login-profile{ background-color: rgba(0, 0, 0, 0.49); color: #fff; border-top: rgba(189, 190, 196, 0.18) solid 1px; }
.login-profile .copyright, .login-profile a{color: #fff !important;}

.stage-1[readonly]{
    opacity: 0.3 !important;
    background: none !important;
}

.search-bnt{position: absolute;top: 7px;right: 15px;outline: none;border: none;background: transparent;}
.custom-pagination li a{ font-size: 20px; }
#masonry {position: relative;max-width: 100%;width: 100%;left: 10px; margin-bottom:100px;}
#masonry .browser-col {position: absolute; padding:0;  }
datepicker.col-md-6{width:50%;}
.filter-links span{cursor:pointer;}
.filter-links span.active{text-decoration:underline;}
#send.create-items-popup .info-title{ right: auto; left: 27px;  }
.error h3{font-size: 20px !important; color:red;}
.success h3{font-size: 20px !important; color:blue;}
.share-table{font-size: 17px;}
.share-table.table>tbody>tr>td{position:relative;padding: 17px 0px;}
.share-table.table>tbody>tr>td .check{left: 12px;top: 10px;}
.wdt-emoji-picker{visibility: hidden !important; top:-400px; position:absolute;}
.create-items-popup .search-showcase .share-title{margin-left: 10px;}
.create-items-popup .search-showcase{margin-top: -20px;}
.form_error {color:#a94442; font-weight: 700;font-family:sans-serif;text-align : center;}

.oddList{width:50% !important;float:left  !important;}
.evenList{width:50%  !important;float:right  !important;}

.select-item-popup.profile-showcase .title{ font-size: 32px;}
.select-item-popup.profile-showcase .custom-btn{width: 50px;height: 37px;margin: auto;}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: gray;
}
::-moz-placeholder { /* Firefox 19+ */
    color: gray;
}
:-ms-input-placeholder { /* IE 10+ */
    color: gray;
}
:-moz-placeholder { /* Firefox 18- */
    color: gray;
}

.form-control::placeholder {
    color: gray;
}

.form-control:focus::-webkit-input-placeholder { color:transparent; }
.form-control:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
.form-control:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
.form-control:focus:-ms-input-placeholder { color:transparent; }


#loading-bar-spinner {top: 50% !important;left: 45% !important;}
#loading-bar-spinner .spinner-icon {width: 160px !important;height: 160px !important;}
.empty-li{list-style: none !important;}
.empty-li::before{content:"" !important;}

.contact-slider{ width:100%; position:relative; margin-bottom:50px; }
.contact-slider .owl-nav{ opacity: 0;}
.contact-slider .owl-nav div.owl-prev{left:0px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
.contact-slider .owl-nav div.owl-next{right:0;border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
.contact-slider:hover .owl-nav{ opacity:1;}
.contact-slider .owl-nav div{background-color: rgba(0, 0, 0, 0.54);height: 50px;width: 40px;top: 65px;line-height: 47px;}
.contact-slider .owl-nav div:before{content: "\f104";font-size: 48px;}
.contact-slider .owl-nav div.owl-next:before{ content: "\f105";}
.cover-img{ height:175px;}
.create-items-popup .modal-header.add-new-head .user{margin: 0;}

.modal{text-align:center;}
.modal:before {display: inline-block;vertical-align: middle;content: "";height: 100%;}
.modal-dialog {display: inline-block;text-align: center;vertical-align:middle;}

.project-row.view-row .project-head h1{  font-size:35px;}
.project-row.view-row .project-head span{ font-size:20px;  }
.project-row.view-row  p{ font-size:19px;  line-height: 28px; }
.project-row.view-row .project-head{ padding-bottom: 20px; margin-bottom:20px; }
.project-row.view-row .project-footer{  margin-top:40px;}
.project-row.view-row .row-icons a{ font-size: 30px; margin-right:30px;}
.project-row.view-row .row-icons a:last-child{ margin:0px;}
.project-row.view-row .project-footer p{ font-size:17px; line-height:22px;}

.add-padding{padding-right:15px !important;padding-left:15px !important;}
.cropArea {background: #E4E4E4;overflow: hidden;width:400px;height:350px;float: left;}
.crop-btn-row{width:100%;float:left;margin-top:20px;margin-bottom: 0;}
.multiple-line-css{ word-break:break-all; }
.project-row .drag{  position: absolute; bottom:27px; right:0px; }
.validation-invalid{margin-bottom:0;position: absolute;}
.custom-btn.btn-red{ background-color:#d9534f;}
.my-contact-content,.my-content .contact-slider{min-height:270px;margin-bottom:0;}
.custom-pagination{margin-right: 15px;}
#loading-bar-spinner{display:none;}

.left-col .filter{float: left;}
.middle-col { text-align:center; }
.middle-col .filter{float: none;display: inline-block;background-color: rgba(53, 53, 53, 0.39);border-radius: 20px;}
.active-order{font-weight: bold;}
.deactive-order{color:gray;}


.custom-header.navbar-default .navbar-nav>li>a .badge{position: absolute;width: 20px;height: 20px;border-radius: 50%;text-align: center;line-height: 22px;margin-top: -10px;margin-left: -2px;padding: 0;font-size: 10px;padding-left: 2px;}


/*--------new css------------*/

/*Add new css*/

.search-bnt{position: absolute;top: 7px;right: 15px;outline: none;border: none;background: transparent;}
.custom-pagination li a{ font-size: 20px; }
#masonry {position: relative;max-width: 100%;width: 100%;left: 10px; margin-bottom:100px;}
#masonry .browser-col {position: absolute; padding:0;  }
#send.create-items-popup .info-title{ right: auto; left: 27px;  }

.custom-tab .nav-tabs,.custom-tab .nav-tabs{margin-top: 15px;margin-bottom: 15px;}
.custom-tab .nav-tabs,.custom-tab .nav-tabs li a{ border:none; }
.custom-tab .nav-tabs li a{border-radius:0px;position: relative;padding:0;padding-bottom: 7px;}
.custom-tab .nav-tabs li.active a:after{content:'';width:100%;height:2px;background-color: #0099ff;position: absolute;bottom: 0px;left:0px;}
.custom-tab .nav-tabs li a:hover,.custom-tab .nav-tabs li.active a{ background-color:transparent;border:none; }
.custom-tab .nav-tabs>li{margin-right: 15px;font-size: 14px;}
.custom-tab .nav-tabs>li a{color: #000;text-transform: uppercase;}


.form-control.custom-input{height: auto;text-transform: none;font-size: 12px;font-weight: normal;padding: 7px;}
textarea.form-control.custom-input{height:80px; padding:10px; }
.spaces-col{width: 70px;float:left;margin-right: 7px;}
.spaces-col.day{width: 48px;}
.spaces-col.time{width: 56px;}

.spaces-col .form-control.custom-input{padding:5px;height:auto;font-size: 12px;}
span.label{color:#000;font-size: 13px;width: 100%;float: left;padding: 0;text-align: left;margin-bottom: 5px;font-weight: normal;}
.settime-col{width: 50px;}
.settime{float:left;width: 25px;text-align: center;}
.check-col{width: 30px;margin:0px;text-align: center;}
.custom-row{width:100%; float: left; margin-bottom:20px;}
.share-content{padding: 15px 0;}
.label2{float: left;line-height: 29px;}
 .small-radio.share-radio{margin-top: 4px;}
.small-radio.share-radio label{ width: 50px;height: 22px;}
.small-radio.share-radio label:before{width: 14px;height: 14px;top: 4px;}
.share-content .share{padding-left: 20px;float: left;}
.share-content .share a{color: #fff;font-size:18px;margin-right: 10px;width: 38px;float: left;height: 31px;background-color: #0099ff;text-align: center;line-height: 31px;}
.row-s{ margin-left:-5px; margin-right:-5px; }
.row-s .col-s{ padding-left:5px; padding-right:5px; }

span.label.text-center{ text-align: center;}
.percent{font-size: 20px;  }

.view-image{margin: -15px -15px 17px -15px;}
.view-image .add-photo-strip{float:none;height: 40px;line-height: 40px;}
.view-image .add-photo-strip i.fa{font-size: 18px;}
.view-image span{font-size: 13px;}
.view-image .image img{   }
.btn.custombtn{ text-transform: uppercase;text-align:left;border:none; border-radius:0px; background-color:#0099ff; display: block; clear:both;}
.btn.custombtn i.fa{margin-left:10px; }
.btn.custombtn i.fa-angle-double-down{ }
.btn.custombtn[aria-expanded="true"] i.fa-angle-double-down{ display:inline-block;}
.btn.custombtn[aria-expanded="true"] i.fa-angle-double-right{ display: none;}
.free-account .modal-dialog {width: 404px;}

.project-row.select{background-color: #eaeaea;  }
.show-icons{margin-top:20px; text-align: center; }
.show-icons i.fa{margin:0 5px;   }
.show-icons-wdout-image{margin-top:4px; text-align: center;  }
.show-icons-wdout-image i.fa {position: relative; margin:0 5px; margin-top: 5px;font-size: 18px;}
.project-row{padding-bottom:22px;}
tooltip{ position:inherit !important; }

.block {position: absolute; top: 20px; right: 20px; color: #fff; width: 28px; height: 28px; border-radius: 3px; background-color: #cf3030; text-align: center; padding-top: 6px;}
.report {position: absolute; top: 20px; right: 50px; color: #fff; width: 28px; height: 28px; border-radius: 3px; background-color: #cf3030; text-align: center; padding-top: 6px;}

.sorted-showcase-item {
  margin-bottom:10px;
}



.showpass{ position: absolute; top:10px; right:10px;cursor: pointer;}
.sorting-date{cursor: pointer;}

.shareandsync{width: 100%;
background: #fff;
border: none;
color: #333;}
.savebtn.custombtn{text-align: center; border-radius:10px; height:43px; font-size: 20px; width: 100%;}
.share-content .share a.selectShare {background-color:#0099ff;}
.share-content .share a.selectShare i{color: #fff;}


/ The container /
.select-contain {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius:50%;
}

/ Hide the browser's default checkbox /
.select-contain input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/ Create a custom checkbox /
.checkmark {
position: absolute;
top: 21px;
left: 25px;
height: 14px;
border-radius: 50%;
width: 14px;background: #e0e0e0;
}
.select-con{padding-left: 18px;
font-size: 12px;
font-weight: 400;}
/ On mouse-over, add a grey background color /
.select-contain:hover input ~ .checkmark {
    background-color: #ccc;
}

/ When the checkbox is checked, add a blue background /
.select-contain input:checked ~ .checkmark {
    background-color: #2196F3;
}

/ Create the checkmark/indicator (hidden when not checked) /
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/ Show the checkmark when checked /
.select-contain input:checked ~ .checkmark:after {
    display: block;
}

/ Style the checkmark/indicator /
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkmark:focus{background-color: red;}
.showError{color:red;}

.creator-image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding:5px;
    border: black solid 1px;
    position:relative;
    bottom:50px;
  }
.imgInp{
  z-index: 1000;
    opacity: 0;
    position: absolute;
}

.action-button{cursor:pointer;}
.option-dropdown-menu{cursor: pointer; position: absolute;top:15px;right:15px;background-color: rgba(53, 53, 53, 0.39);color: #fff;width: 38px;height: 28px;text-align: center;line-height: 14px;font-size: 28px;}
.option-dropdown-menu ul{position: absolute;width: 150px;right: 0;margin-top: 0px;background-color: rgba(53, 53, 53, 0.39);}
.option-dropdown-menu ul li{font-size: 15px;margin-bottom: 0px;padding-bottom: 10px;padding-top: 10px;position: relative;border-bottom: #8c8c8c solid 1px;}
.option-dropdown-menu ul li i{position: absolute;left: 10px;font-size: 18px;}
.option-dropdown-menu ul li:last-child{border-bottom:none;}
.left-col .filter li,.right-col .filter li{background:none;}

datepicker .form-control{
  background-image:url('https://image.flaticon.com/icons/svg/25/25393.svg');
  background-repeat:no-repeat;background-size:20px;-webkit-appearance: none; background-position: right;
}

.contact-menu li:hover{
  background:#333;
}

.img-circle { cursor:pointer !important;}
.feature-close { position: absolute;right: 19px;color: #fff;top: -1px;z-index: 9;font-size: 20px;cursor: pointer; }
.chat-footer .attachment{}
.chat-footer .attachment .imgInp{position: absolute;top:0px;left: -150px;cursor: pointer;}
.child-drop-title {color:lightgray;margin: 0px !important;paddng: 0px !important;font-size: 20px;}
.apps-container {
  border: 1px dashed black;
}
.child-drop-section{
  /**display: none;*/
}
