<div id="banner" class="compass-banner">
            <figure style="background-image:url('public/image/banner-bg2.jpg')" class="cover"></figure>
            <div class="container">
            <div class="banner-head">
                   <div class="row">
                 <div class="col-md-12">
                  <div class="pie-content text text-center">
                    <h3>Your life in the cloud</h3>   
                        <p>To empower and connect people, Families, communities,teams and business in
         unique and useful ways to improve everday life</p> 
                   </div>
                  <!--pie-content--> 
                </div>
              </div>
                
            </div><!--banner-head-->
            
              <div class="row">
                <div class="col-md-5">
                  <div class="compass tab1 compass2">
                   <span data="#tab1" class="pie personal"><a ng-click="currentSection('personal')">Personal</a></span>
                    <span data="#tab2" class="pie team-community"><a  ng-click="currentSection('team')">Team & Community</a></span> 
                    <span data="#tab3" class="pie professional-business"><a  ng-click="currentSection('business')">Professional & Business</a></span> 
                    <span data="#tab4" class="pie family-friends"><a  ng-click="currentSection('family')">Family & Friends</a></span>
                   sss
                     <svg ng-if="svgWheel == 'team'" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 367 366.888" enable-background="new 0 0 367 366.888" xml:space="preserve">
              <a ng-click="currentSection('personal')">

              <path ng-if="svgWheel == 'personal'" class="pie personal" data="#tab1" d="M183.5,126.259c17.132,0,32.495,7.54,42.978,19.47l96.762-81.168C289.582,25.06,239.472,0,183.5,0
  C127.528,0,77.417,25.06,43.76,64.561l96.762,81.168C151.005,133.799,166.367,126.259,183.5,126.259z"/>

             <path  ng-hide="svgWheel != 'personal'" class="pie personal" data="#tab1" d="M183.5,126.259c17.132,0,32.495,7.54,42.978,19.47l96.762-81.168C289.582,25.06,239.472,0,183.5,0
  C127.528,0,77.417,25.06,43.76,64.561l96.762,81.168C151.005,133.799,166.367,126.259,183.5,126.259z"/>

              </a>
             <a ng-click="currentSection('team')"> 
             
             <path  ng-if="svgWheel == 'team'" class="pie team-community" data="#tab2" d="M324.886,66.506l-96.767,81.172c7.866,9.795,12.583,22.227,12.583,35.765
  c0,13.539-4.717,25.97-12.583,35.765l96.767,81.172C351.188,268.635,367,227.886,367,183.444
  C367,139.002,351.188,98.253,324.886,66.506z"/>

             <path  ng-hide="svgWheel != 'team'" class="pie team-community" data="#tab2" d="M324.886,66.506l-96.767,81.172c7.866,9.795,12.583,22.227,12.583,35.765
  c0,13.539-4.717,25.97-12.583,35.765l96.767,81.172C351.188,268.635,367,227.886,367,183.444
  C367,139.002,351.188,98.253,324.886,66.506z"/>

              </a>
           
              <a ng-click="currentSection('business')">  

              <path ng-if="svgWheel == 'business'" class="pie professional-business" data="#tab3" d="M183.5,240.628c-17.133,0-32.495-7.54-42.978-19.469L43.76,302.327c33.658,39.5,83.768,64.561,139.74,64.561
  c55.972,0,106.082-25.06,139.74-64.561l-96.762-81.168C215.995,233.089,200.632,240.628,183.5,240.628z"/>  

              <path ng-hide="svgWheel != 'business'" class="pie professional-business" data="#tab3" d="M183.5,240.628c-17.133,0-32.495-7.54-42.978-19.469L43.76,302.327c33.658,39.5,83.768,64.561,139.74,64.561
  c55.972,0,106.082-25.06,139.74-64.561l-96.762-81.168C215.995,233.089,200.632,240.628,183.5,240.628z"/>

              </a>
            
              <a ng-click="currentSection('family')"> 

              <path ng-if="svgWheel == 'family'"  class="pie family-friends" data="#tab4" d="M126.298,183.444c0-13.539,4.717-25.97,12.583-35.765L42.114,66.506C15.811,98.253,0,139.002,0,183.444
  c0,44.442,15.811,85.191,42.114,116.938l96.767-81.172C131.015,209.414,126.298,196.983,126.298,183.444z"/>

              <path ng-hide="svgWheel != 'family'" class="pie family-friends" data="#tab4" d="M126.298,183.444c0-13.539,4.717-25.97,12.583-35.765L42.114,66.506C15.811,98.253,0,139.002,0,183.444
  c0,44.442,15.811,85.191,42.114,116.938l96.767-81.172C131.015,209.414,126.298,196.983,126.298,183.444z"/>

              </a>
            </svg>

            <div class="circle">&nbsp;</div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="pie-content text">
                     <div class="tab_content" id="tab4">
                   <h4>pERSONAL</h4>   
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p> 
                   <div class="buttons-row">
                    <div class="pull-right"><a ui-sref="join({'data' : {'subscription_name' : 'FREE', 'subscription_amount' : 0, 'subscription_type' : (!subscriptionType) ? 'Monthly' : 'Annual'}})" class="rounded-btn">JOIN</a> <a href="#" class="rounded-btn">SHARE THIS</a></div>
                    
                   </div>
                    </div>
                  </div>
                  <!--pie-content--> 
                </div>
              </div>
            </div>
        </div>