<div id="banner">
    <figure ng-if="!profileDetail.cover_image" style="background-image:url({{ 'image/banner-bg.jpg' | createImagePath }})" class="cover"></figure>
    <figure ng-if="profileDetail.cover_image" style="background-image:url({{ profileDetail.cover_image | createImagePath }})" class="cover"></figure>
    <div class="container">
      <div class="profile-content text-center">
        <div class="profile">
          <div class="profile-text">User Profile ({{profileDetail.subscription_name}} )</div>
          <div class="user-profile">
            <div  style="visibility: hidden;" class="setting-bar"> <a href="#" data-toggle="modal" data-target="#edit-profile" class="edit pull-left"><i class="fa fa-pencil" aria-hidden="true"></i></a> <a   href="#" data-toggle="modal" data-target="#settings"  class="setting pull-right"><i class="fa fa-cog" aria-hidden="true"></i></a> </div>
            <div class="profile-image">
            	<img ng-if="!profileDetail.profile_image" ng-src="image/popup-user.png" class="img-circle" alt=""/>
            	<img ng-if="profileDetail.profile_image" ng-src="{{profileDetail.profile_image}}" class="img-circle" alt=""/>
            </div>
            <!--profile-image-->
          </div>
          <h5> {{profileDetail.name}}</h5>
          <div class="btn-row text-center">
            <button class="contact-btn" ng-click="openPopup()">
              Connect
            </button>
          </div>
        </div>
        <!--profile-->

        <div class="info-content" ng-if="profileDetail.subscription_name == 'PROFESSIONAL'">
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <div class="info-col"> <strong>{{profileDetail.company_name}} </strong>Company Name </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="info-col"><strong>{{profileDetail.website}}</strong>Website</div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="info-col"><strong>{{profileDetail.phone_number}}</strong>Phone Number</div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="info-col"><strong>{{profileDetail.business_hour}}</strong>Business Hours</div>
            </div>
          </div>
        </div>
        <!--info-content-->

      </div>
      <!--profile-content-->
    </div>
  </div>
