<div class="modal fade create-items-popup" id="professional" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="user"><img ng-src="images/popup-user.png" alt=""></div>
              <span class="info-title">professional</span> </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Title">
                </div>
                <div class="form-group">
                  <select class="form-control">
                    <option>Date</option>
                  </select>
                </div>
                <div class="form-group">
                  <select class="form-control">
                    <option>Time</option>
                  </select>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Priority">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Address">
                </div>
                <div class="form-group">
                  <textarea class="form-control" placeholder="Body"></textarea>
                </div>
                <ul class="pop-tab">
                  <li class="active"><a href="#specs">Specs</a></li>
                  <li><a href="#location2">Location </a></li>
                  <li><a href="#price">Price </a></li>
                  <li><a href="#for">For </a></li>
                 </ul>
                <!--pop-tab-->
                <div class="poptab-content">
                  <div class="tab_content" id="specs">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>Size</option>
                          </select>
                        </div>
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>Brand</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>Model</option>
                          </select>
                        </div>
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>Color</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>size</option>
                          </select>
                        </div>
                       
                      </div>
                    </div>
                   </div>
                   	<div class="tab_content" id="location2">
					    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>Address</option>
                          </select>
                        </div>
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>City</option>
                          </select>
                        </div>
                      </div>
                    </div>
                        <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>Province</option>
                          </select>
                        </div>
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>Country</option>
                          </select>
                        </div>
                      </div>
                    </div>
                 	</div>
                  	<div class="tab_content" id="price">
					  <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>Discount %</option>
                          </select>
                        </div>
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>Discount </option>
                          </select>
                        </div>
                      </div>
                    </div>
                        <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>Province</option>
                          </select>
                        </div>
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>Country</option>
                          </select>
                        </div>
                      </div>
                    </div>
                 	</div>
                  	<div class="tab_content" id="for">
					
                         <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>For Gender</option>
                          </select>
                        </div>
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>For ages</option>
                          </select>
                        </div>
                      </div>
                    </div>
                   
                    
                </div>
                 </div>
                <!--poptab-content-->
                <div class="form-group">
                	   <div class="row">
                        <div class="col-md-6">
                          <div class="form-group"> <span class="share-title">Share On 
Showcase</span>
                            <div class="share-radio">
                              <input type="checkbox" id="radio4">
                              <label for="radio4" onclick="toggleradio('radio4')"></label>
                            </div>
                            <!--share-radio-->
                            <div style="clear: both;"></div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group"> <span class="share-title">Live Item</span>
                            <div class="share-radio">
                              <input type="checkbox" id="radio5" checked>
                              <label for="radio5" onclick="toggleradio('radio5')"></label>
                            </div>
                            <!--share-radio-->
                            <div style="clear: both;"></div>
                          </div>
                        </div>
                      </div>
                 </div>
                 <button type="submit" class="custom-btn">Create</button>
              </form>
            </div>
          </div>
        </div>
      </div>


       <div class="modal fade create-items-popup" id="create-items-free" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="user"><img ng-src="images/popup-user.png" alt=""></div>
              <span class="info-title">FREE</span> </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Title">
                </div>
                <div class="form-group">
                  <select class="form-control">
                    <option>Date</option>
                  </select>
                </div>
                <div class="form-group">
                  <select class="form-control">
                    <option>Time</option>
                  </select>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Priority">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Address">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="City">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Province">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Country">
                </div>
                <div class="form-group"> <span class="share-title">Share on Showcase</span>
                  <div class="share-radio">
                    <input type="radio" id="radio" >
                    <label for="radio"></label>
                  </div>
                  <!--share-radio-->
                  <div style="clear: both;"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" placeholder="Body"></textarea>
                </div>
                <button type="submit" class="custom-btn">Create</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade create-items-popup" id="personal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="user"><img ng-src="images/popup-user.png" alt=""></div>
              <span class="info-title">Personal</span> </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Title">
                </div>
                <div class="form-group">
                  <select class="form-control">
                    <option>Date</option>
                  </select>
                </div>
                <div class="form-group">
                  <select class="form-control">
                    <option>Time</option>
                  </select>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Priority">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Address">
                </div>
                <div class="form-group">
                  <textarea class="form-control" placeholder="Body"></textarea>
                </div>
                <ul class="pop-tab">
                  <li class="active"><a href="#time">Time</a></li>
                  <li><a href="#location">Location </a></li>
                </ul>
                <!--pop-tab-->
                <div class="poptab-content">
                  <div class="tab_content" id="time">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>Date start</option>
                          </select>
                        </div>
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>Time start</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>Date end</option>
                          </select>
                        </div>
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>Time end</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>Price</option>
                          </select>
                        </div>
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>Quantity</option>
                          </select>
                        </div>
                      </div>
                    </div>
                   </div>
                  
                 <div class="tab_content" id="location">
              <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>Address</option>
                          </select>
                        </div>
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>City</option>
                          </select>
                        </div>
                      </div>
                    </div>
                        <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>Province</option>
                          </select>
                        </div>
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>Country</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--poptab-content-->
                
                <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group"> <span class="share-title">Sync Item 
                            2 way</span>
                            <div class="share-radio">
                              <input type="checkbox" id="radio2">
                              <label for="radio2" onclick="toggleradio('radio2')"></label>
                            </div>
                            <!--share-radio-->
                            <div style="clear: both;"></div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group"> <span class="share-title">Share on
                            showcase</span>
                            <div class="share-radio">
                              <input type="checkbox" id="radio3" checked>
                              <label for="radio3" onclick="toggleradio('radio3')"></label>
                            </div>
                            <!--share-radio-->
                            <div style="clear: both;"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                
                <button type="submit" class="custom-btn">Create</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    