 <div id="banner" class="personal-profile">
    <figure style="background-image:url({{ (authUserDetail.cover_image) ?
       authUserDetail.cover_image :  'image/banner-bg.jpg' | createImagePath }})" class="cover">
    </figure>

    <div style="display:none" uploader="uploader">
        <input type="file" id="upload-profile-photo-button" class="imgInp" nv-file-select="" uploader="uploader" multiple/>
    </div>


    <div class="container">
      <div class="profile-content text-center">
        <div class="profile">
          <div class="profile-text">My Profile ( {{profileDetail.subscription_name}} )</div>
          <div class="user-profile">
            <div class="setting-bar">
            <a ng-click="openProfile()" class="edit pull-left"><i class="fa fa-pencil" aria-hidden="true"></i></a>
             <a ng-click="openSetting()"class="setting pull-right"><i class="fa fa-cog" aria-hidden="true"></i></a> </div>
            <div class="profile-image">
              <img size-calculator ng-if="profileDetail.profile_image" ng-src="{{ profileDetail.profile_image }}" class="img-circle" alt=""/>
              <img size-calculator ng-if="!profileDetail.profile_image" ng-src="{{ 'image/popup-user.png' | createImagePath }}" class="img-circle" alt=""/>
            </div>
            <!--profile-image-->
          </div>
          <h5>{{profileDetail.name}}</h5>
        </div>
        <!--profile-->



        <div href="#" class="upload-cover-photo">
          <i class="fa fa-camera" aria-hidden="true"></i> Upload Cover Photo
          <input type="file"  class="upload-file" name="provile_cover_image" ng-model="provile_cover_image" accept="image/*" ng-change="uploadCoverImage({image:provile_cover_image})" app-filereader>
         </div>

      </div>
    </div>
  </div>
