<div class="showcase-col">
  <!--<img ng-if="data.card_image" ng-src="{{data.card_image | createImagePath}}"  class="img-responsive" alt=""/>-->
  <!--<img ng-if="!data.card_image" ng-src="{{ 'image/add-item.jpg' | createImagePath }}"  class="img-responsive" alt=""/>-->
   <div ng-if="!data.card_image" class="cover" style="background-image:url({{ 'image/add-item.jpg' | createImagePath }});">
    </div>
  <div ng-if="data.card_image" class="cover" style="background-image:url({{data.card_image | createImagePath}});">
    </div>

  <div ng-if="!otherUser" class="showcase-col-inside">
    <a ui-sref="myItem({'groupId' : data.card_type_id})"><div class="inside-cnt">
      <div class="cnt-inside" style="padding:5px;">
        <p class="multiple-line-css" ng-if="data.title.length > 100">{{data.title | limitTo:100}}..</p>
        <p class="multiple-line-css" ng-if="data.title.length < 100">{{data.title | limitTo:100}}</p>
      </div>
    </div></a>
  </div>

  <div ng-if="otherUser" class="showcase-col-inside">
    <a ui-sref="browseDetail({'cardId' : data.id})"><div class="inside-cnt">
      <div class="cnt-inside" style="padding:5px;">
        <p class="multiple-line-css" ng-if="data.title.length > 100">{{data.title | limitTo:100}}..</p>
        <p class="multiple-line-css" ng-if="data.title.length < 100">{{data.title | limitTo:100}}</p>
      </div>
    </div></a>
  </div>

</div>
