<nevbar-main-section></nevbar-main-section>
<profile-detail profile-detail="authUserDetail" uploader="uploader" open-profile="openProfile()" open-setting="openSetting()" upload-cover-image="uploadCoverImage(image)" selectitem="" auth-user-detail="authUserDetail"></profile-detail>

<div id="content" class="main-content browselist">
  <div class="container">
    <div class="box">
      <div class="main-title">
        <h1 class="title main-title">My Showcase </h1>
      </div>
      <div class="showcase">
        <div ui-sortable="sortableOptions"
            ng-model="userItems"
            ng-if="(userItems)"
            class="row"
            >
            <div  profile-card
                  class="col-md-3 col-sm-6 col-xs-12 sorted-showcase-item"
                  ng-repeat="userItem in userItems"
                  data="userItem"
                  selectitem="selectitem"
                  showcaseId="{{userItem.id}}"
                  other-user="0"
                  >
            </div>
          </div>
        </div>
        <!--<div ng-if="(userItems)" style="position:relative;top:-35px;">
            <div style="display:none"
              dir-paginate="userOriginalItem in userOriginalItems | itemsPerPage: 12"
              total-items="totalPage"
              current-page="currentPage"
              pagination-id="userItemPaginator"></div>
            <div style="clear: both;"></div>

            <dir-pagination-controls
              on-page-change="filterUserItems(newPageNumber, oldPageNumber)"
              max-size="10"
              pagination-id="userItemPaginator">
            </dir-pagination-controls>
        </div>-->

        <div infinite-scroll="filterUserItems(0, 0)"></div>
        <no-showcase-found ng-if="!userItems"></no-showcase-found>
      </div>
    </div>
  </div>
</div>

<footer-section></footer-section>

<modal id="profile-content">
  <div class="modal create-items-popup profile-showcase edit-profile-user-popup">
    <div class="modal-dialog" role="document">
      <button type="button" class="close custom-close bg-close" aria-label="Close" ng-click="closeModal('profile-content')">
        <img ng-src="{{ 'image/close.png' | createImagePath }}" alt=""></button>
        <div class="modal-content">
          <div class="modal-header edit-profile-user-header">
             <div class="edit-profile-user">
               <img ng-if="!uploader.uploadedImage"  ng-click="uploadImage()" class="img-circle edit-profile-user-image" ng-src="{{ (profileDetail.profile_image) ? profileDetail.profile_image : 'image/popup-user.png' | createImagePath }}"  alt=""/>
               <img ng-if="uploader.uploadedImage"  ng-click="uploadImage()" class="img-circle edit-profile-user-image" ng-src="{{ uploader.uploadedImage }}" alt="" />

              <span class="edit-profile-text">EDIT PROFILE</span>

            </div>
            <div class="add-image pull-right" uploader="uploader">
                <span>UPDATE IMAGE</span>
                <input type="file" id="upload-cover-photo-button" class="imgInp" nv-file-select="" uploader="uploader" multiple/>
            </div>

          </div>

          <div class="modal-body">
            <div align="center" class="success"><h3>{{formSuccessMessage}}</h3></div>
            <div align="center" class="error"><h3>{{formErrorMessage}}</h3></div>
            <form name="Form">
              <div class="form-group">
                <input type="text" class="form-control edit-input" placeholder="Name" name="name" ng-model="profileDetail.name" validator="required">
              </div>
              <div class="form-group">
                <input type="text" class="form-control edit-input" placeholder="Email" name="email" ng-model="profileDetail.email" readonly>
              </div>
              <div class="form-group">
                <select class="form-control edit-input" name="gender" ng-model="profileDetail.gender"  validator="required">
                  <option value="">Gender</option>
                  <option ng-select="$ctrl.modalData.profileDetail.gender == 'Male'" value="Male">Male</option>
                  <option ng-select="$ctrl.modalData.profileDetail.gender == 'Female'"  value="Female">Female</option>
                </select>
              </div>
              <datepicker date-format="yyyy-MM-dd" selector="form-control" date-max-limit="{{currentDate | date}}"

              >
                <div class="form-group">
                  <input type="text" class="form-control edit-input" placeholder="Date of Birth" name="dob"  ng-model="profileDetail.dob" name="dob">
                  <!--<em class="calendar"><i class="fa fa-calendar" aria-hidden="true"></i></em>-->
                </div>
              </datepicker>

              <div class="form-group">
                <!-- <input type="text" class="form-control edit-input" placeholder="Country" name="country" ng-model="profileDetail.country"  validator="required"> -->

                <select class="form-control" name="country" ng-model="profileDetail.country" ng-change="getProvince(profileDetail.country)">
                  <option value="" disabled>Country</option>
                  <option ng-repeat="country in countryList" value="{{country.id}}">{{country.name}}</option>
                </select>
              </div>

              <div class="form-group">
                <!-- <input type="text" class="form-control edit-input" placeholder="State" name="province" ng-model="profileDetail.province"  validator="required"> -->

                <select class="form-control" name="province" ng-model="profileDetail.province"  ng-change="getCity(profileDetail.province)">
                  <option value="" disabled>Province</option>
                  <option ng-repeat="province in provinceList" value="{{province.id}}">{{province.name}}</option>
                </select>
              </div>

              <div class="form-group">
                <!-- <input type="text" class="form-control edit-input" placeholder="City" name="city" ng-model="profileDetail.city" validator="required"> -->

                <select class="form-control" name="city" ng-model="profileDetail.city">
                  <option value="" disabled>City</option>
                  <option ng-repeat="city in cityList" value="{{city.id}}">{{city.name}}</option>
                </select>
              </div>

              <button type="button" class="custom-btn reset-password" ng-click="openPasswordReset()">Reset Password</button>

              <button type="button" validation-submit="Form" class="custom-btn" ng-click="updateProfile()">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-background"></div>
  </modal>

  <modal id="password-reset-content">
    <div class="modal-background"></div>
    <div class="modal create-items-popup profile-showcase">
      <div class="modal-dialog" role="document">
        <button type="button" class="close custom-close bg-close" data-dismiss="modal" aria-label="Close" ng-click="closeModal('password-reset-content')">
          <img ng-src="{{ 'image/close.png' | createImagePath }}" alt="">
        </button>
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="title"><small>Reset</small>Password</h1>
          </div>

          <div class="modal-body">
            <form name="Form">
              <div class="form-group">
                <label>Old Password</label>
                <input type="password" class="form-control" name="oldPassword" name="oldPassword" ng-model="passwordData.oldPassword" validator="required">
              </div>
              <div class="form-group">
                <label>New Password</label>
                <input type="password" class="form-control" name="newPassword" name="newPassword"  ng-model="passwordData.newPassword" validator="required,minlength=8,maxlength=20">
              </div>
              <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" name="repeatPassword" ng-model="passwordData.repeatPassword" validator="required,minlength=8,maxlength=20">
              </div>
              <div ng-if="formSuccessMessage || formErrorMessage" class="form-group">
                <div ng-if="formSuccessMessage" class="form_error">{{formSuccessMessage}}</div>
                <div ng-if="formErrorMessage" class="form_error">{{formErrorMessage}}</div>
              </div>
              <button type="submit" validation-submit="Form" class="custom-btn" ng-click="resetPassword()">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </modal>


  <modal id="setting-content">
    <div class="modal create-items-popup profile-showcase">
      <div class="modal-dialog" role="document">
        <button type="button" class="close custom-close bg-close" data-dismiss="modal" aria-label="Close"  ng-click="closeModal('setting-content')">
          <img ng-src="{{ 'image/close.png' | createImagePath }}" alt="">
        </button>
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="title"><small>Settings &</small> Preferences</h1>
          </div>

          <div class="modal-body">
            <div align="center" class="success"><h3>{{formSuccessMessage}}</h3></div>
            <div align="center" class="error"><h3>{{formErrorMessage}}</h3></div>
            <form name="Form">
              <div class="form-group">
                <label class="uppercase">Account Type<span class="text pull-right">
                  <a ng-click="updateSubscription()">update</a></span>
                </label>
                <select class="form-control" ng-model="profileDetail.subscription_name">
                  <option ng-if="(userSubscription == 'FREE')" value="FREE" ng-disabled="(userSubscription == 'FREE')">Free</option>
                  <option ng-disabled="(userSubscription == 'PERSONAL')" ng-if="(userSubscription == 'FREE') || (userSubscription == 'PERSONAL')" value="PERSONAL">Personal</option>
                  <option ng-disabled="(userSubscription == 'PROFESSIONAL')" ng-if="(userSubscription == 'FREE') || (userSubscription == 'PERSONAL') || (userSubscription == 'PROFESSIONAL')" value="PROFESSIONAL">Professional</option>

                </select>
              </div>
              <div class="form-group">
                <label class="uppercase">Subscription type <span class="text pull-right">
                  <a ng-click="updateSubscriptionPeriod()">Update</a></span>
                </label>
                <select class="form-control" ng-model="profileDetail.subscription_type">
                  <option value="ALL">-Select Subscription-</option>
                  <option value='MONTHLY'>Monthly</option>
                  <option value='ANNUAL'>Annual</option>
                </select>
              </div>
              <div class="form-group">
                <label class="uppercase">Payment Info <span class="text pull-right">
                  <a ng-click="openCard()" style="cursor: pointer;">update </a>| <a ng-click="openDeleteCard()">Delete</a></span></label>
                  <input ng-if="profileDetail.number" readonly type="text" class="form-control" placeholder="" ng-model="profileDetail.number">
                  <input ng-if="!profileDetail.number" readonly type="text" class="form-control" placeholder="No card detail">
                </div>
                <button type="button" class="custom-btn" ng-click="logoutSession()">Logout</button>
                <div class="text text-center disable-account"><a ng-click="disableAccount()">disable account</a></div>
              </form>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-background"></div>
    </modal>

    <modal id="card-content">
      <div class="modal create-items-popup profile-showcase">
        <div class="modal-dialog" role="document">
          <button type="button" class="close custom-close bg-close" aria-label="Close" ng-click="closeModal('card-content')">
            <img ng-src="{{ 'image/close.png' | createImagePath }}" alt="">
          </button>
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="title"><small>Update card</small>information</h1>
            </div>
            <div class="modal-body">
              <form name="Form">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Name on Card" name="name" ng-model="cardDetail.name">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Card Number" name="number" ng-model="cardDetail.number">
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                      <input type="text" class="form-control" placeholder="MM / YY" name="expire_date" ng-model="cardDetail.exp_date">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <input type="number" class="form-control" placeholder="cvv" name="cvv" ng-model="cardDetail.cvc">
                    </div>
                  </div>
                </div>
                <div align="center" class="form_error">{{formErrorMessage}}</div>
                <button type="button" validation-submit="Form" ng-click="updateCard()"  class="custom-btn">Update</button>
              </form>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-background"></div>
    </modal>

    <modal id="delete-card-content">
      <div class="modal create-items-popup profile-showcase">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="title"><small>Are you sure to delete ?</small></h1>
            </div>
            <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <button type="button" class="custom-btn" ng-click="deleteCard()">OK</button>
              </div>
              <div class="col-md-6">
                <button type="button" class="custom-btn" ng-click="closeModal('delete-card-content')">Cancel</button>
              </div>
            </div>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-background"></div>
    </modal>


  <modal id="update-alert-content">
   <div class="modal create-items-popup profile-showcase">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header" style="color:white !important;">
            <h2>{{groupAlertTitle}}</h2>
         </div>
         <div class="modal-body text-center">
           <div style="margin-top:20px;margin-bottom:20px;">
             <h4 class="text-center">{{groupAlertContent}}</h4>
           </div>
           <button type="button" class="custom-btn" ng-click="closeModal('update-alert-content')">OK</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal-background"></div>
</modal>



<modal id="cropper-view-modal" style="position:absolute;z-index:999999;">
  <div class="modal create-items-popup cropper-view-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div ng-repeat="imageItem in uploader.queue" align="center" ng-hide="imageItem.isReady || imageItem.isUploading || imageItem.isSuccess">

              <div class="crop-main">
              <div class="cropArea">
                <img-crop image="imageItem.image" result-image="imageItem.croppedImage" area-type="square"></img-crop>
              </div>
                <img class="view-img" ng-src="{{ imageItem.croppedImage }}" alt="">

                <div class="crop-btn-row">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <button type="button" class="custom-btn" ng-click="imageItem.upload()"
                              ng-disabled="imageItem.isReady || imageItem.isUploading || imageItem.isSuccess">
                              <span class="glyphicon glyphicon-upload"></span> Upload
                          </button>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                              <button type="button" class="custom-btn btn-red" ng-click="item.cancel(); uploader.clearQueue(); closeModal('cropper-view-modal');"
                                  <span class="glyphicon glyphicon-delete"></span> Remove
                              </button>
                        </div>
                     </div>
                </div><!--crop-btn-row-->

              </div><!--crop-main-->
          </div>
            <div style="clear:both;"></div>
      </div>
      </div>
  </div>
  </div>
</modal>
