<nevbar-main-section></nevbar-main-section>
<other-profile-detail profile-detail="profileDetail" open-popup="openAddContactPopup()" open-profile="openProfile()" open-setting="openSetting()" selectitem=""></other-profile-detail>

 <div id="content" class="main-content browselist">
    <div class="container">
      	<div class="box">
	        <div class="main-title">
	          <h1 class="title main-title">My Showcase </h1>
	        </div>
	        <div class="showcase">
	          <div class="row" ng-repeat="userItemRow in userItems" >
					        <div class="col-md-3 col-sm-6 col-xs-12"
                    profile-card
                    ng-repeat="userItem in userItemRow"
                    data="userItem"
                    selectitem="selectitem"
                    other-user="1"
                    >
					         </div>
			      </div>

            <div ng-if="(userOriginalItems)" style="position:relative;top:-35px;">
                <div style="display:none"
                  dir-paginate="userOriginalItem in userOriginalItems | itemsPerPage: 12"
                  total-items="totalPage"
                  current-page="currentPage"
                  pagination-id="userItemPaginator"></div>
                <div style="clear: both;"></div>

                <dir-pagination-controls
                  on-page-change="filterUserItems(newPageNumber, oldPageNumber)"
                  max-size="10"
                  pagination-id="userItemPaginator">
                </dir-pagination-controls>
            </div>
            <no-result-found ng-if="!(userOriginalItems)"></no-result-found>
			</div>
		</div>
	</div>
</div>

<modal id="add-contact-content">
  <div class="modal create-items-popup profile-showcase">
      <div class="modal-dialog" role="document">
        <button type="button" class="close custom-close bg-close" aria-label="Close" ng-click="closeModal('add-contact-content')">
          <img ng-src="{{ 'image/close.png' | createImagePath }}" alt="">
        </button>
        <div class="modal-content">
        <div class="modal-header"><h1 class="title">Add to Group</h1></div>
        <div class="modal-body">
          <div>
            <ul ng-if="contactGroup" class="select-list group-list">
              <li ng-class="{oddList: !($index % 2), evenList: ($index % 2)}" ng-repeat="group in contactGroup track by $index">
                <div class="check">
                  <input
                    type="checkbox"
                    id="group_{{group.id}}"
                    name="membership"
                    value="{{group.id}}"
                    ng-model="selectedGroup[group.id]"
                    >
                  <label for="group_{{group.id}}">{{group.name}}</label>
                </div>
              </li>
            </ul>
            <ul class="select-list group-list">
              <li>
                <div class="check">
                  <input
                    type="checkbox"
                    id="group_0"
                    name="membership"
                    value="0"
                    ng-model="selectedGroup[0]"
                    checked
                    >
                  <label for="group_0">All</label>
                </div>
              </li>
            </ul>
          </div>
          <div ng-if="modalErrorMessage" class="form_error" align="center">{{modalErrorMessage}}</div>
          <button type="button" class="custom-btn" ng-click="addContact()">add</button>
       <div class="clearfix"></div>
       </div>
      </div>
    </div>
  </div>
  <div class="modal-background"></div>
</modal>

<modal id="profile-alert-content">
   <div class="modal create-items-popup profile-showcase alert-popup">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header" style="color:white !important;">
            <h2>{{groupAlertTitle}}</h2>
         </div>
         <div class="modal-body text-center">
           <div style="margin-top:20px;margin-bottom:20px;">
             <h4 class="text-center">{{groupAlertContent}}</h4>
           </div>
           <button type="button" class="custom-btn" ng-click="closeModal('profile-alert-content')">OK</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal-background"></div>
</modal>

<footer-section></footer-section>
