<!--  <script type="text/ng-template" id="activate-content.html">
 	<div class="welcome-popup text-center" id="welcome">
        <div class="modal-content">
            <div class="modal-header">
               <div class="modal-body">
			      <div class="text-center popup-logo"><img ng-src="{{ 'image/popup-logo.png' | createImagePath }}" width="139" height="117" alt=""/></div>
			        <h2>{{ $ctrl.modalData.modalTitle }}</h2>
			        <p>{{ $ctrl.modalData.modalMessage }}</p>
			        <button class="custom-btn" ng-click="$ctrl.close(); $ctrl.modalData.modalAction();">Continue</button></a>
			   </div>
			</div>
	    </div>
  	</div>
</script> -->

<modal id="activate-content">
   <div class="modal create-items-popup profile-showcase alert-popup">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header" style="color:white !important;">
            <h2>{{showAlertTitle}}</h2>
         </div>
         <div class="modal-body text-center">
         	<div class="text-center popup-logo"><img ng-src="{{ 'image/popup-logo.png' | createImagePath }}" width="139" height="117" alt=""/></div>
           <div style="margin-top:20px;margin-bottom:20px;">
             <h4 class="text-center">{{showAlertContent}}</h4>
           </div>
           <button type="button" class="custom-btn" ng-click="gotoStep1()">OK</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal-background"></div>
</modal>