<figure style="background-image:url(/image/login-profile-bg.jpg)" class="cover profile-cover"></figure>

<nevbar-section></nevbar-section>
  <div id="content" class="login-profile-main">
    <div class="login-profile-content">
      <div class="login-profile-inside">
        <div class="login-profile-cnt">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="login-profile-col">
                  <h3>Create <br>

Your Profile - {{user.subscription_name}}</h3>
                  <p>To empower and connect people, families, communities, teams and businesses in unique and useful ways to improve everyday life</p>
                </div>
                <!--login-profile-col-->
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 pull-right">
                <div class="box2 step-box">
                 <div class="box2-header text-center">
                 	<div class="profile-user"><img ng-src="/image/popup-user.png" class="img-circle" alt=""/></div>
                 	<span class="step">02 Step</span>
                 </div><!--box2-header-->

                  <form name="Form" class="login-profile-form">
                    <div class="form-group">
                      <input type="text" class="form-control" name="company_name" placeholder="Company Name" ng-model="form.company_name" required-error-message="Please enter your company name" validator="required">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" name="website" placeholder="Website" ng-model="form.website" required-error-message="Please enter your company website"  validator="required">
                    </div>
                        <div class="form-group">
                      <input type="text" class="form-control" name="phone_number" placeholder="Phone Number" ng-model="form.phone_number" required-error-message="Please enter your phone number"  validator="required">
                    </div>
                        <div class="form-group">
                      <input type="text" class="form-control" name="business_hour" placeholder="Business Hours" ng-model="form.business_hour" required-error-message="Please enter your business hours"  validator="required">
                    </div>
                    <div class="row">
                    	<div class="col-md-6">
                    	 <button type="button" ng-click="form.skip(Form)"  class="custom-btn">SKIP</button>
                      </div>
                    	<div class="col-md-6">
                    	 <button type="button"   ng-click="form.submit(Form)" class="custom-btn">Next</button
                       </div>
                     </div>
                   </form>
                </div>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--content-->

  <footer-section></footer-section>
