<figure style="background-image:url({{ 'image/login-profile-bg.jpg' | createImagePath }})" class="cover profile-cover"></figure>

<nevbar-section></nevbar-section>
  <div id="content" class="login-profile-main">
    <div class="login-profile-content">
      <div class="login-profile-inside">
        <div class="login-profile-cnt">
          <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="login-profile-col">
                  <h3>Create <br>

Your Profile - {{user.subscription_name}}</h3>
                  <p>To empower and connect people, families, communities, teams and businesses in unique and useful ways to improve everyday life</p>
                </div>
                <!--login-profile-col-->
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 pull-right">
                <div class="box2 step-box">
                 <div class="box2-header text-center">
                 <div class="profile-user"><img ng-src="{{ (form.profile_image) ? form.profile_image : 'image/popup-user.png' | createImagePath }}" class="img-circle" alt=""/></div>
                 	<span class="step">01 Step</span>

                    <div class="add-image pull-right">
                      <span>ADD IMAGE</span>
                      <input type="file" class="imgInp ng-pristine ng-valid ng-empty ng-touched" ng-model="form.profile_image" accept="image/*" app-filereader="">
                    </div>

                 </div><!--box2-header-->
					        <form name="Form" class="login-profile-form">
                      <div class="form-group">
                        <input type="text" class="form-control stage-1" placeholder="Name" name="fullName" ng-model="user.name" readonly>
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control stage-1" placeholder="Email" name="email" ng-model="user.email" readonly>
                      </div>
                      <div class="form-group">
                        <select class="form-control" ng-model="form.gender"  name="gender" required-error-message="Please select your gender" validator="required">
                          <option value="" disabled>Gender</option>
                          <option value="{{gender.id}}" ng-repeat="gender in genderList">{{gender.value}}</option>
                        </select>
                      </div>
                      <datepicker date-format="yyyy-MM-dd" selector="form-control" date-max-limit="{{currentDate | date}}" date-set="{{nowDate | date}}">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="DOB"  ng-model="form.dob" name="dob" />
                        </div>
                      </datepicker>
                      <br/>
                      <br/>
                      <br/>

                      <div class="form-group">
                        <!-- <input type="text" class="form-control" placeholder="Country" ng-model="form.country"  name="country" validator="required"> -->
                        <select class="form-control" name="country" ng-model="form.country" required-error-message="Please select your country"  ng-change="getProvince(form.country)" validator="required">
                          <option value="" disabled>Country</option>
                          <option ng-repeat="country in countryList" value="{{country.id}}">{{country.name}}</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <!-- <input type="text" class="form-control" placeholder="State / Province" ng-model="form.province"  name="province" validator="required"> -->
                        <select class="form-control"  ng-model="form.province"  name="province" required-error-message="Please select your province" ng-change="getCity(form.province)" ng-disabled="!activeProvince" validator="required">
                          <option value="" disabled>Province</option>
                          <option ng-repeat="province in provinceList" value="{{province.id}}">{{province.name}}</option>
                        </select>
                      </div>

                      <div class="form-group">
                       <!--  <input type="text" class="form-control" placeholder="City"  ng-model="form.city"  name="city" validator="required"> -->
                       <select class="form-control" ng-model="form.city"  name="city" required-error-message="Please select your city" ng-disabled="!activeCity" validator="required">
                          <option value="" disabled>City</option>
                          <option ng-repeat="city in cityList" value="{{city.id}}">{{city.name}}</option>
                        </select>
                      </div>

                      <button   ng-click="form.submit(Form)" class="custom-btn">Next</button></a>
                   </form>
                </div>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<footer-section></footer-section>
