
<figure style="background-image:url({{ 'image/login-profile-bg.jpg' | createImagePath }})" class="cover profile-cover"></figure>

  <nevbar-section></nevbar-section>
  <div id="content" class="login-profile-main">
    <div class="login-profile-content">
      <div class="login-profile-inside">
        <div class="login-profile-cnt">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="box2 select-membership">
                  <div class="row">
                    <div class="col-md-12">
                      <h2>Select Membership</h2>
                      <ul class="select-list">

                        <li ng-repeat="subscription in subscriptions">
                          <div class="check">
                            <input type="checkbox" id="{{subscription.id}}" value="{{subscription.name}}" class="check-input" ng-model="subscription_name" subscription-checkbox ng-checked = "subscription_name == subscription.name" ng-click="updateSubscriptionType(subscription)">
                            <label for="{{subscription.id}}">{{subscription.name}}</label>
                          </div>
                        </li>

                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <h2>Select Membership</h2>
                      <ul class="select-list">

                        <li ng-repeat="membership in memberships">
                          <div class="check">
                            <input type="checkbox" id="{{membership.id}}" class="check-input2" value="{{membership.name}}" ng-model="subscription_type" period-checkbox ng-checked = "subscription_type == membership.name" ng-click="updateSubscriptionPeriod(membership)">
                            <label for="{{membership.id}}">{{membership.name}}</label>
                          </div>
                        </li>

                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <h2>Total Price</h2>
                      <p>$ {{subscription_amount}}  / {{subscription_type}} </p>
                    </div>
                  </div>
                </div>
                <div style="clear: both;"></div>
              </div>
              <!--select-membership-->

              <div class="col-md-4 col-sm-6 col-xs-12 pull-right">
                <div class="box2 join">
                  <h4>Or Sign up with</h4>
                  <div class="social m-bottom">
                    <a href="#" class="fb"><span><img ng-src="{{ 'image/message.png' | createImagePath }}" alt=""></span>Email</a>
                    <a fb-login class="fb"><span><img ng-src="{{ 'image/fb.png' | createImagePath }}" alt=""></span>FAcebook</a>
                    <a g-login class="google"><span><img ng-src="{{ 'image/google.png' | createImagePath }}" alt=""></span>Google</a>
                    <a linked-in class="linkdin"><span><img ng-src="{{ 'image/linkdin.png' | createImagePath }}" alt=""></span>Linkedin</a> </div>
                 <form name="Form" class="login-profile-form">
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="form.fullName" name="fullName" placeholder="Full Name" required-error-message="Please enter a valid name" validator="required,minlength=2,maxlength=25,string">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="form.email"  name="email" placeholder="Email Address" required-error-message="Please provide a valid email" validator="required, email">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" ng-model="form.password"  name="password" placeholder="Password" required-error-message="Please provide a valid password"  validator="required,minlength=8,maxlength=20">
                    </div>

                    <button  ng-click="form.submit(Form)" class="custom-btn">Create Account</button>

                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--content-->

  <modal id="scedge-info-content">
   <div class="modal create-items-popup profile-showcase alert-popup">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header" style="color:white !important;">
            <h2>{{groupAlertTitle}}</h2>
         </div>
         <div class="modal-body text-center">
          <div class="text-center popup-logo"><img ng-src="{{ 'image/popup-logo.png' | createImagePath }}" width="139" height="117" alt=""/></div>
           <div style="margin-top:20px;margin-bottom:20px;">
             <h4 class="text-center">{{groupAlertContent}}</h4>
           </div>
           <button type="button" class="custom-btn" ng-click="gotoLogin()">Continue</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal-background"></div>
</modal>


  <footer-section></footer-section>
