
<figure style="background-image:url({{'image/login-profile-bg.jpg' | createImagePath}})" class="cover profile-cover"></figure>

  <nevbar-section></nevbar-section>
  <div id="content" class="login-profile-main">
    <div class="login-profile-content">
      <div class="login-profile-inside">
        <div class="login-profile-cnt">
          <div class="container">
            <div class="row">
              <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="login-profile-col">
                  <h3>SCEDGE</h3>
                  <p>To empower and connect people, families,
                    communities, teams and businesses in unique
                    and useful ways to improve everyday life.</p>
                </div>
                <!--login-profile-col-->
              </div>
              <div ng-show="!forgotPasswordFlag" class="col-md-4 col-sm-5 col-xs-12 pull-right">
                <div class="box2">
                  <h3>Log In to <span>Scedge</span><small>Enter your details below.</small></h3>
                  <form  name="loginForm" class="login-profile-form">
                    <div class="form-group">
                      <input type="text" name="email" class="form-control"
                          placeholder="Email Address"
                          ng-model="email"
                          validator="required,email"

                          required-error-message="Please enter a valid email"
                          email-error-message="Please enter a valid email"
                          >
                    </div>
                    <div class="form-group">
                      <input required-error-message="Please enter password"
                              ng-show="!showPassword"
                              type="password"
                              name="password"
                              class="form-control"
                              placeholder="Password"
                              ng-model="password"
                              key-enter="login()"
                              validator="required">
                      <input ng-show="showPassword" type="text" name="password-text" class="form-control" placeholder="Password"  ng-model="password" key-enter="login()" validator="required">
                      <span ng-if="!showPassword" class="fa fa-eye showpass" ng-click="showUserPassword(true)"></span>
                      <span ng-if="showPassword" class="fa fa-eye-slash showpass" ng-click="showUserPassword(false)"></span>
                    </div>
                    <div class="form-group">
                        <a ng-click="activateForgotPassword()" style="cursor: pointer;">Forgot your password?</a>
                    </div>
                    <div class="form-group">
                        <a ui-sref="verification()" style="cursor: pointer;">Resend verfication code?</a>
                    </div>
                    <div ng-if="message || loginError" class="form-group">
                         <span ng-if="message" class="form_error">{{message}}</span>
                         <span ng-if="loginError" class="form_error">{{loginError}}</span>
                    </div>

                    <div class="form-group">
                   <button type="button" validation-submit="loginForm" class="custom-btn" ng-click="login()">Log In </button>
                    </div>
                  </form>
                </div>
               <div class="box2">
                  <h4>Or Login with</h4>
               <div class="social">
                <a fb-login class="fb"><span><img ng-src="{{ 'image/fb.png' | createImagePath }}" alt=""></span>FAcebook</a>
                <a g-login class="google"><span><img ng-src="{{ 'image/google.png' | createImagePath }}" alt=""></span>Google</a>
                <a linked-in class="linkdin"><span><img ng-src="{{ 'image/linkdin.png' | createImagePath }}" alt=""></span>Linkedin</a>
                </div>
                </div>

                <div class="text-center join-now">Don't have an account? <a ui-sref="join">Join Now!</a></div>
              </div>

              <div ng-show="forgotPasswordFlag" class="col-md-4 col-sm-5 col-xs-12 pull-right">
                <div class="box2">
                  <h3>Forgot Password<small>Enter your details below.</small></h3>
                  <form name="forgotPasswordForm" class="login-profile-form">
                    <div class="form-group">
                      <input type="text" class="form-control" name="resetPasswordEmail" placeholder="Email Address" ng-model="resetPasswordEmail" validator="required,email">
                    </div>
                     <div class="form-group pull-right">
                        <a ng-click="deActivateForgotPassword()" style="cursor: pointer;">Login</a>
                    </div>
                     <button type="button" validation-submit="forgotPasswordForm" class="custom-btn" ng-click="resetPassword()">Reset Password</button>
                  </form>
                </div>
               <div class="box2">
                  <h4>Or Login with</h4>
               <div class="social">
                <a fb-login class="fb"><span><img ng-src="{{ 'image/fb.png' | createImagePath }}" alt=""></span>FAcebook</a>
                <a g-login class="google"><span><img ng-src="{{ 'image/google.png' | createImagePath }}" alt=""></span>Google</a>
                <a linked-in class="linkdin"><span><img ng-src="{{ 'image/linkdin.png' | createImagePath }}" alt=""></span>Linkedin</a>
                </div>
                </div>

                <div class="text-center join-now">Don't have an account? <a ui-sref="join">Join Now!</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--content-->

  <modal id="scedge-logininfo-content">
   <div class="modal create-items-popup profile-showcase alert-popup">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header" style="color:white !important;">
            <h2>{{groupAlertTitle}}</h2>
         </div>
         <div class="modal-body text-center">
          <div class="text-center popup-logo"><img ng-src="{{ 'image/popup-logo.png' | createImagePath }}" width="139" height="117" alt=""/></div>
           <div style="margin-top:20px;margin-bottom:20px;">
             <h4 class="text-center">{{groupAlertContent}}</h4>
           </div>
           <button type="button" class="custom-btn" ng-click="groupAlertAction()">Continue</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal-background"></div>
  </modal>


  <footer-section></footer-section>
