<nevbar-section></nevbar-section>
  <div id="banner" class="front-banner">
    <figure style="background-image:url({{ 'image/front-banner.jpg' | createImagePath }})" class="cover"></figure>
    <div class="banner-inside">
      <div class="container">
        <div class="step-section text-center">
          <h1>Fill Some simple step</h1>
          <ul class="steps">
            <li ng-class="{'active' : (paymentStep == 1)}" class="step1"> <a href="#">
              <div class="circle"> <span>01</span>STEP </div>
              <p>Order Summary</p>
              </a> </li>
            <li ng-class="{'active' : (paymentStep == 2)}" class="step2"> <a href="#">
              <div class="circle"> <span>02</span>STEP </div>
              <p>Billing Details</p>
              </a> </li>
            <li ng-class="{'active' : (paymentStep == 3)}" class="step3"> <a href="#" data-toggle="modal" data-target="#confirmation">
              <div class="circle"> <span>03</span>STEP </div>
              <p>Confirmation</p>
              </a> </li>
          </ul>
        </div>
        <!--step-section--> 
      </div>
    </div>
  </div>
  <!--banner-->
  
  <div id="content" class="main-content">
    <div class="container">
      <div class="row">

        <div class="col-md-4 col-sm-4 col-xs-12">
        
          <div  ng-class="{'disable-content' : (paymentStep != 1)}" class="box order-summary">
           <div class="order-summary-inside">
           	 <h1 class="title"> <small>Order </small> Summary </h1>
            
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Membership type" ng-model="user.subscription_name" readonly="">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Billing"  ng-model="user.subscription_type" readonly="">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Total Amount"  ng-model="user.subscription_amount" readonly="">
              </div>
              <a ng-click="confirmPayment()" class="custom-btn confirm-pay">Confirm & Pay</a>
            
           </div>
           </div>
          <!--order-summary--> 
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div ng-class="{'disable-content' : (paymentStep != 2)}" class="box bill-details">
           <div class="bill-details-inside">
           	<h1 class="title"><small>Fill your</small> Bill Details</h1>
            <form name="Form" >
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 bill-details-col">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Full Name *" ng-model="form.name" name="name" validator="required">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Credit Card Number *" ng-model="form.number" name="number" validator="required">
                  </div>
                  
                    <!-- <input type="text" class="form-control" placeholder="Expiration Date" ng-model="form.exp_date" validator="required"> -->

                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Expiration Date (mm/yyyy) *" name="exp_date"  ng-model="form.exp_date" validator="required">
                      </div>        
                  
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="CVC *" ng-model="form.cvc" name="cvv" validator="required">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Address Line 1 *" ng-model="form.address_line1" name="address_line1" validator="required">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 bill-details-col">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Country *" ng-model="form.address_line2" name="country" validator="required">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="
City *" ng-model="form.address_city" name="address_city" validator="required">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Province *" ng-model="form.address_state" name="address_state" ng-model="form.expirationDate" validator="required">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Postal code *" ng-model="form.address_zip" name="address_zip" validator="required"s>
                  </div>
                  <div ng-if="errorMessage" align="center" class="form_error">{{errorMessage}}</div>
                  <button  ng-click="form.submit(Form)" class="custom-btn pay-now">Pay Now</button>
                </div>
              </div>
            </form>
           </div>
           </div>
          <!--bill-details--> 
        </div>
      </div>
    </div>
  </div>
  <!--content-->
  
  <footer-section></footer-section>
  
  <!-- confirmation -->
  <!-- <script type="text/ng-template" id="success-process.html">
    <div class="confirmation">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close custom-close" ng-click="$ctrl.close()"><img ng-src="{{ 'image/close.png' | createImagePath }}" alt=""></button>
            <h4 class="modal-title" id="myModalLabel">Payment 
              Confirmation </h4>
          </div>
          <div class="modal-body">
            <p>Thank you! Your payment was 
              successfully processed</p>
            <button ng-click="$ctrl.modalData.modalAction($ctrl)" type="button" class="custom-btn">create my first Item</button>
            
          </div>
        </div>
    </div>
  </script> -->
  <modal id="success-process">
   <div class="modal create-items-popup profile-showcase alert-popup">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header" style="color:white !important;">
            <h2>Payment 
              Confirmation</h2>
         </div>
         <div class="modal-body text-center">
           <div style="margin-top:20px;margin-bottom:20px;">
             <h4 class="text-center">Thank you! Your payment was 
              successfully processed</h4>
           </div>
           <button type="button" class="custom-btn" ng-click="completePayment()">OK</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal-background"></div>
</modal>
  
</div>
