
<figure style="background-image:url({{'image/login-profile-bg.jpg' | createImagePath}})" class="cover profile-cover"></figure>

  <nevbar-section></nevbar-section>
  <div id="content" class="login-profile-main">
    <div class="login-profile-content">
      <div class="login-profile-inside">
        <div class="login-profile-cnt">
          <div class="container">
            <div class="row">
              <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="login-profile-col">
                  <h3>SCEDGE</h3>
                  <p>To empower and connect people, families,
                    communities, teams and businesses in unique
                    and useful ways to improve everyday life.</p>
                </div>
                <!--login-profile-col-->
              </div>

              <div class="col-md-4 col-sm-5 col-xs-12 pull-right">
                <div class="box2">
                  <h3>Resend Activation<small>Enter your details below.</small></h3>
                  <form name="resendActivationForm" class="login-profile-form">
                    <div class="form-group">
                      <input type="text" class="form-control" name="email" placeholder="Email Address" ng-model="email" validator="required,email">
                    </div>
                     <div class="form-group pull-right">
                        Have account ? <a ui-sref="login()" style="cursor: pointer;">Login</a>
                    </div>
                     <button type="button" validation-submit="resendActivationForm" class="custom-btn" ng-click="resendActivationCode()">Resend Code</button>
                  </form>
                </div>
                <div class="text-center join-now">Don't have an account? <a ui-sref="join">Join Now!</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--content-->

  <modal id="scedge-logininfo-content">
   <div class="modal create-items-popup profile-showcase alert-popup">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header" style="color:white !important;">
            <h2>{{groupAlertTitle}}</h2>
         </div>
         <div class="modal-body text-center">
          <div class="text-center popup-logo"><img ng-src="{{ 'image/popup-logo.png' | createImagePath }}" width="139" height="117" alt=""/></div>
           <div style="margin-top:20px;margin-bottom:20px;">
             <h4 class="text-center">{{groupAlertContent}}</h4>
           </div>
           <button type="button" class="custom-btn" ng-click="groupAlertAction()">Continue</button>
         </div>
       </div>
     </div>
   </div>
   <div class="modal-background"></div>
  </modal>


  <footer-section></footer-section>
