<nevbar-section></nevbar-section>

<div id="content">
     <div class="bottom-content clearfix">
       <div class="bottom-cnt">
         <div class="container">
          <h3>About</h3>
          <div class="tab-inside-cnt">
            <p> SCEDGE is your own super connected cloud service that you can customize for all kinds of personal,
            professional, and business purposes. It’s very powerful, flexible, and easy to use.
            You simply create anything you want, like grocery lists, to do lists, appointments, schedules, photo
            albums, journals, recipes, projects, inventories, buy &amp; sell listings, product catalogues, flyers, collections of your
            favorite things or anything else you can imagine! Create unlimited items within other items (or lists within lists) for
            endless possibilities of what you can create and how you can manage anything in your life or business.
            You can send items directly to your contacts and synchronize items to collaborate with ease on anything
            you want to manage together. You can also share items on a public showcase for anyone to save and use for their
            own purposes. You can even create and control “Live Items” that instantly update for people whenever you make
            changes.</p>
            <p>
            Need a little help or inspiration? No problem! You can search and browse items that others have shared
            then save the ones you want to any of your own personal collections!
            So, whether you are a social butterfly, an ambitious entrepreneur, or anything in between, there are
            plenty of ways you can use SCEDGE to get more out of the internet, and your life! You’re welcome!</p>
          </div>
        </div>
      </div>
     </div>
  </div>

  <footer-section></footer-section>
