<div id="banner" class="compass-banner">
            <figure style="background-image:url({{'image/banner-bg2.jpg' | createImagePath }})" class="cover"></figure>
            <div class="container">
            <div class="banner-head">
                   <div class="row">
                 <div class="col-md-12">
                  <div class="pie-content text text-center">
                    <h3>Your Life in the Cloud</h3>
                        <p>To empower and connect people, families, teams, communities, and businesses in useful ways to improve everyday life.</p>
                   </div>
                  <!--pie-content-->
                </div>
              </div>

            </div><!--banner-head-->
              <div class="row"  id="aboutScroll">
                <div class="col-md-5">
                  <div class="compass compass2" ng-class="{'tab1' : (currentTab == 'tab1'), 'tab2' : (currentTab == 'tab2'), 'tab3' : (currentTab == 'tab3'), 'tab4' : (currentTab == 'tab4')}">
                   <span data="#tab1" class="pie personal"><a ng-click="currentSection('tab1')">Personal</a></span>
                    <span data="#tab2" class="pie team-community"><a  ng-click="currentSection('tab2')">Team & Community</a></span>
                    <span data="#tab3" class="pie professional-business"><a  ng-click="currentSection('tab3')">Professional & Business</a></span>
                    <span data="#tab4" class="pie family-friends"><a  ng-click="currentSection('tab4')">Family & Friends</a></span>

                    <svg class="pie-circle" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 367 366.888" enable-background="new 0 0 367 366.888" xml:space="preserve">
           <a ng-click="currentSection('tab1')"><path class="pie personal" data="#tab1" d="M183.5,126.259c17.132,0,32.495,7.54,42.978,19.47l96.762-81.168C289.582,25.06,239.472,0,183.5,0
  C127.528,0,77.417,25.06,43.76,64.561l96.762,81.168C151.005,133.799,166.367,126.259,183.5,126.259z"/></a>
             <a ng-click="currentSection('tab2')"> <path class="pie team-community" data="#tab2" d="M324.886,66.506l-96.767,81.172c7.866,9.795,12.583,22.227,12.583,35.765
  c0,13.539-4.717,25.97-12.583,35.765l96.767,81.172C351.188,268.635,367,227.886,367,183.444
  C367,139.002,351.188,98.253,324.886,66.506z"/></a>
           <a ng-click="currentSection('tab3')">  <path class="pie professional-business" data="#tab3" d="M183.5,240.628c-17.133,0-32.495-7.54-42.978-19.469L43.76,302.327c33.658,39.5,83.768,64.561,139.74,64.561
  c55.972,0,106.082-25.06,139.74-64.561l-96.762-81.168C215.995,233.089,200.632,240.628,183.5,240.628z"/></a>
            <a ng-click="currentSection('tab4')"> <path class="pie family-friends" data="#tab4" d="M126.298,183.444c0-13.539,4.717-25.97,12.583-35.765L42.114,66.506C15.811,98.253,0,139.002,0,183.444
  c0,44.442,15.811,85.191,42.114,116.938l96.767-81.172C131.015,209.414,126.298,196.983,126.298,183.444z"/></a>
            </svg>

            <div class="circle">&nbsp;</div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="pie-content text">
                     <div class="tab_content" ng-if="currentTab == 'tab1'">
                        <h3>PERSONAL</h3>
                         <ul>
                         <li>Manage your time, tasks, resources, contacts, ideas, or anything that interests you, super quick and easy.</li>
                         <li>Create and share useful things like buy & sell items, recipes, projects, workout routines and much more.</li>
                         <li>Browse profiles and the public feed for items of interest, then save them to your own collections.</li>
                         <li>Customize your space to be as fun, social, productive and/or professional as you like.</li>
                         <li>Connect with the world in very unique and useful ways for every area of life.</li>
                         </ul>
                       <div class="buttons-row">
                        <div class="pull-right"><a ui-sref="join({'data' : {'subscription_name' : 'FREE', 'subscription_amount' : 0, 'subscription_type' : (!subscriptionType) ? 'Monthly' : 'Annual'}})" class="rounded-btn">JOIN</a> <a href="#" ng-click="openModal('shareit-content')" class="rounded-btn">SHARE THIS</a></div>

                       </div>
                    </div>

                    <div class="tab_content"  ng-if="currentTab == 'tab4'">
                        <h3>FAMILY & FRIENDS</h3>
                            <ul>
                                <li>Stay in touch and keep everyone up to date on anything.</li>
                                <li>Share and collaborate on lists, plans, events, schedules, albums, or anything else you can imagine.</li>
                                <li>Create and share useful things like synchronized grocery lists, events, gift registries and much more.</li>
                                <li>Create contact groups for easy sharing and synchronizing of content.</li>
                            </ul>
                       <div class="buttons-row">
                        <div class="pull-right"><a ui-sref="join({'data' : {'subscription_name' : 'FREE', 'subscription_amount' : 0, 'subscription_type' : (!subscriptionType) ? 'Monthly' : 'Annual'}})" class="rounded-btn">JOIN</a> <a href="#" ng-click="openModal('shareit-content')" class="rounded-btn">SHARE THIS</a></div>

                       </div>
                    </div>

                    <div class="tab_content"  ng-if="currentTab == 'tab2'">
                        <h3>TEAM & COMMUNITY</h3>
                        <ul>
                            <li>Work smoothly together on any size of project with any size of team.</li>
                            <li>Simplify complex plans, and assign manageable groups of tasks to team members.</li>
                            <li>Manage multiple projects, events, schedules, ideas, and much more.</li>
                            <li>Share your vision with the world and build a strong network of unified people.</li>
                        </ul>

                       <div class="buttons-row">
                        <div class="pull-right"><a ui-sref="join({'data' : {'subscription_name' : 'FREE', 'subscription_amount' : 0, 'subscription_type' : (!subscriptionType) ? 'Monthly' : 'Annual'}})" class="rounded-btn">JOIN</a> <a href="#" ng-click="openModal('shareit-content')" class="rounded-btn">SHARE THIS</a></div>

                       </div>
                    </div>

                    <div class="tab_content"  ng-if="currentTab == 'tab3'">
                        <h3>BUSINESS & PROFESSIONAL</h3>
                        <ul>
                            <li>Efficiently manage projects, staff, inventories, events, and much more using one simple dashboard.</li>
                            <li>Advertise in very unique ways that mutually benefit you and your customers while maximizing sales conversions and reducing costs.</li>
                            <li>Minimize losses from organizational flaws, missed appointments/deadlines, and communication failures.</li>
                            <li>Provide real-time project oversight and automated progress reporting to your clients.</li>
                        </ul>

                       <div class="buttons-row">
                        <div class="pull-right"><a ui-sref="join({'data' : {'subscription_name' : 'FREE', 'subscription_amount' : 0, 'subscription_type' : (!subscriptionType) ? 'Monthly' : 'Annual'}})" class="rounded-btn">JOIN</a> <a href="#" ng-click="openModal('shareit-content')" class="rounded-btn">SHARE THIS</a></div>

                       </div>
                    </div>
                  </div>
                  <!--pie-content-->
                </div>
              </div>
            </div>
        </div>

<modal id="shareit-content">
  <div class="modal create-items-popup profile-showcase edit-profile-user-popup">
    <div class="modal-dialog" role="document">
      <button type="button" class="close custom-close bg-close" aria-label="Close" ng-click="closeModal('shareit-content')">
        <img ng-src="{{ 'image/close.png' | createImagePath }}" alt=""></button>
        <div class="modal-content">
          <div class="modal-header">
             <div style="color:white;">
              <h1 class="">SOCIAL SHARING</h1>
             </div>

          </div>
          <div style="padding:20px;">
            <div class="social m-bottom" align="center">

                <a style="padding:5px;cursor:pointer;" ng-click="facebookShare()" class="fb"><span><img src="{{ 'image/fb.png' | createImagePath }}" alt=""></span>Facebook</a>

                <a style="padding:5px;cursor:pointer;" ng-click="twitterShare()" class="twitter"><span><img src="{{ 'image/twitter.png' | createImagePath }}" alt=""></span>Twitter</a>
                <a style="padding:5px;cursor:pointer;" ng-click="linkedinShare()" class="linkdin"><span><img src="{{ 'image/linkdin.png' | createImagePath }}" alt=""></span>Linkedin</a>

            </div>
          </div>
        </div>
    </div>
  </div>
</modal>
