<nevbar-section></nevbar-section>

<div id="content">
    <div class="bottom-content clearfix">
      <div class="bottom-cnt">
        <div class="container">
          <h3>CONTACT US</h3>
          <div class="tab-inside-cnt text-center">
             <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer  Lorem Ipsum. </p>
                  <div class="contact-row row-fluid">
              <div style="clear:both;"></div>
              <div class="col-md-4 col-sm-4 col-xs-12 contact-block go-fade-in" style="opacity: 1;">
                <div class="contact-icon" style="font-size: 25px;"> <i class="fa fa-mobile-phone"></i> </div>
                <div class="contact-text"> Call us at<br>
                  11199-19-11 </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 contact-block go-fade-in" style="opacity: 1;">
                <div class="contact-icon"> <i class="fa fa-map-marker"></i> </div>
                <div class="contact-text"> 71 Pilgrim Avenue <br>

Chevy Chase, MD 20815</div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 contact-block go-fade-in" style="opacity: 1;">
                <div class="contact-icon"> <i class="fa fa-envelope"></i> </div>
                <div class="contact-text"> Email us at<br>
                  <a href="mailto:hello@cleverbirds.com">hello@scedge.com</a> </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <footer-section></footer-section>
