<footer id="footer" class="login-profile">
    <div class="container">
      <div class="col-md-9 col-sm-8 col-xs-12 ftr-col-left">
        <div class="copyright">Copyright 2017, Scedge Inc.</div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12 ftr-col-right pull-right">
        <div class="social pull-right"> <a ui-sref="myItem()" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="#" class="link"><i class="fa fa-linkedin" aria-hidden="true"></i></a> <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a> </div>
        <!--social--> 
      </div>
    </div>
</footer>