<div class="feature-slide-outside">
  <div class="feature-slide">
    <div  ng-if="!hasGroup"  class="item" ng-click="filterResult({'group' : ''})">
      <div class="feature-col">
   <div class="cover" style="background-image:url({{ 'image/add-item.jpg' | createImagePath }});"></div>
         <div class="col-inside">
          <div>
            <h3><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;All</h3>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="hasGroup" class="item" ng-click="filterGroup({'group' : ''})">
      <div class="feature-col">
   <div class="cover" style="background-image:url({{ 'image/add-item.jpg' | createImagePath }});"></div>
       <div class="col-inside">
          <div>
            <h3><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;All</h3>
          </div>
        </div>
      </div>
    </div>


    <div ng-repeat="group in groupItem"
          id="item-group-{{group.id}}"
          class="item"
          ng-class= "{active : (selectedItem == group.id)}"
          style="display:none"
          >
      <a ui-sref="myItem({groupId: group.id})"><div class="feature-col">

   <div class="cover" style="background-image:url({{ group.image }});"></div>
    <div class="col-inside">
          <div>
            <h3 ng-if="group.name.length > 15">{{group.name | limitTo: 15}}...</h3>
            <h3  ng-if="group.name.length <= 15">{{group.name}}</h3>
          </div>
        </div>
      </div></a>
    </div>

  </div>
  <!--feature-slide-->
</div>
