<nevbar-section></nevbar-section>
<banner-section></banner-section>

<div id="content">
    <div class="subnav">
        <div class="container">
            <ul>
                <li ng-class="{ active: (contentType == 'pricing')}"><a href="compass-price.html"
                                                                        ng-click="changeContentType('pricing')">Features</a>
                </li>
                <li ng-class="{ active: (contentType == 'companyinfo')}"><a href="compass-team.html"
                                                                            ng-click="changeContentType('companyinfo')">Company
                    Info</a></li>
            </ul>
        </div>
    </div>
    <div ng-if="(contentType == 'pricing')" class="bottom-content clearfix">
        <div class="bottom-cnt">
            <div class="container">
                <h3>Pricing
                    <div class="feature-btn">
                        <input type="checkbox" id="radio" value="monthly" ng-model="subscriptionType">
                        <label for="radio"><span class="monthly active">monthly</span> <span
                                class="annual">annual</span></label>
                    </div>
                </h3>
                <div class="tab-inside-cnt personal-content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="pricing-col free-loader">
                                <div class="pricing-head">Free</div>
                                <!--pricing-head-->
                                <ul>
                                    <li>Unlimited Items</li>
                                    <li>Basic Properties</li>
                                    <li>Unlimited Sub-Items (Lists Within Lists)</li>
                                    <li>Share Items on Public Showcase</li>
                                    <li>Browse and Save Items from Feed/Showcases</li>
                                    <li>Unlimited Contacts &amp; Groups</li>
                                    <li>Messaging</li>
                                    <li>Send Items to Contacts</li>
                                    <li class="empty-li">&nbsp;</li>
                                    <li class="empty-li">&nbsp;</li>
                                    <li class="empty-li">&nbsp;</li>

                                </ul>

                                <a ui-sref="join({'data' : {'subscription_name' : 'FREE', 'subscription_amount' : 0, 'subscription_type' : (!subscriptionType) ? 'Monthly' : 'Annual'}})"
                                   class="pricing-bnt free-btn">Join </a>
                            </div>
                            <!--personal-col-->

                        </div>
                        <div class="col-md-4">
                            <div class="pricing-col personal">
                                <div class="pricing-head">Personal ({{ getSubscriptionCharges('PERSONAL',
                                    subscriptionType) }})
                                </div>
                                <!--pricing-head-->
                                <ul>
                                    <li>Unlimited Items</li>
                                    <li><b>Standard Properties</b></li>
                                    <li>Unlimited Sub-Items (Lists Within Lists)</li>
                                    <li>Share Items on Public Showcase</li>
                                    <li>Browse and Save Items from Feed/Showcases</li>
                                    <li>Unlimited Contacts &amp; Groups</li>
                                    <li>Messaging</li>
                                    <li>Send Items to Contacts</li>
                                    <li><b>Synchronize Items</b></li>
                                    <li class="empty-li">&nbsp;</li>
                                    <li class="empty-li">&nbsp;</li>
                                </ul>
                                <a ui-sref="join({'data' : {'subscription_name' : 'PERSONAL', 'subscription_amount' : presonalAmmount,'subscription_type' : (!subscriptionType) ? 'Monthly' : 'Annual'} })"
                                   class="pricing-bnt personal-btn">Join  {{ getSubscriptionSaving('PERSONAL',
                                       subscriptionType) }}</a>
                            </div>
                            <!--personal-col-->

                        </div>
                        <div class="col-md-4">
                            <div class="pricing-col professional">
                                <div class="pricing-head">PROFESSIONAL ({{ getSubscriptionCharges('PROFESSIONAL',
                                    subscriptionType) }})
                                </div>
                                <!--pricing-head-->
                                <ul>
                                    <li>Unlimited Items</li>
                                    <li><b>Advanced Properties</b></li>
                                    <li>Unlimited Sub-Items (Lists Within Lists)</li>
                                    <li>Share Items on Public Showcase</li>
                                    <li>Browse and Save Items from Feed/Showcases</li>
                                    <li>Unlimited Contacts &amp; Groups</li>
                                    <li>Messaging</li>
                                    <li>Send Items to Contacts</li>
                                    <li><b>Synchronize Items</b></li>
                                    <li><b>Create “LIVE” items</b></li>
                                    <li><b>Advanced Profile Display</b></li>
                                </ul>
                                <a ui-sref="join({'data' : {'subscription_name' : 'PROFESSIONAL', 'subscription_amount' :  professionalAmount,'subscription_type' : (!subscriptionType) ? 'Monthly' : 'Annual'}})"
                                   class="pricing-bnt professional-btn">Join {{ getSubscriptionSaving('PROFESSIONAL',
                                       subscriptionType) }}</a>
                            </div>
                            <!--personal-col-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="(contentType == 'companyinfo')" class="bottom-content clearfix">
        <div class="bottom-cnt">
            <div class="container">

                <div class="tab-row">
                <div class="tab-inside-cnt">
                <p>SCEDGE is a simple new way to manage everything in your life and business, collaborate with others,
                  and connect with the world in very useful ways. It can be as fun and social, or productive and professional as you like!
                </p>
                </div>
                </div>

              <!--<div class="tab-row">
                <h3>How it works</h3>
                <div class="tab-inside-cnt">
                <p>Create custom items, lists, and schedules for any purpose, then organize them however you want. You can create unlimited lists within lists, schedules within schedules, or any combination of items within other items to manage anything you want. You can also browse profiles and a public feed where you can save items for your own purposes.
                Share items directly with your contacts, or on your profile and a public feed where the rest of the world can browse and save your items for their own purposes. Share, collaborate, and synchronize items with anyone you want. You can even make "Live" items that update instantly for everyone if you make any changes.

                So, whether you are a super-achieving business person, a social butterfly, or anything in between, SCEDGE has plenty to offer!.</p>
                </div>
              </div>-->

                <div class="tab-row">
                    <h3>Founder / CEO</h3>
                    <div class="tab-inside-cnt">
                        <div class="founder-row">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="discription-col">
                                        <h4>Nathan Loder</h4>
                                        <h5>CEO &amp; Founder </h5>
                                        <div class="social">
                                            <a href="#" class="fb"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                            <a href="#" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                            <a href="#" class="skype"><i class="fa fa-skype" aria-hidden="true"></i></a>
                                        </div>

                                         <div class="founder-content">
                                           <div class="row">
                                                    <div class="col-md-8">
                                                    <div class="discription-col">
                                                      <p> Nathan Loder grew up in the small town of Blyth, Ontario, Canada. His vision for SCEDGE is to help make the world a better place by empowering people in the pursuit of their own passions.
                                                        .</p>
                                                           </div><!--discription-col-->

                                                     </div>
                                                       <div class="col-md-4">
                                                      <div class="image">
                                                        <img class="img-responsive creator-image" ng-src="{{ 'image/nathan-pic.png' | createImagePath }}" alt="">
                                                      </div>
                                           			  </div>
                                                    </div>

                                        </div>
                                     </div><!--discription-col-->

                                </div>
                            </div>
                        </div><!--founder-row-->
                    </div>

                    <!--  <div class="webdevelop">
                          <figure style="background-image:url({{ 'image/webdesign-development.jpg' | createImagePath }})" class="cover"></figure>
                          <div class="webdevelop-inside">
                              <a href="#" class="logo"><img ng-src="{{ 'image/webdesign-development-logo.png' | createImagePath }}"></a>
                              <h1>We <strong>Design</strong> &amp; <strong>Develop</strong> <strong>Mobile</strong> Apps</h1>
                              <p>We build strong product design &amp;Development for all devices. And this is not just interfaces</p>
                          </div> -->


                </div><!--webdevelop-->

            </div>
        </div>
    </div>
</div>
</div>
<footer-section></footer-section>
