<div id="banner" class="front-banner">
    <figure style="background-image:url({{ 'image/front-banner.jpg' | createImagePath }})" class="cover"></figure>
    <div class="banner-inside">
      <div class="container">
        <h1>My Items</h1>
        <div class="filter">
          <ul>
            <li><a href="#">All</a></li>
            <li><a href="#">Today</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="#">Sort</a></li>
            <li class="quick-add">
              <form>
                <input type="text" class="input" placeholder="Type Here">
              </form>
            </li>
          </ul>
        </div>
        <!--filter-->
        
        <div class="feature-row">
          <div class="feature-slide-outside">
            <div class="feature-slide">
              <div class="item">
                <div class="feature-col"> <img ng-src="{{ 'image/home.jpg' | createImagePath }}" class="img-responsive" alt=""/>
                  <div class="col-inside">
                    <div>
                      <h3>HOME</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="feature-col"> <img ng-src="{{ 'image/work.jpg' | createImagePath }}" class="img-responsive" alt=""/>
                  <div class="col-inside">
                    <div>
                      <h3>Work</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="feature-col"> <img ng-src="{{ 'image/home.jpg' | createImagePath }}" class="img-responsive" alt=""/>
                  <div class="col-inside">
                    <div>
                      <h3>business</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="feature-col"> <img ng-src="{{ 'image/home.jpg' | createImagePath }}" class="img-responsive" alt=""/>
                  <div class="col-inside">
                    <div>
                      <h3>HOME</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="feature-col"> <img ng-src="{{ 'image/home.jpg' | createImagePath }}" class="img-responsive" alt=""/>
                  <div class="col-inside">
                    <div>
                      <h3>work</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--feature-slide--> 
          </div>
          <!--feature-slide-outside-->
          <div class="feature-col"> <img ng-src="{{ 'image/add-item.jpg' | createImagePath }}" class="img-responsive" alt=""/>
            <div class="col-inside">
              <div ng-click="open()"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span>
                <p>Add Item</p>
              </div>
            </div>
          </div>
          <!--add-item--> 
        </div>
        <!--feature-row--> 
       </div>
    </div>
  </div>
  <!--banner-->

