<div class="navbar navbar-default custom-header" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a ui-sref="home()" class="navbar-brand"><img ng-src="{{ 'image/logo.png' | createImagePath }}" alt="logo"/></a> </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li href="#aboutScroll" du-smooth-scroll du-scrollspy offset="30"><a ui-sref="home()">About</a></li>
        <li ui-sref-active="active"><a ui-sref="join()">Join</a></li>
        <!-- <li ui-sref-active="active"><a ui-sref="contact()">Contact Us</a></li> -->

        <li ui-sref-active="active"><a ui-sref="login()">Log In</a></li>
      </ul>
    </div>
  </div>
</div>
