<div class="navbar navbar-default custom-header" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a ui-sref="myItem({'groupId' : null})" class="navbar-brand">
          <img ng-src="{{ 'image/logo-white.png' | createImagePath }}" alt="logo"></a>
        </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
         <li ui-sref-active="active"><a ui-sref="myItem()">My Items<span ng-if="notifications.item" class="badge">{{notifications.item}}</span> </a></li>
         <li ui-sref-active="active"><a ui-sref="browse()">Browse<span ng-if="notifications.browse" class="badge">{{notifications.browse}}</span> </a></li>
         <li ui-sref-active="active"><a ui-sref="myMessage({id:''})">Messages<span ng-if="notifications.message" class="badge">{{notifications.message}}</span> </a></li>
         <li ui-sref-active="active"><a ui-sref="myContact()">Contacts<span ng-if="notifications.contact" class="badge">{{notifications.contact}}</span> </a></li>
        <li class="user-display"><a ui-sref="profile()">
           <span class="user">
             <img ng-if='authUserDetail.profile_image' ng-src="{{ authUserDetail.profile_image | createImagePath }}" alt="">
             <img ng-if='!authUserDetail.profile_image' ng-src="{{ 'image/popup-user.png'  | createImagePath }}" alt="">
           </span><!--<span class="caret"></span>--></a> </li>
          </ul>
      </div>
    </div>
</div>
