<div ng-if="!group" class="profile-content" style="padding:100px 0px 100px 0px" align="center">
      <h1>You do not have any items yet. Create your first item!</h1>
      <br/>
      <button class="contact-btn" ng-click="openItem()">
              <span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span>
              &nbsp;Create Item
      </button>
</div>

<div ng-if="group" class="profile-content" style="padding:100px 0px 100px 0px" align="center">
      <h1>You do not have any sub-items in this item. Add your first sub-item!</h1>
      <br/>
      <button class="contact-btn" ng-click="openItem()">
              <span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span>
              &nbsp; Create Sub Item
      </button>
</div>
