<div style="padding:100px 0px 100px 0px" align="center">
      <!-- <h1>You don't have any item right now, <a class="text-primary" ui-sref="myItem">Click Here </a>to add an item</h1> -->
      <h1>Your showcase is empty.Create your first Showcase item !</h1>
      <!-- <button class="icon" style="width:15%;" ui-sref="myItem">Create Item</button> -->
      <div class="profile-content" style="padding:15px 0px 15px 0px" align="center">
      <button class="contact-btn" ui-sref="myItem">
              <span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span>
              &nbsp; Create Item
      </button>
      </div> 
</div>
