<div class="feature-slide-outside">
  <div class="contact-slider">
     <div ng-repeat="data in groupItem"
          id="item-group-{{data.id}}"
          class="item"
          ng-class= "{active : (selectedItem == data.id)}"
          style="display:none"
          ng-click="filterResult({'group' : data.id})">

          <div class="contact-col">
            <div class="image">
               <div class="cover cover-img" style="background-image:url({{data.profile_image}});"></div>
            </div>
            <h4 class="col-title">{{data.name | firstname}}</h4>
            <a style="cursor: pointer;" ng-click="approveConnection({id : data.owner_id})" class="approve">
              <i class="fa fa-check" aria-hidden="true"></i>
            </a>
            <a style="cursor: pointer;" ng-click="rejectConnection({id : data.owner_id})" class="reject">
              <i class="fa fa-times" aria-hidden="true"></i>
            </a>
          </div>

    </div>

  </div>
  <!--feature-slide-->
</div>
