<div class="create-items-popup" id="create-items-free" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="user"><img ng-src="{{ 'image/popup-user.png' | createImagePath }}" alt=""></div>
              <span class="info-title">FREE</span> </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Title">
                </div>
                <div class="form-group">
                  <select class="form-control">
                    <option>Date</option>
                  </select>
                </div>
                <div class="form-group">
                  <select class="form-control">
                    <option>Time</option>
                  </select>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Priority">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Address">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="City">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Province">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Country">
                </div>
                <div class="form-group"> <span class="share-title">Share on Showcase</span>
                  <div class="share-radio">
                    <input type="checkbox" id="radio" >
                    <label for="radio"></label>
                  </div>
                  <!--share-radio-->
                  <div style="clear: both;"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" placeholder="Body"></textarea>
                </div>
                <button type="submit" class="ngdialog-close">Create</button>
              </form>
            </div>
          </div>
        </div>
      </div>