/**
 *   Created on : 20 Aug, 2017, 5:26:46 PM
 *   Author     : Brainmobi
 */
.error{
    color :red;
}

#profile-image-preview ,#cover-image-preview ,#image-preview{
    width: 80px;
    height: 80px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.sorting{
    height:25px;
    width:25px
}

th { width: 223px;}

i.icon-blue {
    color: blue;
}
.succ-msg { text-align: center; font-size: large; color: green}
.err-msg { text-align: center; font-size: large; color: red}

